In [1]:
# ê¸°ë³¸ ë¼ì´ë¸ŒëŸ¬ë¦¬
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

# ê·¸ë˜í”„ ê¸°ë³¸ ì„¤ì •
plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False

# ê²½ê³  ëœ¨ì§€ ì•Šê²Œ
import warnings
warnings.filterwarnings('ignore')

#ì €ì¥ë¼ì´ë¸ŒëŸ¬ë¦¬
import pickle

# í‰ê°€í•¨ìˆ˜
# ë¶„ë¥˜ìš©
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score

# íšŒê·€ìš©
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

# í‘œì¤€í™”
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

# LabelEncoder
from sklearn.preprocessing import LabelEncoder

# ë°ì´í„°ë¥¼ í•™ìŠµìš©ê³¼ ê²€ì¦ìš©ìœ¼ë¡œ ë‚˜ëˆˆë‹¤.
from sklearn.model_selection import train_test_split

import os

In [5]:
df1 = pd.read_csv(r'C:\Users\PC\Desktop\final\open\train\7.ë§ˆì¼€íŒ…ì •ë³´\train_7_ë§ˆì¼€íŒ…ì •ë³´.csv')
df2 = pd.read_csv(r'C:\Users\PC\Desktop\final\open\train\7.ë§ˆì¼€íŒ…ì •ë³´\Segment_ë³‘í•©.csv')

In [6]:
# ì—´ ê¸°ì¤€ìœ¼ë¡œ ë‹¨ìˆœ ë³‘í•©
merged_df = pd.concat([df1.reset_index(drop=True), df2.reset_index(drop=True)], axis=1)

print("âœ… ì—´ ê¸°ì¤€ìœ¼ë¡œ concat ì™„ë£Œ")
print(merged_df.shape)
display(merged_df.head())

âœ… ì—´ ê¸°ì¤€ìœ¼ë¡œ concat ì™„ë£Œ
(2400000, 66)

,ê¸°ì¤€ë…„ì›”,ID,ì»¨íƒê±´ìˆ˜_ì¹´ë“œë¡ _TM_B0M,ì»¨íƒê±´ìˆ˜_ë¦¬ë³¼ë¹™_TM_B0M,ì»¨íƒê±´ìˆ˜_CA_TM_B0M,ì»¨íƒê±´ìˆ˜_ì´ìš©ìœ ë„_TM_B0M,ì»¨íƒê±´ìˆ˜_ì‹ ìš©ë°œê¸‰_TM_B0M,ì»¨íƒê±´ìˆ˜_ë¶€ëŒ€ì„œë¹„ìŠ¤_TM_B0M,ì»¨íƒê±´ìˆ˜_í¬ì¸íŠ¸ì†Œì§„_TM_B0M,ì»¨íƒê±´ìˆ˜_ë³´í—˜_TM_B0M,...,ì»¨íƒê±´ìˆ˜_ë¦¬ë³¼ë¹™_ë‹¹ì‚¬ì•±_R6M,ì»¨íƒê±´ìˆ˜_ì´ìš©ìœ ë„_ë‹¹ì‚¬ì•±_R6M,ì»¨íƒê±´ìˆ˜_ì±„ê¶Œ_B0M,ì»¨íƒê±´ìˆ˜_FDS_B0M,ì»¨íƒê±´ìˆ˜_ì±„ê¶Œ_R6M,ì»¨íƒê±´ìˆ˜_FDS_R6M,ìº í˜ì¸ì ‘ì´‰ê±´ìˆ˜_R12M,ìº í˜ì¸ì ‘ì´‰ì¼ìˆ˜_R12M,ID,Segment
0,201807,TRAIN_000000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1íšŒ ì´ìƒ,1ì¼ ì´ìƒ,TRAIN_000000,D
1,201807,TRAIN_000001,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,15íšŒ ì´ìƒ,10ì¼ ì´ìƒ,TRAIN_000001,E
2,201807,TRAIN_000002,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1íšŒ ì´ìƒ,1ì¼ ì´ìƒ,TRAIN_000002,C
3,201807,TRAIN_000003,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1íšŒ ì´ìƒ,1ì¼ ì´ìƒ,TRAIN_000003,D
4,201807,TRAIN_000004,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1íšŒ ì´ìƒ,1ì¼ ì´ìƒ,TRAIN_000004,E

In [9]:
# ìµœë¹ˆê°’ 98% ì´ìƒ ì œê±°í•œ ìƒˆë¡œìš´ ì»¬ëŸ¼ ë¦¬ìŠ¤íŠ¸
cols_to_drop = [
    'ì»¨íƒê±´ìˆ˜_ë¦¬ë³¼ë¹™_TM_B0M',
    'ì»¨íƒê±´ìˆ˜_ë³´í—˜_TM_B0M',
    'ì»¨íƒê±´ìˆ˜_ì¹´ë“œë¡ _LMS_B0M',
    'ì»¨íƒê±´ìˆ˜_CA_LMS_B0M',
    'ì»¨íƒê±´ìˆ˜_ë¦¬ë³¼ë¹™_LMS_B0M',
    'ì»¨íƒê±´ìˆ˜_ì¹´ë“œë¡ _EM_B0M',
    'ì»¨íƒê±´ìˆ˜_ì¹´ë“œë¡ _ì²­êµ¬ì„œ_B0M',
    'ì»¨íƒê±´ìˆ˜_CA_ì²­êµ¬ì„œ_B0M',
    'ì»¨íƒê±´ìˆ˜_ì´ìš©ìœ ë„_ë‹¹ì‚¬ì•±_B0M',
    'ì»¨íƒê±´ìˆ˜_CA_TM_R6M',
    'ì»¨íƒê±´ìˆ˜_ì‹ ìš©ë°œê¸‰_TM_R6M',
    'ì»¨íƒê±´ìˆ˜_í¬ì¸íŠ¸ì†Œì§„_TM_R6M',
    'ì»¨íƒê±´ìˆ˜_ë¦¬ë³¼ë¹™_LMS_R6M',
    'ì»¨íƒê±´ìˆ˜_ì¹´ë“œë¡ _EM_R6M',
    'ì»¨íƒê±´ìˆ˜_ì´ìš©ìœ ë„_ë‹¹ì‚¬ì•±_R6M',
    'ì»¨íƒê±´ìˆ˜_ì±„ê¶Œ_B0M',
    'Segment'
]

In [10]:
selected_df = merged_df[cols_to_drop].copy()

print("âœ… ì„ íƒí•œ ì»¬ëŸ¼ë“¤ë§Œ ë‚¨ê¸´ ë°ì´í„°í”„ë ˆì„ ìƒ˜í”Œ:")
display(selected_df.head())

âœ… ì„ íƒí•œ ì»¬ëŸ¼ë“¤ë§Œ ë‚¨ê¸´ ë°ì´í„°í”„ë ˆì„ ìƒ˜í”Œ:

,ì»¨íƒê±´ìˆ˜_ë¦¬ë³¼ë¹™_TM_B0M,ì»¨íƒê±´ìˆ˜_ë³´í—˜_TM_B0M,ì»¨íƒê±´ìˆ˜_ì¹´ë“œë¡ _LMS_B0M,ì»¨íƒê±´ìˆ˜_CA_LMS_B0M,ì»¨íƒê±´ìˆ˜_ë¦¬ë³¼ë¹™_LMS_B0M,ì»¨íƒê±´ìˆ˜_ì¹´ë“œë¡ _EM_B0M,ì»¨íƒê±´ìˆ˜_ì¹´ë“œë¡ _ì²­êµ¬ì„œ_B0M,ì»¨íƒê±´ìˆ˜_CA_ì²­êµ¬ì„œ_B0M,ì»¨íƒê±´ìˆ˜_ì´ìš©ìœ ë„_ë‹¹ì‚¬ì•±_B0M,ì»¨íƒê±´ìˆ˜_CA_TM_R6M,ì»¨íƒê±´ìˆ˜_ì‹ ìš©ë°œê¸‰_TM_R6M,ì»¨íƒê±´ìˆ˜_í¬ì¸íŠ¸ì†Œì§„_TM_R6M,ì»¨íƒê±´ìˆ˜_ë¦¬ë³¼ë¹™_LMS_R6M,ì»¨íƒê±´ìˆ˜_ì¹´ë“œë¡ _EM_R6M,ì»¨íƒê±´ìˆ˜_ì´ìš©ìœ ë„_ë‹¹ì‚¬ì•±_R6M,ì»¨íƒê±´ìˆ˜_ì±„ê¶Œ_B0M,Segment
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,D
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,E
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,C
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,D
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,E

In [11]:
selected_df['Segment'].value_counts()

Segment
E    1922052
D     349242
C     127590
A        972
B        144
Name: count, dtype: int64

In [12]:
print("âœ… ì„ íƒëœ ì»¬ëŸ¼ëª… ëª©ë¡:")
print(selected_df.columns.tolist())

âœ… ì„ íƒëœ ì»¬ëŸ¼ëª… ëª©ë¡:
['ì»¨íƒê±´ìˆ˜_ë¦¬ë³¼ë¹™_TM_B0M', 'ì»¨íƒê±´ìˆ˜_ë³´í—˜_TM_B0M', 'ì»¨íƒê±´ìˆ˜_ì¹´ë“œë¡ _LMS_B0M', 'ì»¨íƒê±´ìˆ˜_CA_LMS_B0M', 'ì»¨íƒê±´ìˆ˜_ë¦¬ë³¼ë¹™_LMS_B0M', 'ì»¨íƒê±´ìˆ˜_ì¹´ë“œë¡ _EM_B0M', 'ì»¨íƒê±´ìˆ˜_ì¹´ë“œë¡ _ì²­êµ¬ì„œ_B0M', 'ì»¨íƒê±´ìˆ˜_CA_ì²­êµ¬ì„œ_B0M', 'ì»¨íƒê±´ìˆ˜_ì´ìš©ìœ ë„_ë‹¹ì‚¬ì•±_B0M', 'ì»¨íƒê±´ìˆ˜_CA_TM_R6M', 'ì»¨íƒê±´ìˆ˜_ì‹ ìš©ë°œê¸‰_TM_R6M', 'ì»¨íƒê±´ìˆ˜_í¬ì¸íŠ¸ì†Œì§„_TM_R6M', 'ì»¨íƒê±´ìˆ˜_ë¦¬ë³¼ë¹™_LMS_R6M', 'ì»¨íƒê±´ìˆ˜_ì¹´ë“œë¡ _EM_R6M', 'ì»¨íƒê±´ìˆ˜_ì´ìš©ìœ ë„_ë‹¹ì‚¬ì•±_R6M', 'ì»¨íƒê±´ìˆ˜_ì±„ê¶Œ_B0M', 'Segment']

In [15]:
def show_segment_distribution(df, columns, segment_col='Segment'):
    """
    ê° ì»¬ëŸ¼ì˜ ê³ ìœ ê°’ë³„ë¡œ Segment ë¶„í¬ (ì¹´ìš´íŠ¸ì™€ ë¹„ìœ¨) ì¶œë ¥
    """
    for col in columns:
        print(f"\n\nğŸŸ¢ [ì»¬ëŸ¼: {col}]")
        
        # ê·¸ë£¹ë³„ ê°œìˆ˜
        count_table = df.groupby([col, segment_col]).size().unstack(fill_value=0)
        print("âœ… Count:")
        display(count_table)
        
        # ê·¸ë£¹ë³„ ë¹„ìœ¨ (row-wise ë¹„ìœ¨)
        ratio_table = count_table.div(count_table.sum(axis=0), axis=1)
        print("âœ… Ratio:")
        display(ratio_table)

In [16]:
show_segment_distribution(selected_df, cols_to_drop)

ğŸŸ¢ [ì»¬ëŸ¼: ì»¨íƒê±´ìˆ˜_ë¦¬ë³¼ë¹™_TM_B0M]
âœ… Count:

Segment            A    B       C       D        E
ì»¨íƒê±´ìˆ˜_ë¦¬ë³¼ë¹™_TM_B0M
0                972  144  127589  349242  1922041
1                  0    0       1       0        7
2                  0    0       0       0        4

âœ… Ratio:

Segment            A    B         C    D         E
ì»¨íƒê±´ìˆ˜_ë¦¬ë³¼ë¹™_TM_B0M
0                1.0  1.0  0.999992  1.0  0.999994
1                0.0  0.0  0.000008  0.0  0.000004
2                0.0  0.0  0.000000  0.0  0.000002

ğŸŸ¢ [ì»¬ëŸ¼: ì»¨íƒê±´ìˆ˜_ë³´í—˜_TM_B0M]
âœ… Count:

Segment           A    B       C       D        E
ì»¨íƒê±´ìˆ˜_ë³´í—˜_TM_B0M
0               959  137  125922  344641  1896745
1                13    7    1668    4601    25307

âœ… Ratio:

Segment                A         B         C         D         E
ì»¨íƒê±´ìˆ˜_ë³´í—˜_TM_B0M
0               0.986626  0.951389  0.986927  0.986826  0.986833
1               0.013374  0.048611  0.013073  0.013174  0.013167

ğŸŸ¢ [ì»¬ëŸ¼: ì»¨íƒê±´ìˆ˜_ì¹´ë“œë¡ _LMS_B0M]
âœ… Count:

Segment             A    B       C       D        E
ì»¨íƒê±´ìˆ˜_ì¹´ë“œë¡ _LMS_B0M
0                 972  144  127124  346603  1915343
1                   0    0     466    2639     6709

âœ… Ratio:

Segment             A    B         C         D         E
ì»¨íƒê±´ìˆ˜_ì¹´ë“œë¡ _LMS_B0M
0                 1.0  1.0  0.996348  0.992444  0.996509
1                 0.0  0.0  0.003652  0.007556  0.003491

ğŸŸ¢ [ì»¬ëŸ¼: ì»¨íƒê±´ìˆ˜_CA_LMS_B0M]
âœ… Count:

Segment            A    B       C       D        E
ì»¨íƒê±´ìˆ˜_CA_LMS_B0M
0                972  144  127589  349235  1922038
1                  0    0       0       1        6
2                  0    0       1       6        8

âœ… Ratio:

Segment            A    B         C         D         E
ì»¨íƒê±´ìˆ˜_CA_LMS_B0M
0                1.0  1.0  0.999992  0.999980  0.999993
1                0.0  0.0  0.000000  0.000003  0.000003
2                0.0  0.0  0.000008  0.000017  0.000004

ğŸŸ¢ [ì»¬ëŸ¼: ì»¨íƒê±´ìˆ˜_ë¦¬ë³¼ë¹™_LMS_B0M]
âœ… Count:

Segment             A    B       C       D        E
ì»¨íƒê±´ìˆ˜_ë¦¬ë³¼ë¹™_LMS_B0M
0                 972  144  127575  349234  1922049
1                   0    0      15       8        3

âœ… Ratio:

Segment             A    B         C         D         E
ì»¨íƒê±´ìˆ˜_ë¦¬ë³¼ë¹™_LMS_B0M
0                 1.0  1.0  0.999882  0.999977  0.999998
1                 0.0  0.0  0.000118  0.000023  0.000002

ğŸŸ¢ [ì»¬ëŸ¼: ì»¨íƒê±´ìˆ˜_ì¹´ë“œë¡ _EM_B0M]
âœ… Count:

Segment            A    B       C       D        E
ì»¨íƒê±´ìˆ˜_ì¹´ë“œë¡ _EM_B0M
0                969  144  127574  349201  1921971
1                  3    0      16      41       81

âœ… Ratio:

Segment                 A    B         C         D         E
ì»¨íƒê±´ìˆ˜_ì¹´ë“œë¡ _EM_B0M
0                0.996914  1.0  0.999875  0.999883  0.999958
1                0.003086  0.0  0.000125  0.000117  0.000042

ğŸŸ¢ [ì»¬ëŸ¼: ì»¨íƒê±´ìˆ˜_ì¹´ë“œë¡ _ì²­êµ¬ì„œ_B0M]
âœ… Count:

Segment             A    B       C       D        E
ì»¨íƒê±´ìˆ˜_ì¹´ë“œë¡ _ì²­êµ¬ì„œ_B0M
0                 972  144  127586  349235  1921998
1                   0    0       4       7       54

âœ… Ratio:

Segment             A    B         C        D         E
ì»¨íƒê±´ìˆ˜_ì¹´ë“œë¡ _ì²­êµ¬ì„œ_B0M
0                 1.0  1.0  0.999969  0.99998  0.999972
1                 0.0  0.0  0.000031  0.00002  0.000028

ğŸŸ¢ [ì»¬ëŸ¼: ì»¨íƒê±´ìˆ˜_CA_ì²­êµ¬ì„œ_B0M]
âœ… Count:

Segment            A    B       C       D        E
ì»¨íƒê±´ìˆ˜_CA_ì²­êµ¬ì„œ_B0M
0                967  144  127220  347911  1918318
2                  5    0     370    1331     3734

âœ… Ratio:

Segment                 A    B       C         D         E
ì»¨íƒê±´ìˆ˜_CA_ì²­êµ¬ì„œ_B0M
0                0.994856  1.0  0.9971  0.996189  0.998057
2                0.005144  0.0  0.0029  0.003811  0.001943

ğŸŸ¢ [ì»¬ëŸ¼: ì»¨íƒê±´ìˆ˜_ì´ìš©ìœ ë„_ë‹¹ì‚¬ì•±_B0M]
âœ… Count:

Segment              A    B       C       D        E
ì»¨íƒê±´ìˆ˜_ì´ìš©ìœ ë„_ë‹¹ì‚¬ì•±_B0M
0                  972  144  127576  349222  1922037
1                    0    0       9      19       10
2                    0    0       5       1        5

âœ… Ratio:

Segment              A    B         C         D         E
ì»¨íƒê±´ìˆ˜_ì´ìš©ìœ ë„_ë‹¹ì‚¬ì•±_B0M
0                  1.0  1.0  0.999890  0.999943  0.999992
1                  0.0  0.0  0.000071  0.000054  0.000005
2                  0.0  0.0  0.000039  0.000003  0.000003

ğŸŸ¢ [ì»¬ëŸ¼: ì»¨íƒê±´ìˆ˜_CA_TM_R6M]
âœ… Count:

Segment           A    B       C       D        E
ì»¨íƒê±´ìˆ˜_CA_TM_R6M
0               970  144  127482  348959  1921030
1                 0    0       7       5       36
2                 2    0      96     277      972
3                 0    0       4       1       13
4                 0    0       1       0        1

âœ… Ratio:

Segment                A    B         C         D             E
ì»¨íƒê±´ìˆ˜_CA_TM_R6M
0               0.997942  1.0  0.999154  0.999190  9.994683e-01
1               0.000000  0.0  0.000055  0.000014  1.872998e-05
2               0.002058  0.0  0.000752  0.000793  5.057095e-04
3               0.000000  0.0  0.000031  0.000003  6.763605e-06
4               0.000000  0.0  0.000008  0.000000  5.202773e-07

ğŸŸ¢ [ì»¬ëŸ¼: ì»¨íƒê±´ìˆ˜_ì‹ ìš©ë°œê¸‰_TM_R6M]
âœ… Count:

Segment             A    B       C       D        E
ì»¨íƒê±´ìˆ˜_ì‹ ìš©ë°œê¸‰_TM_R6M
0                 972  144  127559  348959  1898263
1                   0    0      31     283    23787
2                   0    0       0       0        2

âœ… Ratio:

Segment             A    B         C        D         E
ì»¨íƒê±´ìˆ˜_ì‹ ìš©ë°œê¸‰_TM_R6M
0                 1.0  1.0  0.999757  0.99919  0.987623
1                 0.0  0.0  0.000243  0.00081  0.012376
2                 0.0  0.0  0.000000  0.00000  0.000001

ğŸŸ¢ [ì»¬ëŸ¼: ì»¨íƒê±´ìˆ˜_í¬ì¸íŠ¸ì†Œì§„_TM_R6M]
âœ… Count:

Segment              A    B       C       D        E
ì»¨íƒê±´ìˆ˜_í¬ì¸íŠ¸ì†Œì§„_TM_R6M
0                  972  141  126122  345134  1912012
1                    0    3    1468    4108    10039
2                    0    0       0       0        1

âœ… Ratio:

Segment              A         B         C         D             E
ì»¨íƒê±´ìˆ˜_í¬ì¸íŠ¸ì†Œì§„_TM_R6M
0                  1.0  0.979167  0.988494  0.988237  9.947764e-01
1                  0.0  0.020833  0.011506  0.011763  5.223064e-03
2                  0.0  0.000000  0.000000  0.000000  5.202773e-07

ğŸŸ¢ [ì»¬ëŸ¼: ì»¨íƒê±´ìˆ˜_ë¦¬ë³¼ë¹™_LMS_R6M]
âœ… Count:

Segment             A    B       C       D        E
ì»¨íƒê±´ìˆ˜_ë¦¬ë³¼ë¹™_LMS_R6M
0                 968  144  127063  347408  1916201
1                   3    0     513    1704     3484
2                   1    0      14     130     2367

âœ… Ratio:

Segment                  A    B         C         D         E
ì»¨íƒê±´ìˆ˜_ë¦¬ë³¼ë¹™_LMS_R6M
0                 0.995885  1.0  0.995870  0.994749  0.996956
1                 0.003086  0.0  0.004021  0.004879  0.001813
2                 0.001029  0.0  0.000110  0.000372  0.001231

ğŸŸ¢ [ì»¬ëŸ¼: ì»¨íƒê±´ìˆ˜_ì¹´ë“œë¡ _EM_R6M]
âœ… Count:

Segment            A    B       C       D        E
ì»¨íƒê±´ìˆ˜_ì¹´ë“œë¡ _EM_R6M
0                946  136  125528  343519  1899312
1                 25    8    2057    5719    22728
2                  1    0       4       3       12
3                  0    0       1       1        0

âœ… Ratio:

Segment                 A         B         C         D         E
ì»¨íƒê±´ìˆ˜_ì¹´ë“œë¡ _EM_R6M
0                0.973251  0.944444  0.983839  0.983613  0.988169
1                0.025720  0.055556  0.016122  0.016375  0.011825
2                0.001029  0.000000  0.000031  0.000009  0.000006
3                0.000000  0.000000  0.000008  0.000003  0.000000

ğŸŸ¢ [ì»¬ëŸ¼: ì»¨íƒê±´ìˆ˜_ì´ìš©ìœ ë„_ë‹¹ì‚¬ì•±_R6M]
âœ… Count:

Segment              A    B       C       D        E
ì»¨íƒê±´ìˆ˜_ì´ìš©ìœ ë„_ë‹¹ì‚¬ì•±_R6M
0                  972  144  127497  349077  1921734
1                    0    0       7      17       10
2                    0    0       4       2        5
3                    0    0      71     136      292
4                    0    0      11      10       11

âœ… Ratio:

Segment              A    B         C         D         E
ì»¨íƒê±´ìˆ˜_ì´ìš©ìœ ë„_ë‹¹ì‚¬ì•±_R6M
0                  1.0  1.0  0.999271  0.999528  0.999835
1                  0.0  0.0  0.000055  0.000049  0.000005
2                  0.0  0.0  0.000031  0.000006  0.000003
3                  0.0  0.0  0.000556  0.000389  0.000152
4                  0.0  0.0  0.000086  0.000029  0.000006

ğŸŸ¢ [ì»¬ëŸ¼: ì»¨íƒê±´ìˆ˜_ì±„ê¶Œ_B0M]
âœ… Count:

Segment        A    B       C       D        E
ì»¨íƒê±´ìˆ˜_ì±„ê¶Œ_B0M
0            971  144  126844  346947  1912634
4              0    0      34     126      344
5              1    0     417    1385     6485
6              0    0     266     674     2325
7              0    0      28     109      262
8              0    0       1       1        2

âœ… Ratio:

Segment             A    B         C         D         E
ì»¨íƒê±´ìˆ˜_ì±„ê¶Œ_B0M
0            0.998971  1.0  0.994153  0.993429  0.995100
4            0.000000  0.0  0.000266  0.000361  0.000179
5            0.001029  0.0  0.003268  0.003966  0.003374
6            0.000000  0.0  0.002085  0.001930  0.001210
7            0.000000  0.0  0.000219  0.000312  0.000136
8            0.000000  0.0  0.000008  0.000003  0.000001

ğŸŸ¢ [ì»¬ëŸ¼: Segment]
âœ… Count:

Segment    A    B       C       D        E
Segment
A        972    0       0       0        0
B          0  144       0       0        0
C          0    0  127590       0        0
D          0    0       0  349242        0
E          0    0       0       0  1922052

âœ… Ratio:

Segment    A    B    C    D    E
Segment
A        1.0  0.0  0.0  0.0  0.0
B        0.0  1.0  0.0  0.0  0.0
C        0.0  0.0  1.0  0.0  0.0
D        0.0  0.0  0.0  1.0  0.0
E        0.0  0.0  0.0  0.0  1.0