In [1]:
import pandas as pd
import gc
import numpy as np

In [2]:
months = ["07", "08", "09", "10", "11", "12"]
monthly_list = []

for month_str in months:
    file_path = f"결측치 처리/2018{month_str}_train_1_회원정보_직장시도명행제거.csv"
    var_name = f"df{month_str}"  # ← 여기 이름을 var_name으로 맞춤

    try:
        df = pd.read_csv(file_path)
        globals()[var_name] = df
        monthly_list.append(df)
        print(f"✅ {var_name} 생성 완료 (파일: {file_path})")
    except FileNotFoundError:
        print(f"⚠️ 파일 없음: {file_path}")

✅ df07 생성 완료 (파일: 결측치 처리/201807_train_1_회원정보_직장시도명행제거.csv)
✅ df08 생성 완료 (파일: 결측치 처리/201808_train_1_회원정보_직장시도명행제거.csv)
✅ df09 생성 완료 (파일: 결측치 처리/201809_train_1_회원정보_직장시도명행제거.csv)
✅ df10 생성 완료 (파일: 결측치 처리/201810_train_1_회원정보_직장시도명행제거.csv)
✅ df11 생성 완료 (파일: 결측치 처리/201811_train_1_회원정보_직장시도명행제거.csv)
✅ df12 생성 완료 (파일: 결측치 처리/201812_train_1_회원정보_직장시도명행제거.csv)

In [3]:
merged_df = pd.concat(monthly_list, ignore_index=True)
merged_df

,기준년월,ID,남녀구분코드,연령,회원여부_이용가능,회원여부_이용가능_CA,회원여부_이용가능_카드론,소지여부_신용,소지카드수_유효_신용,소지카드수_이용가능_신용,...,할인금액_제휴연회비_B0M,청구금액_기본연회비_B0M,청구금액_제휴연회비_B0M,상품관련면제카드수_B0M,임직원면제카드수_B0M,우수회원면제카드수_B0M,기타면제카드수_B0M,카드신청건수,Life_Stage,최종카드발급경과월
0,201807,TRAIN_000000,2,40대,1,1,0,1,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(2),22
1,201807,TRAIN_000001,1,30대,1,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(1),18
2,201807,TRAIN_000002,1,30대,1,1,0,1,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀출산기,20
3,201807,TRAIN_000003,2,40대,1,1,0,1,2,2,...,0,0,0,0개,0개,0개,0개,1,자녀성장(2),17
4,201807,TRAIN_000004,2,40대,1,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,1,자녀성장(1),15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2155026,201812,TRAIN_399995,2,70대이상,1,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,노년생활,39
2155027,201812,TRAIN_399996,2,50대,1,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(2),24
2155028,201812,TRAIN_399997,1,30대,1,1,0,1,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀출산기,18
2155029,201812,TRAIN_399998,1,40대,1,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(1),27
2155030,201812,TRAIN_399999,2,40대,1,1,0,1,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(1),18

In [4]:
merged_df = merged_df.drop('Segment', axis=1)

KeyError: "['Segment'] not found in axis"

In [ ]:
merged_df.to_csv('결측치 처리/병합/train_1_회원정보_직장시도명행제거.csv', index=False, encoding='utf-8-sig')

In [ ]:
# 열어서 확인하는 용도
df2 = pd.read_csv('결측치 처리/병합/train_1_회원정보_직장시도명행제거.csv')
df2