In [1]:
# ê¸°ë³¸ ë¼ì´ë¸ŒëŸ¬ë¦¬
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

# ê·¸ë˜í”„ ê¸°ë³¸ ì„¤ì •
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 13
plt.rcParams['axes.unicode_minus'] = False

# ê²½ê³  ëœ¨ì§€ ì•Šê²Œ
import warnings
warnings.filterwarnings('ignore')

#ì €ì¥ë¼ì´ë¸ŒëŸ¬ë¦¬
import pickle

# í‰ê°€í•¨ìˆ˜
# ë¶„ë¥˜ìš©
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score

# íšŒê·€ìš©
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

# í‘œì¤€í™”
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

# LabelEncoder
from sklearn.preprocessing import LabelEncoder

# ë°ì´í„°ë¥¼ í•™ìŠµìš©ê³¼ ê²€ì¦ìš©ìœ¼ë¡œ ë‚˜ëˆˆë‹¤.
from sklearn.model_selection import train_test_split

import os

In [2]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
df1 = pd.read_csv('EDA/uniqueì œê±°/train_1_íšŒì›ì •ë³´_unique1ì œê±°_68.csv')
df2 = pd.read_csv('EDA/Segment/Segment_ë³‘í•©.csv')

In [3]:
# Segment ì»¬ëŸ¼ë§Œ ì¶”ì¶œí•´ì„œ df1ì— ë¶™ì´ê¸°
merged_df = pd.concat([df1.reset_index(drop=True), df2['Segment'].reset_index(drop=True)], axis=1)

In [4]:
merged_df

,ê¸°ì¤€ë…„ì›”,ID,ë‚¨ë…€êµ¬ë¶„ì½”ë“œ,ì—°ë ¹,íšŒì›ì—¬ë¶€_ì´ìš©ê°€ëŠ¥,íšŒì›ì—¬ë¶€_ì´ìš©ê°€ëŠ¥_CA,íšŒì›ì—¬ë¶€_ì´ìš©ê°€ëŠ¥_ì¹´ë“œë¡,ì†Œì§€ì—¬ë¶€_ì‹ ìš©,ì†Œì§€ì¹´ë“œìˆ˜_ìœ íš¨_ì‹ ìš©,ì†Œì§€ì¹´ë“œìˆ˜_ì´ìš©ê°€ëŠ¥_ì‹ ìš©,...,ì´ìš©ì—¬ë¶€_3M_í•´ì™¸ê²¸ìš©_ì‹ ìš©_ë³¸ì¸,ì—°íšŒë¹„ë°œìƒì¹´ë“œìˆ˜_B0M,ê¸°ë³¸ì—°íšŒë¹„_B0M,ì œíœ´ì—°íšŒë¹„_B0M,ì²­êµ¬ê¸ˆì•¡_ê¸°ë³¸ì—°íšŒë¹„_B0M,ì²­êµ¬ê¸ˆì•¡_ì œíœ´ì—°íšŒë¹„_B0M,ì¹´ë“œì‹ ì²­ê±´ìˆ˜,Life_Stage,ìµœì¢…ì¹´ë“œë°œê¸‰ê²½ê³¼ì›”,Segment
0,201807,TRAIN_000000,2,40ëŒ€,1,1,0,1,1,1,...,0,0ê°œ,0,0,0,0,0,ìë…€ì„±ì¥(2),22,D
1,201807,TRAIN_000001,1,30ëŒ€,1,1,1,1,1,1,...,0,0ê°œ,0,0,0,0,0,ìë…€ì„±ì¥(1),18,E
2,201807,TRAIN_000002,1,30ëŒ€,1,1,0,1,1,1,...,0,0ê°œ,0,0,0,0,0,ìë…€ì¶œì‚°ê¸°,20,C
3,201807,TRAIN_000003,2,40ëŒ€,1,1,0,1,2,2,...,1,0ê°œ,0,0,0,0,1,ìë…€ì„±ì¥(2),17,D
4,201807,TRAIN_000004,2,40ëŒ€,1,1,1,1,1,1,...,0,0ê°œ,0,0,0,0,1,ìë…€ì„±ì¥(1),15,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201812,TRAIN_399995,2,70ëŒ€ì´ìƒ,1,1,1,1,1,1,...,0,0ê°œ,0,0,0,0,0,ë…¸ë…„ìƒí™œ,39,E
2399996,201812,TRAIN_399996,2,50ëŒ€,1,1,1,1,1,1,...,1,0ê°œ,0,0,0,0,0,ìë…€ì„±ì¥(2),24,D
2399997,201812,TRAIN_399997,1,30ëŒ€,1,1,0,1,1,1,...,1,0ê°œ,0,0,0,0,0,ìë…€ì¶œì‚°ê¸°,18,C
2399998,201812,TRAIN_399998,1,40ëŒ€,1,1,1,1,1,1,...,0,0ê°œ,0,0,0,0,0,ìë…€ì„±ì¥(1),27,E
2399999,201812,TRAIN_399999,2,40ëŒ€,1,1,0,1,1,1,...,0,0ê°œ,0,0,0,0,0,ìë…€ì„±ì¥(1),18,E

In [5]:
merged_df['Segment'].value_counts(normalize=True)

Segment
E    0.800855
D    0.145517
C    0.053163
A    0.000405
B    0.000060
Name: proportion, dtype: float64

In [16]:
# ìµœë¹ˆê°’ 98% ì´ìƒ ì œê±°í•œ ì»¬ëŸ¼ í™•ì¸
cols_to_drop = [
    'ID',
    'ì´ìš©ê°€ëŠ¥ì¹´ë“œìˆ˜_ì²´í¬_ê°€ì¡±',
    'ì—°íšŒë¹„ë°œìƒì¹´ë“œìˆ˜_B0M',
    'ê¸°ë³¸ì—°íšŒë¹„_B0M',
    'ì œíœ´ì—°íšŒë¹„_B0M',
    'ì²­êµ¬ê¸ˆì•¡_ê¸°ë³¸ì—°íšŒë¹„_B0M',
    'ì²­êµ¬ê¸ˆì•¡_ì œíœ´ì—°íšŒë¹„_B0M',
    'Segment'
               ]

In [17]:
selected_df = merged_df[cols_to_drop].copy()

print("âœ… ì„ íƒí•œ ì»¬ëŸ¼ë“¤ë§Œ ë‚¨ê¸´ ë°ì´í„°í”„ë ˆì„ ìƒ˜í”Œ:")
selected_df

âœ… ì„ íƒí•œ ì»¬ëŸ¼ë“¤ë§Œ ë‚¨ê¸´ ë°ì´í„°í”„ë ˆì„ ìƒ˜í”Œ:

,ID,ì´ìš©ê°€ëŠ¥ì¹´ë“œìˆ˜_ì²´í¬_ê°€ì¡±,ì—°íšŒë¹„ë°œìƒì¹´ë“œìˆ˜_B0M,ê¸°ë³¸ì—°íšŒë¹„_B0M,ì œíœ´ì—°íšŒë¹„_B0M,ì²­êµ¬ê¸ˆì•¡_ê¸°ë³¸ì—°íšŒë¹„_B0M,ì²­êµ¬ê¸ˆì•¡_ì œíœ´ì—°íšŒë¹„_B0M,Segment
0,TRAIN_000000,0,0ê°œ,0,0,0,0,D
1,TRAIN_000001,0,0ê°œ,0,0,0,0,E
2,TRAIN_000002,0,0ê°œ,0,0,0,0,C
3,TRAIN_000003,0,0ê°œ,0,0,0,0,D
4,TRAIN_000004,0,0ê°œ,0,0,0,0,E
...,...,...,...,...,...,...,...,...
2399995,TRAIN_399995,0,0ê°œ,0,0,0,0,E
2399996,TRAIN_399996,0,0ê°œ,0,0,0,0,D
2399997,TRAIN_399997,0,0ê°œ,0,0,0,0,C
2399998,TRAIN_399998,0,0ê°œ,0,0,0,0,E
2399999,TRAIN_399999,0,0ê°œ,0,0,0,0,E

In [18]:
print("âœ… ì„ íƒëœ ì»¬ëŸ¼ëª… ëª©ë¡:")
print(selected_df.columns.tolist())

âœ… ì„ íƒëœ ì»¬ëŸ¼ëª… ëª©ë¡:
['ID', 'ì´ìš©ê°€ëŠ¥ì¹´ë“œìˆ˜_ì²´í¬_ê°€ì¡±', 'ì—°íšŒë¹„ë°œìƒì¹´ë“œìˆ˜_B0M', 'ê¸°ë³¸ì—°íšŒë¹„_B0M', 'ì œíœ´ì—°íšŒë¹„_B0M', 'ì²­êµ¬ê¸ˆì•¡_ê¸°ë³¸ì—°íšŒë¹„_B0M', 'ì²­êµ¬ê¸ˆì•¡_ì œíœ´ì—°íšŒë¹„_B0M', 'Segment']

In [19]:
def show_segment_distribution(df, columns, segment_col='Segment'):
    """
    ê° ì»¬ëŸ¼ì˜ ê³ ìœ ê°’ë³„ë¡œ Segment ë¶„í¬ (ì¹´ìš´íŠ¸ì™€ ë¹„ìœ¨) ì¶œë ¥
    """
    for col in columns:
        print(f"\n\nğŸŸ¢ [ì»¬ëŸ¼: {col}]")
        
        # ê·¸ë£¹ë³„ ê°œìˆ˜
        count_table = df.groupby([col, segment_col]).size().unstack(fill_value=0)
        print("âœ… Count:")
        display(count_table)
        
        # ê·¸ë£¹ë³„ ë¹„ìœ¨ (row-wise ë¹„ìœ¨, ë°±ë¶„ìœ¨ë¡œ ë³€í™˜)
        ratio_table = count_table.div(count_table.sum(axis=1), axis=0) * 100
        print("âœ… Ratio (%):")
        display(ratio_table.round(4))  # ë³´ê¸° ì¢‹ê²Œ ì†Œìˆ˜ì  ë‘˜ì§¸ìë¦¬ê¹Œì§€

        print(f"{col} ê°’ë³„ ë¹„ì¤‘:\n{df[col].value_counts(normalize=True)}")

In [20]:
show_segment_distribution(selected_df, cols_to_drop)

ğŸŸ¢ [ì»¬ëŸ¼: ID]
âœ… Count:

Segment       A  B  C  D  E
ID
TRAIN_000000  0  0  0  6  0
TRAIN_000001  0  0  0  0  6
TRAIN_000002  0  0  6  0  0
TRAIN_000003  0  0  0  6  0
TRAIN_000004  0  0  0  0  6
...          .. .. .. .. ..
TRAIN_399995  0  0  0  0  6
TRAIN_399996  0  0  0  6  0
TRAIN_399997  0  0  6  0  0
TRAIN_399998  0  0  0  0  6
TRAIN_399999  0  0  0  0  6

[400000 rows x 5 columns]

âœ… Ratio (%):

Segment         A    B      C      D      E
ID
TRAIN_000000  0.0  0.0    0.0  100.0    0.0
TRAIN_000001  0.0  0.0    0.0    0.0  100.0
TRAIN_000002  0.0  0.0  100.0    0.0    0.0
TRAIN_000003  0.0  0.0    0.0  100.0    0.0
TRAIN_000004  0.0  0.0    0.0    0.0  100.0
...           ...  ...    ...    ...    ...
TRAIN_399995  0.0  0.0    0.0    0.0  100.0
TRAIN_399996  0.0  0.0    0.0  100.0    0.0
TRAIN_399997  0.0  0.0  100.0    0.0    0.0
TRAIN_399998  0.0  0.0    0.0    0.0  100.0
TRAIN_399999  0.0  0.0    0.0    0.0  100.0

[400000 rows x 5 columns]

ID ê°’ë³„ ë¹„ì¤‘:
ID
TRAIN_399983    0.000003
TRAIN_399982    0.000003
TRAIN_399981    0.000003
TRAIN_399980    0.000003
TRAIN_399979    0.000003
                  ...
TRAIN_000004    0.000003
TRAIN_000003    0.000003
TRAIN_000002    0.000003
TRAIN_000001    0.000003
TRAIN_000000    0.000003
Name: proportion, Length: 400000, dtype: float64


ğŸŸ¢ [ì»¬ëŸ¼: ì´ìš©ê°€ëŠ¥ì¹´ë“œìˆ˜_ì²´í¬_ê°€ì¡±]
âœ… Count:

Segment          A    B       C       D        E
ì´ìš©ê°€ëŠ¥ì¹´ë“œìˆ˜_ì²´í¬_ê°€ì¡±
0              972  144  127588  349237  1922042
1                0    0       2       4        8
2                0    0       0       1        2

âœ… Ratio (%):

Segment             A      B        C        D        E
ì´ìš©ê°€ëŠ¥ì¹´ë“œìˆ˜_ì²´í¬_ê°€ì¡±
0              0.0405  0.006   5.3162  14.5516  80.0857
1              0.0000  0.000  14.2857  28.5714  57.1429
2              0.0000  0.000   0.0000  33.3333  66.6667

ì´ìš©ê°€ëŠ¥ì¹´ë“œìˆ˜_ì²´í¬_ê°€ì¡± ê°’ë³„ ë¹„ì¤‘:
ì´ìš©ê°€ëŠ¥ì¹´ë“œìˆ˜_ì²´í¬_ê°€ì¡±
0    0.999993
1    0.000006
2    0.000001
Name: proportion, dtype: float64


ğŸŸ¢ [ì»¬ëŸ¼: ì—°íšŒë¹„ë°œìƒì¹´ë“œìˆ˜_B0M]
âœ… Count:

Segment         A    B       C       D        E
ì—°íšŒë¹„ë°œìƒì¹´ë“œìˆ˜_B0M
0ê°œ            971  144  127094  348580  1918037
1ê°œì´ìƒ            1    0     496     662     4015

âœ… Ratio (%):

Segment            A      B       C        D        E
ì—°íšŒë¹„ë°œìƒì¹´ë“œìˆ˜_B0M
0ê°œ            0.0405  0.006  5.3070  14.5555  80.0909
1ê°œì´ìƒ          0.0193  0.000  9.5864  12.7947  77.5995

ì—°íšŒë¹„ë°œìƒì¹´ë“œìˆ˜_B0M ê°’ë³„ ë¹„ì¤‘:
ì—°íšŒë¹„ë°œìƒì¹´ë“œìˆ˜_B0M
0ê°œ      0.997844
1ê°œì´ìƒ    0.002156
Name: proportion, dtype: float64


ğŸŸ¢ [ì»¬ëŸ¼: ê¸°ë³¸ì—°íšŒë¹„_B0M]
âœ… Count:

Segment      A    B       C       D        E
ê¸°ë³¸ì—°íšŒë¹„_B0M
0          972  144  127522  348934  1919389
49           0    0       2      15        8
50           0    0      58     189      134
101          0    0       0       0        1
102          0    0       0       1        2
103          0    0       0      14       16
104          0    0       1      33       42
105          0    0       5      28       87
106          0    0       1      10      211
107          0    0       0       9      556
108          0    0       1       7      898
109          0    0       0       1      638
110          0    0       0       1       66
111          0    0       0       0        4

âœ… Ratio (%):

Segment         A      B        C        D         E
ê¸°ë³¸ì—°íšŒë¹„_B0M
0          0.0406  0.006   5.3202  14.5573   80.0759
49         0.0000  0.000   8.0000  60.0000   32.0000
50         0.0000  0.000  15.2231  49.6063   35.1706
101        0.0000  0.000   0.0000   0.0000  100.0000
102        0.0000  0.000   0.0000  33.3333   66.6667
103        0.0000  0.000   0.0000  46.6667   53.3333
104        0.0000  0.000   1.3158  43.4211   55.2632
105        0.0000  0.000   4.1667  23.3333   72.5000
106        0.0000  0.000   0.4505   4.5045   95.0450
107        0.0000  0.000   0.0000   1.5929   98.4071
108        0.0000  0.000   0.1104   0.7726   99.1170
109        0.0000  0.000   0.0000   0.1565   99.8435
110        0.0000  0.000   0.0000   1.4925   98.5075
111        0.0000  0.000   0.0000   0.0000  100.0000

ê¸°ë³¸ì—°íšŒë¹„_B0M ê°’ë³„ ë¹„ì¤‘:
ê¸°ë³¸ì—°íšŒë¹„_B0M
0      9.987337e-01
108    3.775000e-04
109    2.662500e-04
107    2.354167e-04
50     1.587500e-04
106    9.250000e-05
105    5.000000e-05
104    3.166667e-05
110    2.791667e-05
103    1.250000e-05
49     1.041667e-05
111    1.666667e-06
102    1.250000e-06
101    4.166667e-07
Name: proportion, dtype: float64


ğŸŸ¢ [ì»¬ëŸ¼: ì œíœ´ì—°íšŒë¹„_B0M]
âœ… Count:

Segment      A    B       C       D        E
ì œíœ´ì—°íšŒë¹„_B0M
0          972  144  127390  348917  1921705
29           0    0       1       1        0
30           0    0       2       1        0
149          0    0       0       0        1
150          0    0       0       1        0
949          0    0      85     158      175
950          0    0     112     164      170
951          0    0       0       0        1

âœ… Ratio (%):

Segment         A      B        C         D         E
ì œíœ´ì—°íšŒë¹„_B0M
0          0.0405  0.006   5.3098   14.5435   80.1001
29         0.0000  0.000  50.0000   50.0000    0.0000
30         0.0000  0.000  66.6667   33.3333    0.0000
149        0.0000  0.000   0.0000    0.0000  100.0000
150        0.0000  0.000   0.0000  100.0000    0.0000
949        0.0000  0.000  20.3349   37.7990   41.8660
950        0.0000  0.000  25.1121   36.7713   38.1166
951        0.0000  0.000   0.0000    0.0000  100.0000

ì œíœ´ì—°íšŒë¹„_B0M ê°’ë³„ ë¹„ì¤‘:
ì œíœ´ì—°íšŒë¹„_B0M
0      9.996367e-01
950    1.858333e-04
949    1.741667e-04
30     1.250000e-06
29     8.333333e-07
149    4.166667e-07
951    4.166667e-07
150    4.166667e-07
Name: proportion, dtype: float64


ğŸŸ¢ [ì»¬ëŸ¼: ì²­êµ¬ê¸ˆì•¡_ê¸°ë³¸ì—°íšŒë¹„_B0M]
âœ… Count:

Segment           A    B       C       D        E
ì²­êµ¬ê¸ˆì•¡_ê¸°ë³¸ì—°íšŒë¹„_B0M
0               972  144  127522  348934  1919389
49                0    0       2      15        8
50                0    0      58     189      134
101               0    0       0       0        1
102               0    0       0       1        2
103               0    0       0      14       16
104               0    0       1      33       42
105               0    0       5      28       87
106               0    0       1      10      211
107               0    0       0       9      556
108               0    0       1       7      898
109               0    0       0       1      638
110               0    0       0       1       66
111               0    0       0       0        4

âœ… Ratio (%):

Segment              A      B        C        D         E
ì²­êµ¬ê¸ˆì•¡_ê¸°ë³¸ì—°íšŒë¹„_B0M
0               0.0406  0.006   5.3202  14.5573   80.0759
49              0.0000  0.000   8.0000  60.0000   32.0000
50              0.0000  0.000  15.2231  49.6063   35.1706
101             0.0000  0.000   0.0000   0.0000  100.0000
102             0.0000  0.000   0.0000  33.3333   66.6667
103             0.0000  0.000   0.0000  46.6667   53.3333
104             0.0000  0.000   1.3158  43.4211   55.2632
105             0.0000  0.000   4.1667  23.3333   72.5000
106             0.0000  0.000   0.4505   4.5045   95.0450
107             0.0000  0.000   0.0000   1.5929   98.4071
108             0.0000  0.000   0.1104   0.7726   99.1170
109             0.0000  0.000   0.0000   0.1565   99.8435
110             0.0000  0.000   0.0000   1.4925   98.5075
111             0.0000  0.000   0.0000   0.0000  100.0000

ì²­êµ¬ê¸ˆì•¡_ê¸°ë³¸ì—°íšŒë¹„_B0M ê°’ë³„ ë¹„ì¤‘:
ì²­êµ¬ê¸ˆì•¡_ê¸°ë³¸ì—°íšŒë¹„_B0M
0      9.987337e-01
108    3.775000e-04
109    2.662500e-04
107    2.354167e-04
50     1.587500e-04
106    9.250000e-05
105    5.000000e-05
104    3.166667e-05
110    2.791667e-05
103    1.250000e-05
49     1.041667e-05
111    1.666667e-06
102    1.250000e-06
101    4.166667e-07
Name: proportion, dtype: float64


ğŸŸ¢ [ì»¬ëŸ¼: ì²­êµ¬ê¸ˆì•¡_ì œíœ´ì—°íšŒë¹„_B0M]
âœ… Count:

Segment           A    B       C       D        E
ì²­êµ¬ê¸ˆì•¡_ì œíœ´ì—°íšŒë¹„_B0M
0               972  144  127390  348917  1921705
29                0    0       1       1        0
30                0    0       2       1        0
149               0    0       0       0        1
150               0    0       0       1        0
949               0    0      85     158      175
950               0    0     112     164      170
951               0    0       0       0        1

âœ… Ratio (%):

Segment              A      B        C         D         E
ì²­êµ¬ê¸ˆì•¡_ì œíœ´ì—°íšŒë¹„_B0M
0               0.0405  0.006   5.3098   14.5435   80.1001
29              0.0000  0.000  50.0000   50.0000    0.0000
30              0.0000  0.000  66.6667   33.3333    0.0000
149             0.0000  0.000   0.0000    0.0000  100.0000
150             0.0000  0.000   0.0000  100.0000    0.0000
949             0.0000  0.000  20.3349   37.7990   41.8660
950             0.0000  0.000  25.1121   36.7713   38.1166
951             0.0000  0.000   0.0000    0.0000  100.0000

ì²­êµ¬ê¸ˆì•¡_ì œíœ´ì—°íšŒë¹„_B0M ê°’ë³„ ë¹„ì¤‘:
ì²­êµ¬ê¸ˆì•¡_ì œíœ´ì—°íšŒë¹„_B0M
0      9.996367e-01
950    1.858333e-04
949    1.741667e-04
30     1.250000e-06
29     8.333333e-07
149    4.166667e-07
951    4.166667e-07
150    4.166667e-07
Name: proportion, dtype: float64


ğŸŸ¢ [ì»¬ëŸ¼: Segment]
âœ… Count:

Segment    A    B       C       D        E
Segment
A        972    0       0       0        0
B          0  144       0       0        0
C          0    0  127590       0        0
D          0    0       0  349242        0
E          0    0       0       0  1922052

âœ… Ratio (%):

Segment      A      B      C      D      E
Segment
A        100.0    0.0    0.0    0.0    0.0
B          0.0  100.0    0.0    0.0    0.0
C          0.0    0.0  100.0    0.0    0.0
D          0.0    0.0    0.0  100.0    0.0
E          0.0    0.0    0.0    0.0  100.0

Segment ê°’ë³„ ë¹„ì¤‘:
Segment
E    0.800855
D    0.145517
C    0.053163
A    0.000405
B    0.000060
Name: proportion, dtype: float64

In [25]:
def show_segment_id_counts(df, columns, segment_col='Segment', id_col='ID'):
    """
    ê° ì»¬ëŸ¼ì˜ ê³ ìœ ê°’ë³„ë¡œ Segment ë¶„í¬ (IDì˜ ê³ ìœ  ê°œìˆ˜ ê¸°ì¤€) ì¶œë ¥
    """
    for col in columns:
        print(f"\n\nğŸŸ¢ [ì»¬ëŸ¼: {col}]")
        
        # ID ê¸°ì¤€ ê³ ìœ  ê°œìˆ˜ ê³„ì‚° (pivot í˜•íƒœ)
        count_table = (
            df.groupby([col, segment_col])[id_col]
            .nunique()
            .unstack(fill_value=0)
        )
        
        print("âœ… Unique ID Count:")
        display(count_table)
        
        # ë¹„ìœ¨ (row-wise ë¹„ìœ¨)
        ratio_table = count_table.div(count_table.sum(axis=0), axis=1) * 100
        print("âœ… Ratio (%):")
        display(ratio_table.round(4))

        print(f"{col} ê°’ë³„ ë¹„ì¤‘:\n{df[col].value_counts(normalize=True)}")

In [26]:
show_segment_id_counts(selected_df, cols_to_drop)

ğŸŸ¢ [ì»¬ëŸ¼: ID]
âœ… Unique ID Count:

Segment       A  B  C  D  E
ID
TRAIN_000000  0  0  0  1  0
TRAIN_000001  0  0  0  0  1
TRAIN_000002  0  0  1  0  0
TRAIN_000003  0  0  0  1  0
TRAIN_000004  0  0  0  0  1
...          .. .. .. .. ..
TRAIN_399995  0  0  0  0  1
TRAIN_399996  0  0  0  1  0
TRAIN_399997  0  0  1  0  0
TRAIN_399998  0  0  0  0  1
TRAIN_399999  0  0  0  0  1

[400000 rows x 5 columns]

âœ… Ratio (%):

Segment         A    B       C       D       E
ID
TRAIN_000000  0.0  0.0  0.0000  0.0017  0.0000
TRAIN_000001  0.0  0.0  0.0000  0.0000  0.0003
TRAIN_000002  0.0  0.0  0.0047  0.0000  0.0000
TRAIN_000003  0.0  0.0  0.0000  0.0017  0.0000
TRAIN_000004  0.0  0.0  0.0000  0.0000  0.0003
...           ...  ...     ...     ...     ...
TRAIN_399995  0.0  0.0  0.0000  0.0000  0.0003
TRAIN_399996  0.0  0.0  0.0000  0.0017  0.0000
TRAIN_399997  0.0  0.0  0.0047  0.0000  0.0000
TRAIN_399998  0.0  0.0  0.0000  0.0000  0.0003
TRAIN_399999  0.0  0.0  0.0000  0.0000  0.0003

[400000 rows x 5 columns]

ID ê°’ë³„ ë¹„ì¤‘:
ID
TRAIN_399983    0.000003
TRAIN_399982    0.000003
TRAIN_399981    0.000003
TRAIN_399980    0.000003
TRAIN_399979    0.000003
                  ...
TRAIN_000004    0.000003
TRAIN_000003    0.000003
TRAIN_000002    0.000003
TRAIN_000001    0.000003
TRAIN_000000    0.000003
Name: proportion, Length: 400000, dtype: float64


ğŸŸ¢ [ì»¬ëŸ¼: ì´ìš©ê°€ëŠ¥ì¹´ë“œìˆ˜_ì²´í¬_ê°€ì¡±]
âœ… Unique ID Count:

Segment          A   B      C      D       E
ì´ìš©ê°€ëŠ¥ì¹´ë“œìˆ˜_ì²´í¬_ê°€ì¡±
0              162  24  21265  58207  320342
1                0   0      2      3       5
2                0   0      0      1       1

âœ… Ratio (%):

Segment            A      B        C        D        E
ì´ìš©ê°€ëŠ¥ì¹´ë“œìˆ˜_ì²´í¬_ê°€ì¡±
0              100.0  100.0  99.9906  99.9931  99.9981
1                0.0    0.0   0.0094   0.0052   0.0016
2                0.0    0.0   0.0000   0.0017   0.0003

ì´ìš©ê°€ëŠ¥ì¹´ë“œìˆ˜_ì²´í¬_ê°€ì¡± ê°’ë³„ ë¹„ì¤‘:
ì´ìš©ê°€ëŠ¥ì¹´ë“œìˆ˜_ì²´í¬_ê°€ì¡±
0    0.999993
1    0.000006
2    0.000001
Name: proportion, dtype: float64


ğŸŸ¢ [ì»¬ëŸ¼: ì—°íšŒë¹„ë°œìƒì¹´ë“œìˆ˜_B0M]
âœ… Unique ID Count:

Segment         A   B      C      D       E
ì—°íšŒë¹„ë°œìƒì¹´ë“œìˆ˜_B0M
0ê°œ            162  24  21265  58207  320342
1ê°œì´ìƒ            1   0    411    597    3921

âœ… Ratio (%):

Segment             A      B        C        D        E
ì—°íšŒë¹„ë°œìƒì¹´ë“œìˆ˜_B0M
0ê°œ            99.3865  100.0  98.1039  98.9848  98.7908
1ê°œì´ìƒ           0.6135    0.0   1.8961   1.0152   1.2092

ì—°íšŒë¹„ë°œìƒì¹´ë“œìˆ˜_B0M ê°’ë³„ ë¹„ì¤‘:
ì—°íšŒë¹„ë°œìƒì¹´ë“œìˆ˜_B0M
0ê°œ      0.997844
1ê°œì´ìƒ    0.002156
Name: proportion, dtype: float64


ğŸŸ¢ [ì»¬ëŸ¼: ê¸°ë³¸ì—°íšŒë¹„_B0M]
âœ… Unique ID Count:

Segment      A   B      C      D       E
ê¸°ë³¸ì—°íšŒë¹„_B0M
0          162  24  21265  58207  320342
49           0   0      2     15       8
50           0   0     57    177     125
101          0   0      0      0       1
102          0   0      0      1       2
103          0   0      0     14      16
104          0   0      1     33      41
105          0   0      5     28      83
106          0   0      1     10     211
107          0   0      0      9     556
108          0   0      1      7     897
109          0   0      0      1     638
110          0   0      0      1      66
111          0   0      0      0       4

âœ… Ratio (%):

Segment        A      B        C        D        E
ê¸°ë³¸ì—°íšŒë¹„_B0M
0          100.0  100.0  99.6859  99.4940  99.1802
49           0.0    0.0   0.0094   0.0256   0.0025
50           0.0    0.0   0.2672   0.3025   0.0387
101          0.0    0.0   0.0000   0.0000   0.0003
102          0.0    0.0   0.0000   0.0017   0.0006
103          0.0    0.0   0.0000   0.0239   0.0050
104          0.0    0.0   0.0047   0.0564   0.0127
105          0.0    0.0   0.0234   0.0479   0.0257
106          0.0    0.0   0.0047   0.0171   0.0653
107          0.0    0.0   0.0000   0.0154   0.1721
108          0.0    0.0   0.0047   0.0120   0.2777
109          0.0    0.0   0.0000   0.0017   0.1975
110          0.0    0.0   0.0000   0.0017   0.0204
111          0.0    0.0   0.0000   0.0000   0.0012

ê¸°ë³¸ì—°íšŒë¹„_B0M ê°’ë³„ ë¹„ì¤‘:
ê¸°ë³¸ì—°íšŒë¹„_B0M
0      9.987337e-01
108    3.775000e-04
109    2.662500e-04
107    2.354167e-04
50     1.587500e-04
106    9.250000e-05
105    5.000000e-05
104    3.166667e-05
110    2.791667e-05
103    1.250000e-05
49     1.041667e-05
111    1.666667e-06
102    1.250000e-06
101    4.166667e-07
Name: proportion, dtype: float64


ğŸŸ¢ [ì»¬ëŸ¼: ì œíœ´ì—°íšŒë¹„_B0M]
âœ… Unique ID Count:

Segment      A   B      C      D       E
ì œíœ´ì—°íšŒë¹„_B0M
0          162  24  21265  58207  320342
29           0   0      1      1       0
30           0   0      2      1       0
149          0   0      0      0       1
150          0   0      0      1       0
949          0   0     81    154     163
950          0   0    106    149     153
951          0   0      0      0       1

âœ… Ratio (%):

Segment        A      B        C        D        E
ì œíœ´ì—°íšŒë¹„_B0M
0          100.0  100.0  99.1144  99.4770  99.9008
29           0.0    0.0   0.0047   0.0017   0.0000
30           0.0    0.0   0.0093   0.0017   0.0000
149          0.0    0.0   0.0000   0.0000   0.0003
150          0.0    0.0   0.0000   0.0017   0.0000
949          0.0    0.0   0.3775   0.2632   0.0508
950          0.0    0.0   0.4941   0.2546   0.0477
951          0.0    0.0   0.0000   0.0000   0.0003

ì œíœ´ì—°íšŒë¹„_B0M ê°’ë³„ ë¹„ì¤‘:
ì œíœ´ì—°íšŒë¹„_B0M
0      9.996367e-01
950    1.858333e-04
949    1.741667e-04
30     1.250000e-06
29     8.333333e-07
149    4.166667e-07
951    4.166667e-07
150    4.166667e-07
Name: proportion, dtype: float64


ğŸŸ¢ [ì»¬ëŸ¼: ì²­êµ¬ê¸ˆì•¡_ê¸°ë³¸ì—°íšŒë¹„_B0M]
âœ… Unique ID Count:

Segment           A   B      C      D       E
ì²­êµ¬ê¸ˆì•¡_ê¸°ë³¸ì—°íšŒë¹„_B0M
0               162  24  21265  58207  320342
49                0   0      2     15       8
50                0   0     57    177     125
101               0   0      0      0       1
102               0   0      0      1       2
103               0   0      0     14      16
104               0   0      1     33      41
105               0   0      5     28      83
106               0   0      1     10     211
107               0   0      0      9     556
108               0   0      1      7     897
109               0   0      0      1     638
110               0   0      0      1      66
111               0   0      0      0       4

âœ… Ratio (%):

Segment             A      B        C        D        E
ì²­êµ¬ê¸ˆì•¡_ê¸°ë³¸ì—°íšŒë¹„_B0M
0               100.0  100.0  99.6859  99.4940  99.1802
49                0.0    0.0   0.0094   0.0256   0.0025
50                0.0    0.0   0.2672   0.3025   0.0387
101               0.0    0.0   0.0000   0.0000   0.0003
102               0.0    0.0   0.0000   0.0017   0.0006
103               0.0    0.0   0.0000   0.0239   0.0050
104               0.0    0.0   0.0047   0.0564   0.0127
105               0.0    0.0   0.0234   0.0479   0.0257
106               0.0    0.0   0.0047   0.0171   0.0653
107               0.0    0.0   0.0000   0.0154   0.1721
108               0.0    0.0   0.0047   0.0120   0.2777
109               0.0    0.0   0.0000   0.0017   0.1975
110               0.0    0.0   0.0000   0.0017   0.0204
111               0.0    0.0   0.0000   0.0000   0.0012

ì²­êµ¬ê¸ˆì•¡_ê¸°ë³¸ì—°íšŒë¹„_B0M ê°’ë³„ ë¹„ì¤‘:
ì²­êµ¬ê¸ˆì•¡_ê¸°ë³¸ì—°íšŒë¹„_B0M
0      9.987337e-01
108    3.775000e-04
109    2.662500e-04
107    2.354167e-04
50     1.587500e-04
106    9.250000e-05
105    5.000000e-05
104    3.166667e-05
110    2.791667e-05
103    1.250000e-05
49     1.041667e-05
111    1.666667e-06
102    1.250000e-06
101    4.166667e-07
Name: proportion, dtype: float64


ğŸŸ¢ [ì»¬ëŸ¼: ì²­êµ¬ê¸ˆì•¡_ì œíœ´ì—°íšŒë¹„_B0M]
âœ… Unique ID Count:

Segment           A   B      C      D       E
ì²­êµ¬ê¸ˆì•¡_ì œíœ´ì—°íšŒë¹„_B0M
0               162  24  21265  58207  320342
29                0   0      1      1       0
30                0   0      2      1       0
149               0   0      0      0       1
150               0   0      0      1       0
949               0   0     81    154     163
950               0   0    106    149     153
951               0   0      0      0       1

âœ… Ratio (%):

Segment             A      B        C        D        E
ì²­êµ¬ê¸ˆì•¡_ì œíœ´ì—°íšŒë¹„_B0M
0               100.0  100.0  99.1144  99.4770  99.9008
29                0.0    0.0   0.0047   0.0017   0.0000
30                0.0    0.0   0.0093   0.0017   0.0000
149               0.0    0.0   0.0000   0.0000   0.0003
150               0.0    0.0   0.0000   0.0017   0.0000
949               0.0    0.0   0.3775   0.2632   0.0508
950               0.0    0.0   0.4941   0.2546   0.0477
951               0.0    0.0   0.0000   0.0000   0.0003

ì²­êµ¬ê¸ˆì•¡_ì œíœ´ì—°íšŒë¹„_B0M ê°’ë³„ ë¹„ì¤‘:
ì²­êµ¬ê¸ˆì•¡_ì œíœ´ì—°íšŒë¹„_B0M
0      9.996367e-01
950    1.858333e-04
949    1.741667e-04
30     1.250000e-06
29     8.333333e-07
149    4.166667e-07
951    4.166667e-07
150    4.166667e-07
Name: proportion, dtype: float64


ğŸŸ¢ [ì»¬ëŸ¼: Segment]
âœ… Unique ID Count:

Segment    A   B      C      D       E
Segment
A        162   0      0      0       0
B          0  24      0      0       0
C          0   0  21265      0       0
D          0   0      0  58207       0
E          0   0      0      0  320342

âœ… Ratio (%):

Segment      A      B      C      D      E
Segment
A        100.0    0.0    0.0    0.0    0.0
B          0.0  100.0    0.0    0.0    0.0
C          0.0    0.0  100.0    0.0    0.0
D          0.0    0.0    0.0  100.0    0.0
E          0.0    0.0    0.0    0.0  100.0

Segment ê°’ë³„ ë¹„ì¤‘:
Segment
E    0.800855
D    0.145517
C    0.053163
A    0.000405
B    0.000060
Name: proportion, dtype: float64