In [1]:
# ê¸°ë³¸ ë¼ì´ë¸ŒëŸ¬ë¦¬
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

# ê·¸ë˜í”„ ê¸°ë³¸ ì„¤ì •
plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False

# ê²½ê³  ëœ¨ì§€ ì•Šê²Œ
import warnings
warnings.filterwarnings('ignore')

#ì €ì¥ë¼ì´ë¸ŒëŸ¬ë¦¬
import pickle

# í‰ê°€í•¨ìˆ˜
# ë¶„ë¥˜ìš©
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score

# íšŒê·€ìš©
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

# í‘œì¤€í™”
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

# LabelEncoder
from sklearn.preprocessing import LabelEncoder

# ë°ì´í„°ë¥¼ í•™ìŠµìš©ê³¼ ê²€ì¦ìš©ìœ¼ë¡œ ë‚˜ëˆˆë‹¤.
from sklearn.model_selection import train_test_split

import os

In [2]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
df1 = pd.read_csv('EDA/uniqueì œê±°/train_3_ë§¤ì¶œì •ë³´_unique.csv')
df2 = pd.read_csv('EDA/Segment/Segment_ë³‘í•©.csv')

In [3]:
# ì—´ ê¸°ì¤€ìœ¼ë¡œ ë‹¨ìˆœ ë³‘í•©
merged_df = pd.concat([df1.reset_index(drop=True), df2.reset_index(drop=True)], axis=1)

print("âœ… ì—´ ê¸°ì¤€ìœ¼ë¡œ concat ì™„ë£Œ")
print(merged_df.shape)
display(merged_df.head())

âœ… ì—´ ê¸°ì¤€ìœ¼ë¡œ concat ì™„ë£Œ
(2400000, 383)

,ê¸°ì¤€ë…„ì›”,ID,ìµœì¢…ì´ìš©ì¼ì_ê¸°ë³¸,ìµœì¢…ì´ìš©ì¼ì_ì‹ íŒ,ìµœì¢…ì´ìš©ì¼ì_CA,ìµœì¢…ì´ìš©ì¼ì_ì¹´ë“œë¡,ìµœì¢…ì´ìš©ì¼ì_ì²´í¬,ìµœì¢…ì´ìš©ì¼ì_ì¼ì‹œë¶ˆ,ìµœì¢…ì´ìš©ì¼ì_í• ë¶€,ì´ìš©ê±´ìˆ˜_ì‹ ìš©_B0M,...,ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_BL_B0M,ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_ê¸°íƒ€_B0M,ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_R3M,ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_í•œë„ì´ˆê³¼_R3M,ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_BL_R3M,ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_ì…ë ¥ì˜¤ë¥˜_R3M,ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_ê¸°íƒ€_R3M,ì´ìš©ê¸ˆì•¡ëŒ€,ID,Segment
0,201807,TRAIN_000000,20180719,20180713,20180719,ë¯¸ì´ìš©,20180203,20180709,20180713,11,...,0,0,3,3,0,0,0,01.100ë§Œì›+,TRAIN_000000,D
1,201807,TRAIN_000001,20180719,20180719,20170728,20170327,ë¯¸ì´ìš©,20180719,20171231,13,...,0,0,3,3,0,0,0,03.30ë§Œì›+,TRAIN_000001,E
2,201807,TRAIN_000002,20180706,20180706,20180706,20151119,20141230,20180706,20180627,12,...,0,0,0,0,0,0,0,01.100ë§Œì›+,TRAIN_000002,C
3,201807,TRAIN_000003,20180721,20180715,20180721,ë¯¸ì´ìš©,20141111,20180704,20180715,6,...,0,0,3,3,0,0,0,01.100ë§Œì›+,TRAIN_000003,D
4,201807,TRAIN_000004,20180124,20180124,ë¯¸ì´ìš©,ë¯¸ì´ìš©,20180512,20180124,ë¯¸ì´ìš©,-2,...,0,0,0,0,0,0,0,09.ë¯¸ì‚¬ìš©,TRAIN_000004,E

In [4]:
merged_df['Segment']

0          D
1          E
2          C
3          D
4          E
          ..
2399995    E
2399996    D
2399997    C
2399998    E
2399999    E
Name: Segment, Length: 2400000, dtype: object

In [5]:
# ìµœë¹ˆê°’ 98% ì´ìƒ ì œê±°í•œ ì»¬ëŸ¼ í™•ì¸
cols_to_drop = ['ì´ìš©ê±´ìˆ˜_ì¹´ë“œë¡ _B0M', 
                'ì´ìš©ê¸ˆì•¡_ì¹´ë“œë¡ _B0M', 
                'ì´ìš©í›„ê²½ê³¼ì›”_ë¶€ë¶„ë¬´ì´ì',
                'ì´ìš©ê¸ˆì•¡_ë¶€ë¶„ë¬´ì´ì_R12M',
                'ì´ìš©ê±´ìˆ˜_ë¶€ë¶„ë¬´ì´ì_R6M',
                'ì´ìš©ê¸ˆì•¡_ì¹´ë“œë¡ _R6M',
                'ì´ìš©ê°œì›”ìˆ˜_ë¶€ë¶„ë¬´ì´ì_R6M',
                'ì´ìš©ê±´ìˆ˜_ë¶€ë¶„ë¬´ì´ì_R3M',
                'ì´ìš©ê±´ìˆ˜_ì¹´ë“œë¡ _R3M',
                'ì´ìš©ê°œì›”ìˆ˜_ë¶€ë¶„ë¬´ì´ì_R3M',
                'ì´ìš©ê°œì›”ìˆ˜_ì¹´ë“œë¡ _R3M',
                'êµí†µ_í†µí–‰ë£Œì´ìš©ê¸ˆì•¡',
                'ì—¬ìœ _Petì´ìš©ê¸ˆì•¡',
                'ì—¬ìœ _ê³µì›ì´ìš©ê¸ˆì•¡',
                'ì—¬ìœ _ìˆ™ë°•ì´ìš©ê¸ˆì•¡',
                'ì—¬ìœ _í•­ê³µì´ìš©ê¸ˆì•¡',
                '_3ìˆœìœ„ì—¬ìœ ì—…ì¢…',
                '_3ìˆœìœ„ì—¬ìœ ì—…ì¢…_ì´ìš©ê¸ˆì•¡',
                'í• ë¶€ê±´ìˆ˜_12M_R12M',
                'í• ë¶€ê±´ìˆ˜_14M_R12M',
                'í• ë¶€ê±´ìˆ˜_ìœ ì´ì_12M_R12M',
                'í• ë¶€ê¸ˆì•¡_ìœ ì´ì_12M_R12M',
                'í• ë¶€ê±´ìˆ˜_ë¬´ì´ì_14M_R12M',
                'í• ë¶€ê¸ˆì•¡_ë¬´ì´ì_14M_R12M',
                'í• ë¶€ê¸ˆì•¡_ë¶€ë¶„_6M_R12M',
                'í• ë¶€ê¸ˆì•¡_ë¶€ë¶„_14M_R12M',
                'RPê±´ìˆ˜_ë Œíƒˆ_B0M',
                'RPê±´ìˆ˜_ê°€ìŠ¤_B0M',
                'RPê±´ìˆ˜_ì „ê¸°_B0M',
                'RPê±´ìˆ˜_ë³´í—˜_B0M',
                'RPê±´ìˆ˜_í•™ìŠµë¹„_B0M',
                'RPí›„ê²½ê³¼ì›”_ë Œíƒˆ',
                'RPí›„ê²½ê³¼ì›”_ê°€ìŠ¤',
                'RPí›„ê²½ê³¼ì›”_ì „ê¸°',
                'RPí›„ê²½ê³¼ì›”_ë³´í—˜',
                'RPí›„ê²½ê³¼ì›”_í•™ìŠµë¹„',
                'ì¦ê°_RPê±´ìˆ˜_í†µì‹ _ì „ì›”',
                'ì¦ê°_RPê±´ìˆ˜_ë Œíƒˆ_ì „ì›”',
                'ì¦ê°_RPê±´ìˆ˜_í•™ìŠµë¹„_ì „ì›”',
                'ì´ìš©ê¸ˆì•¡_Dí˜ì´_R3M',
                'ì´ìš©ê±´ìˆ˜_Bí˜ì´_R3M',
                'ì´ìš©ê±´ìˆ˜_Dí˜ì´_R3M',
                'ì´ìš©ê¸ˆì•¡_Bí˜ì´_B0M',
                'ì´ìš©ê¸ˆì•¡_Dí˜ì´_B0M',
                'ì´ìš©ê±´ìˆ˜_Dí˜ì´_B0M',
                'ì´ìš©ê±´ìˆ˜_ì„ ê²°ì œ_B0M',
                'ê±´ìˆ˜_í• ë¶€ì „í™˜_R6M',
                'ê±´ìˆ˜_í• ë¶€ì „í™˜_R3M',
                'ê¸ˆì•¡_í• ë¶€ì „í™˜_R6M',
                'ê¸ˆì•¡_í• ë¶€ì „í™˜_R3M',
                'ì‹ ì²­ê±´ìˆ˜_ATM_CA_B0',
                'ì‹ ì²­ê±´ìˆ˜_ATM_CL_B0',
                'ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_B0M',
                'ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_í•œë„ì´ˆê³¼_B0M',
                'ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_BL_B0M',
                'ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_BL_R3M',
                'ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_ì…ë ¥ì˜¤ë¥˜_R3M',
                'Segment'
               ]

In [6]:
selected_df = merged_df[cols_to_drop].copy()

print("âœ… ì„ íƒí•œ ì»¬ëŸ¼ë“¤ë§Œ ë‚¨ê¸´ ë°ì´í„°í”„ë ˆì„ ìƒ˜í”Œ:")
display(selected_df.head())

âœ… ì„ íƒí•œ ì»¬ëŸ¼ë“¤ë§Œ ë‚¨ê¸´ ë°ì´í„°í”„ë ˆì„ ìƒ˜í”Œ:

,ì´ìš©ê±´ìˆ˜_ì¹´ë“œë¡ _B0M,ì´ìš©ê¸ˆì•¡_ì¹´ë“œë¡ _B0M,ì´ìš©í›„ê²½ê³¼ì›”_ë¶€ë¶„ë¬´ì´ì,ì´ìš©ê¸ˆì•¡_ë¶€ë¶„ë¬´ì´ì_R12M,ì´ìš©ê±´ìˆ˜_ë¶€ë¶„ë¬´ì´ì_R6M,ì´ìš©ê¸ˆì•¡_ì¹´ë“œë¡ _R6M,ì´ìš©ê°œì›”ìˆ˜_ë¶€ë¶„ë¬´ì´ì_R6M,ì´ìš©ê±´ìˆ˜_ë¶€ë¶„ë¬´ì´ì_R3M,ì´ìš©ê±´ìˆ˜_ì¹´ë“œë¡ _R3M,ì´ìš©ê°œì›”ìˆ˜_ë¶€ë¶„ë¬´ì´ì_R3M,...,ê¸ˆì•¡_í• ë¶€ì „í™˜_R6M,ê¸ˆì•¡_í• ë¶€ì „í™˜_R3M,ì‹ ì²­ê±´ìˆ˜_ATM_CA_B0,ì‹ ì²­ê±´ìˆ˜_ATM_CL_B0,ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_B0M,ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_í•œë„ì´ˆê³¼_B0M,ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_BL_B0M,ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_BL_R3M,ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_ì…ë ¥ì˜¤ë¥˜_R3M,Segment
0,0,0,12,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,D
1,0,0,12,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,E
2,0,0,12,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,C
3,0,0,12,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,D
4,0,0,12,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,E

In [7]:
selected_df['Segment'].value_counts()

Segment
E    1922052
D     349242
C     127590
A        972
B        144
Name: count, dtype: int64

In [8]:
print("âœ… ì„ íƒëœ ì»¬ëŸ¼ëª… ëª©ë¡:")
print(selected_df.columns.tolist())

âœ… ì„ íƒëœ ì»¬ëŸ¼ëª… ëª©ë¡:
['ì´ìš©ê±´ìˆ˜_ì¹´ë“œë¡ _B0M', 'ì´ìš©ê¸ˆì•¡_ì¹´ë“œë¡ _B0M', 'ì´ìš©í›„ê²½ê³¼ì›”_ë¶€ë¶„ë¬´ì´ì', 'ì´ìš©ê¸ˆì•¡_ë¶€ë¶„ë¬´ì´ì_R12M', 'ì´ìš©ê±´ìˆ˜_ë¶€ë¶„ë¬´ì´ì_R6M', 'ì´ìš©ê¸ˆì•¡_ì¹´ë“œë¡ _R6M', 'ì´ìš©ê°œì›”ìˆ˜_ë¶€ë¶„ë¬´ì´ì_R6M', 'ì´ìš©ê±´ìˆ˜_ë¶€ë¶„ë¬´ì´ì_R3M', 'ì´ìš©ê±´ìˆ˜_ì¹´ë“œë¡ _R3M', 'ì´ìš©ê°œì›”ìˆ˜_ë¶€ë¶„ë¬´ì´ì_R3M', 'ì´ìš©ê°œì›”ìˆ˜_ì¹´ë“œë¡ _R3M', 'êµí†µ_í†µí–‰ë£Œì´ìš©ê¸ˆì•¡', 'ì—¬ìœ _Petì´ìš©ê¸ˆì•¡', 'ì—¬ìœ _ê³µì›ì´ìš©ê¸ˆì•¡', 'ì—¬ìœ _ìˆ™ë°•ì´ìš©ê¸ˆì•¡', 'ì—¬ìœ _í•­ê³µì´ìš©ê¸ˆì•¡', '_3ìˆœìœ„ì—¬ìœ ì—…ì¢…', '_3ìˆœìœ„ì—¬ìœ ì—…ì¢…_ì´ìš©ê¸ˆì•¡', 'í• ë¶€ê±´ìˆ˜_12M_R12M', 'í• ë¶€ê±´ìˆ˜_14M_R12M', 'í• ë¶€ê±´ìˆ˜_ìœ ì´ì_12M_R12M', 'í• ë¶€ê¸ˆì•¡_ìœ ì´ì_12M_R12M', 'í• ë¶€ê±´ìˆ˜_ë¬´ì´ì_14M_R12M', 'í• ë¶€ê¸ˆì•¡_ë¬´ì´ì_14M_R12M', 'í• ë¶€ê¸ˆì•¡_ë¶€ë¶„_6M_R12M', 'í• ë¶€ê¸ˆì•¡_ë¶€ë¶„_14M_R12M', 'RPê±´ìˆ˜_ë Œíƒˆ_B0M', 'RPê±´ìˆ˜_ê°€ìŠ¤_B0M', 'RPê±´ìˆ˜_ì „ê¸°_B0M', 'RPê±´ìˆ˜_ë³´í—˜_B0M', 'RPê±´ìˆ˜_í•™ìŠµë¹„_B0M', 'RPí›„ê²½ê³¼ì›”_ë Œíƒˆ', 'RPí›„ê²½ê³¼ì›”_ê°€ìŠ¤', 'RPí›„ê²½ê³¼ì›”_ì „ê¸°', 'RPí›„ê²½ê³¼ì›”_ë³´í—˜', 'RPí›„ê²½ê³¼ì›”_í•™ìŠµë¹„', 'ì¦ê°_RPê±´ìˆ˜_í†µì‹ _ì „ì›”', 'ì¦ê°_RPê±´ìˆ˜_ë Œíƒˆ_ì „ì›”', 'ì¦ê°_RPê±´ìˆ˜_í•™ìŠµë¹„_ì „ì›”', 'ì´ìš©ê¸ˆì•¡_Dí˜ì´_R3M', 'ì´ìš©ê±´ìˆ˜_Bí˜ì´_R3M', 'ì´ìš©ê±´ìˆ˜_Dí˜ì´_R3M', 'ì´ìš©ê¸ˆì•¡_Bí˜ì´_B0M', 'ì´ìš©ê¸ˆì•¡_Dí˜ì´_B0M', 'ì´ìš©ê±´ìˆ˜_Dí˜ì´_B0M', 'ì´ìš©ê±´ìˆ˜_ì„ ê²°ì œ_B0M', 'ê±´ìˆ˜_í• ë¶€ì „í™˜_R6M', 'ê±´ìˆ˜_í• ë¶€ì „í™˜_R3M', 'ê¸ˆì•¡_í• ë¶€ì „í™˜_R6M', 'ê¸ˆì•¡_í• ë¶€ì „í™˜_R3M', 'ì‹ ì²­ê±´ìˆ˜_ATM_CA_B0', 'ì‹ ì²­ê±´ìˆ˜_ATM_CL_B0', 'ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_B0M', 'ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_í•œë„ì´ˆê³¼_B0M', 'ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_BL_B0M', 'ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_BL_R3M', 'ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_ì…ë ¥ì˜¤ë¥˜_R3M', 'Segment']

In [9]:
def show_segment_distribution(df, columns, segment_col='Segment'):
    """
    ê° ì»¬ëŸ¼ì˜ ê³ ìœ ê°’ë³„ë¡œ Segment ë¶„í¬ (ì¹´ìš´íŠ¸ì™€ ë¹„ìœ¨) ì¶œë ¥
    """
    for col in columns:
        print(f"\n\nğŸŸ¢ [ì»¬ëŸ¼: {col}]")
        
        # ê·¸ë£¹ë³„ ê°œìˆ˜
        count_table = df.groupby([col, segment_col]).size().unstack(fill_value=0)
        print("âœ… Count:")
        display(count_table)
        
        # ê·¸ë£¹ë³„ ë¹„ìœ¨ (row-wise ë¹„ìœ¨)
        ratio_table = count_table.div(count_table.sum(axis=1), axis=0)
        print("âœ… Ratio:")
        display(ratio_table)

In [10]:
show_segment_distribution(selected_df, cols_to_drop)

ğŸŸ¢ [ì»¬ëŸ¼: ì´ìš©ê±´ìˆ˜_ì¹´ë“œë¡ _B0M]
âœ… Count:

Segment         A    B       C       D        E
ì´ìš©ê±´ìˆ˜_ì¹´ë“œë¡ _B0M
0             972  144  127587  349233  1921966
1               0    0       3       9       86

âœ… Ratio:

Segment              A        B         C         D         E
ì´ìš©ê±´ìˆ˜_ì¹´ë“œë¡ _B0M
0             0.000405  0.00006  0.053163  0.145520  0.800852
1             0.000000  0.00000  0.030612  0.091837  0.877551

ğŸŸ¢ [ì»¬ëŸ¼: ì´ìš©ê¸ˆì•¡_ì¹´ë“œë¡ _B0M]
âœ… Count:

Segment         A    B       C       D        E
ì´ìš©ê¸ˆì•¡_ì¹´ë“œë¡ _B0M
0             972  144  127587  349235  1921960
66080           0    0       0       0        1
66420           0    0       0       1        0
67429           0    0       0       1        0
67826           0    0       0       0        1
...           ...  ...     ...     ...      ...
71012           0    0       0       0        1
71606           0    0       0       0        1
72047           0    0       0       1        0
72840           0    0       0       0        1
73472           0    0       0       0        1

[101 rows x 5 columns]

âœ… Ratio:

Segment              A        B         C         D         E
ì´ìš©ê¸ˆì•¡_ì¹´ë“œë¡ _B0M
0             0.000405  0.00006  0.053164  0.145521  0.800851
66080         0.000000  0.00000  0.000000  0.000000  1.000000
66420         0.000000  0.00000  0.000000  1.000000  0.000000
67429         0.000000  0.00000  0.000000  1.000000  0.000000
67826         0.000000  0.00000  0.000000  0.000000  1.000000
...                ...      ...       ...       ...       ...
71012         0.000000  0.00000  0.000000  0.000000  1.000000
71606         0.000000  0.00000  0.000000  0.000000  1.000000
72047         0.000000  0.00000  0.000000  1.000000  0.000000
72840         0.000000  0.00000  0.000000  0.000000  1.000000
73472         0.000000  0.00000  0.000000  0.000000  1.000000

[101 rows x 5 columns]

ğŸŸ¢ [ì»¬ëŸ¼: ì´ìš©í›„ê²½ê³¼ì›”_ë¶€ë¶„ë¬´ì´ì]
âœ… Count:

Segment         A    B       C       D        E
ì´ìš©í›„ê²½ê³¼ì›”_ë¶€ë¶„ë¬´ì´ì
0               0    0       0       3        1
1               2    0     164     414      817
2              16    3    2268    6044    12422
3               0    0     114     201      338
4               1    0     118     298      627
5               7    2     904    2533     6786
6               3    0     500    1250     2653
7               4    0     229     569     1264
8               2    0      94     350      690
9               0    0      39      83      164
10              2    0      19      50       96
11              0    0      28      71      136
12            935  139  123113  337376  1896058

âœ… Ratio:

Segment              A         B         C         D         E
ì´ìš©í›„ê²½ê³¼ì›”_ë¶€ë¶„ë¬´ì´ì
0             0.000000  0.000000  0.000000  0.750000  0.250000
1             0.001432  0.000000  0.117394  0.296349  0.584825
2             0.000771  0.000145  0.109285  0.291235  0.598564
3             0.000000  0.000000  0.174579  0.307810  0.517611
4             0.000958  0.000000  0.113027  0.285441  0.600575
5             0.000684  0.000195  0.088350  0.247557  0.663213
6             0.000681  0.000000  0.113482  0.283704  0.602133
7             0.001936  0.000000  0.110842  0.275411  0.611810
8             0.001761  0.000000  0.082746  0.308099  0.607394
9             0.000000  0.000000  0.136364  0.290210  0.573427
10            0.011976  0.000000  0.113772  0.299401  0.574850
11            0.000000  0.000000  0.119149  0.302128  0.578723
12            0.000397  0.000059  0.052219  0.143100  0.804225

ğŸŸ¢ [ì»¬ëŸ¼: ì´ìš©ê¸ˆì•¡_ë¶€ë¶„ë¬´ì´ì_R12M]
âœ… Count:

Segment            A    B       C       D        E
ì´ìš©ê¸ˆì•¡_ë¶€ë¶„ë¬´ì´ì_R12M
0                930  138  122619  336028  1892881
5273               0    0       0       1        0
5423               0    0       0       0        1
5506               0    0       0       1        0
5519               0    0       0       0        1
...              ...  ...     ...     ...      ...
19075              0    0       0       0        1
19115              0    0       0       0        1
19284              0    0       0       0        1
19769              0    0       0       0        1
19791              0    0       0       0        1

[3444 rows x 5 columns]

âœ… Ratio:

Segment                 A         B         C         D         E
ì´ìš©ê¸ˆì•¡_ë¶€ë¶„ë¬´ì´ì_R12M
0                0.000395  0.000059  0.052121  0.142833  0.804592
5273             0.000000  0.000000  0.000000  1.000000  0.000000
5423             0.000000  0.000000  0.000000  0.000000  1.000000
5506             0.000000  0.000000  0.000000  1.000000  0.000000
5519             0.000000  0.000000  0.000000  0.000000  1.000000
...                   ...       ...       ...       ...       ...
19075            0.000000  0.000000  0.000000  0.000000  1.000000
19115            0.000000  0.000000  0.000000  0.000000  1.000000
19284            0.000000  0.000000  0.000000  0.000000  1.000000
19769            0.000000  0.000000  0.000000  0.000000  1.000000
19791            0.000000  0.000000  0.000000  0.000000  1.000000

[3444 rows x 5 columns]

ğŸŸ¢ [ì»¬ëŸ¼: ì´ìš©ê±´ìˆ˜_ë¶€ë¶„ë¬´ì´ì_R6M]
âœ… Count:

Segment           A    B       C       D        E
ì´ìš©ê±´ìˆ˜_ë¶€ë¶„ë¬´ì´ì_R6M
0               960  140  126751  346829  1916032
1                12    4     839    2413     6020

âœ… Ratio:

Segment                A         B         C         D         E
ì´ìš©ê±´ìˆ˜_ë¶€ë¶„ë¬´ì´ì_R6M
0               0.000402  0.000059  0.053018  0.145074  0.801448
1               0.001292  0.000431  0.090332  0.259798  0.648148

ğŸŸ¢ [ì»¬ëŸ¼: ì´ìš©ê¸ˆì•¡_ì¹´ë“œë¡ _R6M]
âœ… Count:

Segment         A    B       C       D        E
ì´ìš©ê¸ˆì•¡_ì¹´ë“œë¡ _R6M
0             930  144  124101  340176  1890187
30137           0    0       0       0        1
30306           0    0       0       0        1
30602           0    0       0       0        1
31073           0    0       0       1        0
...           ...  ...     ...     ...      ...
121845          0    0       0       0        1
123386          0    0       0       0        1
123647          0    0       0       0        1
123895          0    0       0       0        1
140457          0    0       0       1        0

[29862 rows x 5 columns]

âœ… Ratio:

Segment              A         B         C         D         E
ì´ìš©ê¸ˆì•¡_ì¹´ë“œë¡ _R6M
0             0.000395  0.000061  0.052685  0.144415  0.802444
30137         0.000000  0.000000  0.000000  0.000000  1.000000
30306         0.000000  0.000000  0.000000  0.000000  1.000000
30602         0.000000  0.000000  0.000000  0.000000  1.000000
31073         0.000000  0.000000  0.000000  1.000000  0.000000
...                ...       ...       ...       ...       ...
121845        0.000000  0.000000  0.000000  0.000000  1.000000
123386        0.000000  0.000000  0.000000  0.000000  1.000000
123647        0.000000  0.000000  0.000000  0.000000  1.000000
123895        0.000000  0.000000  0.000000  0.000000  1.000000
140457        0.000000  0.000000  0.000000  1.000000  0.000000

[29862 rows x 5 columns]

ğŸŸ¢ [ì»¬ëŸ¼: ì´ìš©ê°œì›”ìˆ˜_ë¶€ë¶„ë¬´ì´ì_R6M]
âœ… Count:

Segment            A    B       C       D        E
ì´ìš©ê°œì›”ìˆ˜_ë¶€ë¶„ë¬´ì´ì_R6M
0                960  141  126597  346508  1915384
1                 12    3     993    2734     6668

âœ… Ratio:

Segment                 A         B         C         D         E
ì´ìš©ê°œì›”ìˆ˜_ë¶€ë¶„ë¬´ì´ì_R6M
0                0.000402  0.000059  0.052979  0.145007  0.801553
1                0.001153  0.000288  0.095389  0.262632  0.640538

ğŸŸ¢ [ì»¬ëŸ¼: ì´ìš©ê±´ìˆ˜_ë¶€ë¶„ë¬´ì´ì_R3M]
âœ… Count:

Segment           A    B       C       D        E
ì´ìš©ê±´ìˆ˜_ë¶€ë¶„ë¬´ì´ì_R3M
0               970  143  127480  348881  1921074
1                 2    1     110     361      978

âœ… Ratio:

Segment                A         B         C         D         E
ì´ìš©ê±´ìˆ˜_ë¶€ë¶„ë¬´ì´ì_R3M
0               0.000404  0.000060  0.053149  0.145455  0.800932
1               0.001377  0.000689  0.075758  0.248623  0.673554

ğŸŸ¢ [ì»¬ëŸ¼: ì´ìš©ê±´ìˆ˜_ì¹´ë“œë¡ _R3M]
âœ… Count:

Segment         A    B       C       D        E
ì´ìš©ê±´ìˆ˜_ì¹´ë“œë¡ _R3M
0             960  144  126989  347632  1916111
1              12    0     601    1610     5941

âœ… Ratio:

Segment              A        B         C         D         E
ì´ìš©ê±´ìˆ˜_ì¹´ë“œë¡ _R3M
0             0.000401  0.00006  0.053093  0.145341  0.801105
1             0.001470  0.00000  0.073616  0.197207  0.727707

ğŸŸ¢ [ì»¬ëŸ¼: ì´ìš©ê°œì›”ìˆ˜_ë¶€ë¶„ë¬´ì´ì_R3M]
âœ… Count:

Segment            A    B       C       D        E
ì´ìš©ê°œì›”ìˆ˜_ë¶€ë¶„ë¬´ì´ì_R3M
0                969  143  127467  348818  1920941
1                  3    1     123     424     1111

âœ… Ratio:

Segment                 A         B         C         D         E
ì´ìš©ê°œì›”ìˆ˜_ë¶€ë¶„ë¬´ì´ì_R3M
0                0.000404  0.000060  0.053148  0.145442  0.800947
1                0.001805  0.000602  0.074007  0.255114  0.668472

ğŸŸ¢ [ì»¬ëŸ¼: ì´ìš©ê°œì›”ìˆ˜_ì¹´ë“œë¡ _R3M]
âœ… Count:

Segment          A    B       C       D        E
ì´ìš©ê°œì›”ìˆ˜_ì¹´ë“œë¡ _R3M
0              958  144  126893  347382  1915182
1               14    0     697    1860     6870

âœ… Ratio:

Segment               A        B         C         D         E
ì´ìš©ê°œì›”ìˆ˜_ì¹´ë“œë¡ _R3M
0              0.000401  0.00006  0.053081  0.145314  0.801144
1              0.001483  0.00000  0.073827  0.197013  0.727677

ğŸŸ¢ [ì»¬ëŸ¼: êµí†µ_í†µí–‰ë£Œì´ìš©ê¸ˆì•¡]
âœ… Count:

Segment       A    B       C       D        E
êµí†µ_í†µí–‰ë£Œì´ìš©ê¸ˆì•¡
0           972  144  127566  349222  1922018
242           0    0       1       0        0
266           0    0       1       0        0
267           0    0       1       0        0
268           0    0       1       0        0
269           0    0       0       1        0
270           0    0       0       0        2
272           0    0       1       0        1
273           0    0       0       1        2
275           0    0       0       0        1
276           0    0       0       2        0
277           0    0       1       1        0
278           0    0       0       0        1
280           0    0       1       1        1
281           0    0       1       1        1
282           0    0       0       0        1
283           0    0       1       0        2
284           0    0       1       0        2
285           0    0       1       1        0
286           0    0       2       1        4
287           0    0       0       1        2
288           0    0       0       2        0
289           0    0       1       0        2
290           0    0       0       1        1
292           0    0       1       0        0
293           0    0       1       0        0
294           0    0       1       0        3
295           0    0       0       0        1
296           0    0       1       0        1
297           0    0       0       1        0
299           0    0       0       1        0
300           0    0       1       1        0
302           0    0       0       0        1
303           0    0       1       0        1
304           0    0       0       1        1
306           0    0       0       0        1
310           0    0       1       0        0
316           0    0       1       0        0
317           0    0       0       1        0
329           0    0       1       0        0
332           0    0       0       0        1
336           0    0       1       0        0
339           0    0       0       1        0
342           0    0       0       1        0
367           0    0       0       0        1

âœ… Ratio:

Segment            A        B         C         D         E
êµí†µ_í†µí–‰ë£Œì´ìš©ê¸ˆì•¡
0           0.000405  0.00006  0.053154  0.145514  0.800867
242         0.000000  0.00000  1.000000  0.000000  0.000000
266         0.000000  0.00000  1.000000  0.000000  0.000000
267         0.000000  0.00000  1.000000  0.000000  0.000000
268         0.000000  0.00000  1.000000  0.000000  0.000000
269         0.000000  0.00000  0.000000  1.000000  0.000000
270         0.000000  0.00000  0.000000  0.000000  1.000000
272         0.000000  0.00000  0.500000  0.000000  0.500000
273         0.000000  0.00000  0.000000  0.333333  0.666667
275         0.000000  0.00000  0.000000  0.000000  1.000000
276         0.000000  0.00000  0.000000  1.000000  0.000000
277         0.000000  0.00000  0.500000  0.500000  0.000000
278         0.000000  0.00000  0.000000  0.000000  1.000000
280         0.000000  0.00000  0.333333  0.333333  0.333333
281         0.000000  0.00000  0.333333  0.333333  0.333333
282         0.000000  0.00000  0.000000  0.000000  1.000000
283         0.000000  0.00000  0.333333  0.000000  0.666667
284         0.000000  0.00000  0.333333  0.000000  0.666667
285         0.000000  0.00000  0.500000  0.500000  0.000000
286         0.000000  0.00000  0.285714  0.142857  0.571429
287         0.000000  0.00000  0.000000  0.333333  0.666667
288         0.000000  0.00000  0.000000  1.000000  0.000000
289         0.000000  0.00000  0.333333  0.000000  0.666667
290         0.000000  0.00000  0.000000  0.500000  0.500000
292         0.000000  0.00000  1.000000  0.000000  0.000000
293         0.000000  0.00000  1.000000  0.000000  0.000000
294         0.000000  0.00000  0.250000  0.000000  0.750000
295         0.000000  0.00000  0.000000  0.000000  1.000000
296         0.000000  0.00000  0.500000  0.000000  0.500000
297         0.000000  0.00000  0.000000  1.000000  0.000000
299         0.000000  0.00000  0.000000  1.000000  0.000000
300         0.000000  0.00000  0.500000  0.500000  0.000000
302         0.000000  0.00000  0.000000  0.000000  1.000000
303         0.000000  0.00000  0.500000  0.000000  0.500000
304         0.000000  0.00000  0.000000  0.500000  0.500000
306         0.000000  0.00000  0.000000  0.000000  1.000000
310         0.000000  0.00000  1.000000  0.000000  0.000000
316         0.000000  0.00000  1.000000  0.000000  0.000000
317         0.000000  0.00000  0.000000  1.000000  0.000000
329         0.000000  0.00000  1.000000  0.000000  0.000000
332         0.000000  0.00000  0.000000  0.000000  1.000000
336         0.000000  0.00000  1.000000  0.000000  0.000000
339         0.000000  0.00000  0.000000  1.000000  0.000000
342         0.000000  0.00000  0.000000  1.000000  0.000000
367         0.000000  0.00000  0.000000  0.000000  1.000000

ğŸŸ¢ [ì»¬ëŸ¼: ì—¬ìœ _Petì´ìš©ê¸ˆì•¡]
âœ… Count:

Segment       A    B       C       D        E
ì—¬ìœ _Petì´ìš©ê¸ˆì•¡
0           912  135  121866  339368  1905887
321           0    0       0       1        0
327           0    0       1       0        0
338           0    0       0       0        1
340           0    0       0       1        0
...         ...  ...     ...     ...      ...
773           0    0       1       0        0
810           0    0       1       0        0
827           0    0       0       0        1
830           0    0       0       1        0
833           0    0       0       1        0

[360 rows x 5 columns]

âœ… Ratio:

Segment            A         B        C         D         E
ì—¬ìœ _Petì´ìš©ê¸ˆì•¡
0           0.000385  0.000057  0.05146  0.143304  0.804794
321         0.000000  0.000000  0.00000  1.000000  0.000000
327         0.000000  0.000000  1.00000  0.000000  0.000000
338         0.000000  0.000000  0.00000  0.000000  1.000000
340         0.000000  0.000000  0.00000  1.000000  0.000000
...              ...       ...      ...       ...       ...
773         0.000000  0.000000  1.00000  0.000000  0.000000
810         0.000000  0.000000  1.00000  0.000000  0.000000
827         0.000000  0.000000  0.00000  0.000000  1.000000
830         0.000000  0.000000  0.00000  1.000000  0.000000
833         0.000000  0.000000  0.00000  1.000000  0.000000

[360 rows x 5 columns]

ğŸŸ¢ [ì»¬ëŸ¼: ì—¬ìœ _ê³µì›ì´ìš©ê¸ˆì•¡]
âœ… Count:

Segment      A    B       C       D        E
ì—¬ìœ _ê³µì›ì´ìš©ê¸ˆì•¡
0          961  140  125841  347280  1920851
161          0    0       0       1        0
162          0    0       0       0        1
164          0    0       0       1        0
166          0    0       0       2        0
...        ...  ...     ...     ...      ...
311          0    0       1       0        0
324          0    0       1       0        0
325          0    0       0       1        0
343          0    0       1       0        0
358          0    0       0       1        0

[134 rows x 5 columns]

âœ… Ratio:

Segment           A         B         C         D         E
ì—¬ìœ _ê³µì›ì´ìš©ê¸ˆì•¡
0          0.000401  0.000058  0.052542  0.144998  0.802001
161        0.000000  0.000000  0.000000  1.000000  0.000000
162        0.000000  0.000000  0.000000  0.000000  1.000000
164        0.000000  0.000000  0.000000  1.000000  0.000000
166        0.000000  0.000000  0.000000  1.000000  0.000000
...             ...       ...       ...       ...       ...
311        0.000000  0.000000  1.000000  0.000000  0.000000
324        0.000000  0.000000  1.000000  0.000000  0.000000
325        0.000000  0.000000  0.000000  1.000000  0.000000
343        0.000000  0.000000  1.000000  0.000000  0.000000
358        0.000000  0.000000  0.000000  1.000000  0.000000

[134 rows x 5 columns]

ğŸŸ¢ [ì»¬ëŸ¼: ì—¬ìœ _ìˆ™ë°•ì´ìš©ê¸ˆì•¡]
âœ… Count:

Segment      A   B       C       D        E
ì—¬ìœ _ìˆ™ë°•ì´ìš©ê¸ˆì•¡
0          705  94  119803  342678  1917537
422          0   0       0       1        0
433          0   0       0       1        0
439          0   0       0       0        1
443          0   0       0       1        0
...        ...  ..     ...     ...      ...
1026         0   0       1       0        0
1055         0   0       1       0        0
1080         0   0       0       1        0
1114         0   0       1       0        0
1135         0   0       1       0        0

[517 rows x 5 columns]

âœ… Ratio:

Segment           A         B        C         D         E
ì—¬ìœ _ìˆ™ë°•ì´ìš©ê¸ˆì•¡
0          0.000296  0.000039  0.05032  0.143933  0.805411
422        0.000000  0.000000  0.00000  1.000000  0.000000
433        0.000000  0.000000  0.00000  1.000000  0.000000
439        0.000000  0.000000  0.00000  0.000000  1.000000
443        0.000000  0.000000  0.00000  1.000000  0.000000
...             ...       ...      ...       ...       ...
1026       0.000000  0.000000  1.00000  0.000000  0.000000
1055       0.000000  0.000000  1.00000  0.000000  0.000000
1080       0.000000  0.000000  0.00000  1.000000  0.000000
1114       0.000000  0.000000  1.00000  0.000000  0.000000
1135       0.000000  0.000000  1.00000  0.000000  0.000000

[517 rows x 5 columns]

ğŸŸ¢ [ì»¬ëŸ¼: ì—¬ìœ _í•­ê³µì´ìš©ê¸ˆì•¡]
âœ… Count:

Segment      A    B       C       D        E
ì—¬ìœ _í•­ê³µì´ìš©ê¸ˆì•¡
0          880  125  125467  347545  1920922
1695         0    0       0       1        0
1854         0    0       0       1        0
1894         0    0       1       0        0
1924         0    0       0       1        0
...        ...  ...     ...     ...      ...
4481         0    0       1       0        0
4508         0    0       1       0        0
4578         0    0       0       1        0
4759         0    0       1       0        0
5213         0    0       0       0        1

[1252 rows x 5 columns]

âœ… Ratio:

Segment           A         B         C         D         E
ì—¬ìœ _í•­ê³µì´ìš©ê¸ˆì•¡
0          0.000367  0.000052  0.052388  0.145116  0.802076
1695       0.000000  0.000000  0.000000  1.000000  0.000000
1854       0.000000  0.000000  0.000000  1.000000  0.000000
1894       0.000000  0.000000  1.000000  0.000000  0.000000
1924       0.000000  0.000000  0.000000  1.000000  0.000000
...             ...       ...       ...       ...       ...
4481       0.000000  0.000000  1.000000  0.000000  0.000000
4508       0.000000  0.000000  1.000000  0.000000  0.000000
4578       0.000000  0.000000  0.000000  1.000000  0.000000
4759       0.000000  0.000000  1.000000  0.000000  0.000000
5213       0.000000  0.000000  0.000000  0.000000  1.000000

[1252 rows x 5 columns]

ğŸŸ¢ [ì»¬ëŸ¼: _3ìˆœìœ„ì—¬ìœ ì—…ì¢…]
âœ… Count:

Segment     A    B       C       D        E
_3ìˆœìœ„ì—¬ìœ ì—…ì¢…
Pet        22    3     433     230      158
ê³µì—°         89   20    3300    4230     4304
ê³µì›          4    0     539     521      268
ë¯¸ì´ìš©       759  104  120696  341623  1914543
ìˆ™ë°•         47    5     551     213      132
ì—¬ìœ ê¸°íƒ€       51   12    2071    2424     2647
ìš´ë™          0    0       0       1        0

âœ… Ratio:

Segment          A         B         C         D         E
_3ìˆœìœ„ì—¬ìœ ì—…ì¢…
Pet       0.026005  0.003546  0.511820  0.271868  0.186761
ê³µì—°        0.007452  0.001675  0.276312  0.354182  0.360378
ê³µì›        0.003003  0.000000  0.404655  0.391141  0.201201
ë¯¸ì´ìš©       0.000319  0.000044  0.050761  0.143676  0.805200
ìˆ™ë°•        0.049578  0.005274  0.581224  0.224684  0.139241
ì—¬ìœ ê¸°íƒ€      0.007078  0.001666  0.287439  0.336433  0.367384
ìš´ë™        0.000000  0.000000  0.000000  1.000000  0.000000

ğŸŸ¢ [ì»¬ëŸ¼: _3ìˆœìœ„ì—¬ìœ ì—…ì¢…_ì´ìš©ê¸ˆì•¡]
âœ… Count:

Segment          A    B       C       D        E
_3ìˆœìœ„ì—¬ìœ ì—…ì¢…_ì´ìš©ê¸ˆì•¡
0              759  104  120696  341623  1914543
123              0    0       1       0        0
126              0    0       0       1        0
128              0    0       0       0        1
131              0    0       0       1        0
...            ...  ...     ...     ...      ...
931              0    0       1       0        0
933              0    0       0       0        1
934              0    0       1       0        0
953              0    0       1       0        0
962              0    0       1       0        0

[652 rows x 5 columns]

âœ… Ratio:

Segment               A         B         C         D       E
_3ìˆœìœ„ì—¬ìœ ì—…ì¢…_ì´ìš©ê¸ˆì•¡
0              0.000319  0.000044  0.050761  0.143676  0.8052
123            0.000000  0.000000  1.000000  0.000000  0.0000
126            0.000000  0.000000  0.000000  1.000000  0.0000
128            0.000000  0.000000  0.000000  0.000000  1.0000
131            0.000000  0.000000  0.000000  1.000000  0.0000
...                 ...       ...       ...       ...     ...
931            0.000000  0.000000  1.000000  0.000000  0.0000
933            0.000000  0.000000  0.000000  0.000000  1.0000
934            0.000000  0.000000  1.000000  0.000000  0.0000
953            0.000000  0.000000  1.000000  0.000000  0.0000
962            0.000000  0.000000  1.000000  0.000000  0.0000

[652 rows x 5 columns]

ğŸŸ¢ [ì»¬ëŸ¼: í• ë¶€ê±´ìˆ˜_12M_R12M]
âœ… Count:

Segment          A    B       C       D        E
í• ë¶€ê±´ìˆ˜_12M_R12M
0              916  142  124133  341879  1910161
3               50    2    2171    4272     7245
4                5    0    1215    2926     4420
5                0    0       0       1        0
6                1    0       4      13       29
7                0    0      66     146      191
8                0    0       1       0        0
10               0    0       0       5        6

âœ… Ratio:

Segment               A         B         C         D         E
í• ë¶€ê±´ìˆ˜_12M_R12M
0              0.000385  0.000060  0.052217  0.143814  0.803524
3              0.003639  0.000146  0.158006  0.310917  0.527293
4              0.000584  0.000000  0.141840  0.341583  0.515993
5              0.000000  0.000000  0.000000  1.000000  0.000000
6              0.021277  0.000000  0.085106  0.276596  0.617021
7              0.000000  0.000000  0.163772  0.362283  0.473945
8              0.000000  0.000000  1.000000  0.000000  0.000000
10             0.000000  0.000000  0.000000  0.454545  0.545455

ğŸŸ¢ [ì»¬ëŸ¼: í• ë¶€ê±´ìˆ˜_14M_R12M]
âœ… Count:

Segment          A    B       C       D        E
í• ë¶€ê±´ìˆ˜_14M_R12M
0              972  144  127570  349217  1921970
2                0    0       0       0        3
3                0    0      16      23       65
4                0    0       4       2       14

âœ… Ratio:

Segment               A        B         C         D         E
í• ë¶€ê±´ìˆ˜_14M_R12M
0              0.000405  0.00006  0.053157  0.145515  0.800863
2              0.000000  0.00000  0.000000  0.000000  1.000000
3              0.000000  0.00000  0.153846  0.221154  0.625000
4              0.000000  0.00000  0.200000  0.100000  0.700000

ğŸŸ¢ [ì»¬ëŸ¼: í• ë¶€ê±´ìˆ˜_ìœ ì´ì_12M_R12M]
âœ… Count:

Segment              A    B       C       D        E
í• ë¶€ê±´ìˆ˜_ìœ ì´ì_12M_R12M
0                  966  144  126138  345717  1916670
3                    1    0     184     471      789
4                    5    0    1267    3054     4593
5                    0    0       1       0        0

âœ… Ratio:

Segment                   A        B         C         D         E
í• ë¶€ê±´ìˆ˜_ìœ ì´ì_12M_R12M
0                  0.000404  0.00006  0.052785  0.144674  0.802076
3                  0.000692  0.00000  0.127336  0.325952  0.546021
4                  0.000561  0.00000  0.142056  0.342415  0.514968
5                  0.000000  0.00000  1.000000  0.000000  0.000000

ğŸŸ¢ [ì»¬ëŸ¼: í• ë¶€ê¸ˆì•¡_ìœ ì´ì_12M_R12M]
âœ… Count:

Segment              A    B       C       D        E
í• ë¶€ê¸ˆì•¡_ìœ ì´ì_12M_R12M
0                  942  144  122100  335881  1893540
7037                 0    0       0       1        0
7169                 0    0       0       1        0
7303                 0    0       1       0        0
7372                 0    0       0       0        1
...                ...  ...     ...     ...      ...
18270                0    0       1       0        0
18515                0    0       0       0        1
19099                0    0       0       1        0
19141                0    0       0       0        1
19291                0    0       1       0        0

[6170 rows x 5 columns]

âœ… Ratio:

Segment                 A         B       C        D         E
í• ë¶€ê¸ˆì•¡_ìœ ì´ì_12M_R12M
0                  0.0004  0.000061  0.0519  0.14277  0.804869
7037               0.0000  0.000000  0.0000  1.00000  0.000000
7169               0.0000  0.000000  0.0000  1.00000  0.000000
7303               0.0000  0.000000  1.0000  0.00000  0.000000
7372               0.0000  0.000000  0.0000  0.00000  1.000000
...                   ...       ...     ...      ...       ...
18270              0.0000  0.000000  1.0000  0.00000  0.000000
18515              0.0000  0.000000  0.0000  0.00000  1.000000
19099              0.0000  0.000000  0.0000  1.00000  0.000000
19141              0.0000  0.000000  0.0000  0.00000  1.000000
19291              0.0000  0.000000  1.0000  0.00000  0.000000

[6170 rows x 5 columns]

ğŸŸ¢ [ì»¬ëŸ¼: í• ë¶€ê±´ìˆ˜_ë¬´ì´ì_14M_R12M]
âœ… Count:

Segment              A    B       C       D        E
í• ë¶€ê±´ìˆ˜_ë¬´ì´ì_14M_R12M
0                  972  144  127590  349242  1922049
2                    0    0       0       0        3

âœ… Ratio:

Segment                   A        B         C         D         E
í• ë¶€ê±´ìˆ˜_ë¬´ì´ì_14M_R12M
0                  0.000405  0.00006  0.053163  0.145518  0.800855
2                  0.000000  0.00000  0.000000  0.000000  1.000000

ğŸŸ¢ [ì»¬ëŸ¼: í• ë¶€ê¸ˆì•¡_ë¬´ì´ì_14M_R12M]
âœ… Count:

Segment              A    B       C       D        E
í• ë¶€ê¸ˆì•¡_ë¬´ì´ì_14M_R12M
0                  961  144  127473  348662  1915052
2972                 0    0       0       1        0
3030                 0    0       0       0        1
3034                 0    0       0       1        0
3057                 0    0       1       0        0
...                ...  ...     ...     ...      ...
31870                0    0       0       0        1
48390                0    0       0       1        0
48937                0    0       0       1        0
49327                0    0       0       1        0
51086                0    0       0       0        1

[735 rows x 5 columns]

âœ… Ratio:

Segment                   A        B         C         D         E
í• ë¶€ê¸ˆì•¡_ë¬´ì´ì_14M_R12M
0                  0.000402  0.00006  0.053285  0.145744  0.800509
2972               0.000000  0.00000  0.000000  1.000000  0.000000
3030               0.000000  0.00000  0.000000  0.000000  1.000000
3034               0.000000  0.00000  0.000000  1.000000  0.000000
3057               0.000000  0.00000  1.000000  0.000000  0.000000
...                     ...      ...       ...       ...       ...
31870              0.000000  0.00000  0.000000  0.000000  1.000000
48390              0.000000  0.00000  0.000000  1.000000  0.000000
48937              0.000000  0.00000  0.000000  1.000000  0.000000
49327              0.000000  0.00000  0.000000  1.000000  0.000000
51086              0.000000  0.00000  0.000000  0.000000  1.000000

[735 rows x 5 columns]

ğŸŸ¢ [ì»¬ëŸ¼: í• ë¶€ê¸ˆì•¡_ë¶€ë¶„_6M_R12M]
âœ… Count:

Segment            A    B       C       D        E
í• ë¶€ê¸ˆì•¡_ë¶€ë¶„_6M_R12M
0                972  144  127590  349241  1922052
4249               0    0       0       1        0

âœ… Ratio:

Segment                 A        B         C         D         E
í• ë¶€ê¸ˆì•¡_ë¶€ë¶„_6M_R12M
0                0.000405  0.00006  0.053163  0.145517  0.800855
4249             0.000000  0.00000  0.000000  1.000000  0.000000

ğŸŸ¢ [ì»¬ëŸ¼: í• ë¶€ê¸ˆì•¡_ë¶€ë¶„_14M_R12M]
âœ… Count:

Segment             A    B       C       D        E
í• ë¶€ê¸ˆì•¡_ë¶€ë¶„_14M_R12M
0                 972  144  127586  349230  1921988
8898                0    0       0       0        1
8924                0    0       0       1        0
9309                0    0       0       0        1
9470                0    0       0       0        1
...               ...  ...     ...     ...      ...
10437               0    0       0       0        1
10469               0    0       0       0        1
10584               0    0       0       0        1
10593               0    0       0       0        1
11182               0    0       0       0        1

[79 rows x 5 columns]

âœ… Ratio:

Segment                  A        B         C         D         E
í• ë¶€ê¸ˆì•¡_ë¶€ë¶„_14M_R12M
0                 0.000405  0.00006  0.053163  0.145517  0.800855
8898              0.000000  0.00000  0.000000  0.000000  1.000000
8924              0.000000  0.00000  0.000000  1.000000  0.000000
9309              0.000000  0.00000  0.000000  0.000000  1.000000
9470              0.000000  0.00000  0.000000  0.000000  1.000000
...                    ...      ...       ...       ...       ...
10437             0.000000  0.00000  0.000000  0.000000  1.000000
10469             0.000000  0.00000  0.000000  0.000000  1.000000
10584             0.000000  0.00000  0.000000  0.000000  1.000000
10593             0.000000  0.00000  0.000000  0.000000  1.000000
11182             0.000000  0.00000  0.000000  0.000000  1.000000

[79 rows x 5 columns]

ğŸŸ¢ [ì»¬ëŸ¼: RPê±´ìˆ˜_ë Œíƒˆ_B0M]
âœ… Count:

Segment        A    B       C       D        E
RPê±´ìˆ˜_ë Œíƒˆ_B0M
0            957  140  127220  348283  1915436
1             14    4     364     955     6614
2              1    0       6       4        1
3              0    0       0       0        1

âœ… Ratio:

Segment             A         B         C         D         E
RPê±´ìˆ˜_ë Œíƒˆ_B0M
0            0.000400  0.000059  0.053185  0.145601  0.800756
1            0.001761  0.000503  0.045780  0.120111  0.831845
2            0.083333  0.000000  0.500000  0.333333  0.083333
3            0.000000  0.000000  0.000000  0.000000  1.000000

ğŸŸ¢ [ì»¬ëŸ¼: RPê±´ìˆ˜_ê°€ìŠ¤_B0M]
âœ… Count:

Segment        A    B       C       D        E
RPê±´ìˆ˜_ê°€ìŠ¤_B0M
0            969  142  125858  345054  1910861
1              3    2    1732    4188    11191

âœ… Ratio:

Segment             A         B         C         D         E
RPê±´ìˆ˜_ê°€ìŠ¤_B0M
0            0.000407  0.000060  0.052818  0.144805  0.801911
1            0.000175  0.000117  0.101192  0.244683  0.653833

ğŸŸ¢ [ì»¬ëŸ¼: RPê±´ìˆ˜_ì „ê¸°_B0M]
âœ… Count:

Segment        A    B       C       D        E
RPê±´ìˆ˜_ì „ê¸°_B0M
0            951  136  126968  347364  1918182
1             21    8     622    1878     3870

âœ… Ratio:

Segment             A         B         C         D         E
RPê±´ìˆ˜_ì „ê¸°_B0M
0            0.000397  0.000057  0.053045  0.145122  0.801379
1            0.003282  0.001250  0.097203  0.293483  0.604782

ğŸŸ¢ [ì»¬ëŸ¼: RPê±´ìˆ˜_ë³´í—˜_B0M]
âœ… Count:

Segment        A    B       C       D        E
RPê±´ìˆ˜_ë³´í—˜_B0M
0            968  131  125823  345125  1908160
1              4   13    1767    4117    13892

âœ… Ratio:

Segment             A         B         C         D         E
RPê±´ìˆ˜_ë³´í—˜_B0M
0            0.000407  0.000055  0.052862  0.144998  0.801678
1            0.000202  0.000657  0.089274  0.208003  0.701864

ğŸŸ¢ [ì»¬ëŸ¼: RPê±´ìˆ˜_í•™ìŠµë¹„_B0M]
âœ… Count:

Segment         A    B       C       D        E
RPê±´ìˆ˜_í•™ìŠµë¹„_B0M
0             972  138  127518  349147  1921002
1               0    6      70      94     1042
2               0    0       2       1        6
3               0    0       0       0        2

âœ… Ratio:

Segment              A         B         C         D         E
RPê±´ìˆ˜_í•™ìŠµë¹„_B0M
0             0.000405  0.000058  0.053160  0.145552  0.800826
1             0.000000  0.004950  0.057756  0.077558  0.859736
2             0.000000  0.000000  0.222222  0.111111  0.666667
3             0.000000  0.000000  0.000000  0.000000  1.000000

ğŸŸ¢ [ì»¬ëŸ¼: RPí›„ê²½ê³¼ì›”_ë Œíƒˆ]
âœ… Count:

Segment      A    B       C       D        E
RPí›„ê²½ê³¼ì›”_ë Œíƒˆ
0           15    4     370     959     6616
1           11    1     226     501     2518
2            9    0     182     377     1839
3            8    0     149     322     1445
4            4    0     119     264     1085
5            3    0      81     174      661
6          922  139  126463  346645  1907888

âœ… Ratio:

Segment           A         B         C         D         E
RPí›„ê²½ê³¼ì›”_ë Œíƒˆ
0          0.001883  0.000502  0.046459  0.120417  0.830738
1          0.003377  0.000307  0.069389  0.153823  0.773104
2          0.003739  0.000000  0.075613  0.156627  0.764022
3          0.004158  0.000000  0.077443  0.167360  0.751040
4          0.002717  0.000000  0.080842  0.179348  0.737092
5          0.003264  0.000000  0.088139  0.189336  0.719260
6          0.000387  0.000058  0.053090  0.145523  0.800941

ğŸŸ¢ [ì»¬ëŸ¼: RPí›„ê²½ê³¼ì›”_ê°€ìŠ¤]
âœ… Count:

Segment      A    B       C       D        E
RPí›„ê²½ê³¼ì›”_ê°€ìŠ¤
0            3    2    1732    4188    11191
1            1    2     401     832     1890
2            1    1     190     420      949
3            1    1     117     273      590
4            1    0      76     196      386
5            0    0      45     123      247
6          965  138  125029  343210  1906799

âœ… Ratio:

Segment           A         B         C         D         E
RPí›„ê²½ê³¼ì›”_ê°€ìŠ¤
0          0.000175  0.000117  0.101192  0.244683  0.653833
1          0.000320  0.000640  0.128279  0.266155  0.604607
2          0.000641  0.000641  0.121717  0.269058  0.607944
3          0.001018  0.001018  0.119145  0.278004  0.600815
4          0.001517  0.000000  0.115326  0.297420  0.585736
5          0.000000  0.000000  0.108434  0.296386  0.595181
6          0.000406  0.000058  0.052619  0.144440  0.802477

ğŸŸ¢ [ì»¬ëŸ¼: RPí›„ê²½ê³¼ì›”_ì „ê¸°]
âœ… Count:

Segment      A    B       C       D        E
RPí›„ê²½ê³¼ì›”_ì „ê¸°
0           21    8     622    1878     3870
1            2    1     268     718     1524
2            1    0     181     453     1048
3            0    0     138     327      803
4            0    0     104     250      624
5            0    0      56     157      377
6          948  135  126221  345459  1913806

âœ… Ratio:

Segment           A         B         C         D         E
RPí›„ê²½ê³¼ì›”_ì „ê¸°
0          0.003282  0.001250  0.097203  0.293483  0.604782
1          0.000796  0.000398  0.106645  0.285714  0.606446
2          0.000594  0.000000  0.107546  0.269162  0.622698
3          0.000000  0.000000  0.108833  0.257886  0.633281
4          0.000000  0.000000  0.106339  0.255624  0.638037
5          0.000000  0.000000  0.094915  0.266102  0.638983
6          0.000397  0.000057  0.052888  0.144751  0.801907

ğŸŸ¢ [ì»¬ëŸ¼: RPí›„ê²½ê³¼ì›”_ë³´í—˜]
âœ… Count:

Segment      A    B       C       D        E
RPí›„ê²½ê³¼ì›”_ë³´í—˜
0            4   13    1767    4117    13892
1            4    4     563    1176     4106
2            3    2     312     703     2487
3            2    2     208     472     1708
4            1    2     137     321     1126
5            1    1      71     193      643
6          957  120  124532  342260  1898090

âœ… Ratio:

Segment           A         B         C         D         E
RPí›„ê²½ê³¼ì›”_ë³´í—˜
0          0.000202  0.000657  0.089274  0.208003  0.701864
1          0.000683  0.000683  0.096190  0.200923  0.701521
2          0.000855  0.000570  0.088965  0.200456  0.709153
3          0.000836  0.000836  0.086957  0.197324  0.714047
4          0.000630  0.001260  0.086326  0.202268  0.709515
5          0.001100  0.001100  0.078108  0.212321  0.707371
6          0.000404  0.000051  0.052635  0.144660  0.802250

ğŸŸ¢ [ì»¬ëŸ¼: RPí›„ê²½ê³¼ì›”_í•™ìŠµë¹„]
âœ… Count:

Segment       A    B       C       D        E
RPí›„ê²½ê³¼ì›”_í•™ìŠµë¹„
0             0    6      72      95     1050
1             0    0      44      88      610
2             0    0      32      73      493
3             0    0      29      65      422
4             0    0      22      60      341
5             0    0      16      51      242
6           972  138  127375  348810  1918894

âœ… Ratio:

Segment            A         B         C         D         E
RPí›„ê²½ê³¼ì›”_í•™ìŠµë¹„
0           0.000000  0.004906  0.058872  0.077678  0.858545
1           0.000000  0.000000  0.059299  0.118598  0.822102
2           0.000000  0.000000  0.053512  0.122074  0.824415
3           0.000000  0.000000  0.056202  0.125969  0.817829
4           0.000000  0.000000  0.052009  0.141844  0.806147
5           0.000000  0.000000  0.051780  0.165049  0.783172
6           0.000406  0.000058  0.053157  0.145569  0.800811

ğŸŸ¢ [ì»¬ëŸ¼: ì¦ê°_RPê±´ìˆ˜_í†µì‹ _ì „ì›”]
âœ… Count:

Segment          A    B       C       D        E
ì¦ê°_RPê±´ìˆ˜_í†µì‹ _ì „ì›”
-2               0    1     189     449      642
-1              19    1     903    1747     5323
 0             931  137  125270  344592  1910210
 1              21    5    1122    2189     5529
 2               1    0     106     265      348

âœ… Ratio:

Segment               A         B         C         D         E
ì¦ê°_RPê±´ìˆ˜_í†µì‹ _ì „ì›”
-2             0.000000  0.000781  0.147541  0.350507  0.501171
-1             0.002377  0.000125  0.112974  0.218566  0.665958
 0             0.000391  0.000058  0.052609  0.144717  0.802225
 1             0.002369  0.000564  0.126551  0.246898  0.623618
 2             0.001389  0.000000  0.147222  0.368056  0.483333

ğŸŸ¢ [ì»¬ëŸ¼: ì¦ê°_RPê±´ìˆ˜_ë Œíƒˆ_ì „ì›”]
âœ… Count:

Segment          A    B       C       D        E
ì¦ê°_RPê±´ìˆ˜_ë Œíƒˆ_ì „ì›”
-3               0    0       0       0        1
-2               1    0       4       3        0
-1               3    2      74     172      783
 0             956  141  127321  348614  1918915
 1              12    1     186     451     2352
 2               0    0       5       2        0
 3               0    0       0       0        1

âœ… Ratio:

Segment               A         B         C         D         E
ì¦ê°_RPê±´ìˆ˜_ë Œíƒˆ_ì „ì›”
-3             0.000000  0.000000  0.000000  0.000000  1.000000
-2             0.125000  0.000000  0.500000  0.375000  0.000000
-1             0.002901  0.001934  0.071567  0.166344  0.757253
 0             0.000399  0.000059  0.053140  0.145502  0.800900
 1             0.003997  0.000333  0.061959  0.150233  0.783478
 2             0.000000  0.000000  0.714286  0.285714  0.000000
 3             0.000000  0.000000  0.000000  0.000000  1.000000

ğŸŸ¢ [ì»¬ëŸ¼: ì¦ê°_RPê±´ìˆ˜_í•™ìŠµë¹„_ì „ì›”]
âœ… Count:

Segment           A    B       C       D        E
ì¦ê°_RPê±´ìˆ˜_í•™ìŠµë¹„_ì „ì›”
-3                0    0       0       0        2
-2                0    0       1       1        2
-1                0    0      25      28      174
 0              972  144  127524  349160  1921402
 1                0    0      38      52      469
 2                0    0       2       1        2
 3                0    0       0       0        1

âœ… Ratio:

Segment                A        B         C         D         E
ì¦ê°_RPê±´ìˆ˜_í•™ìŠµë¹„_ì „ì›”
-3              0.000000  0.00000  0.000000  0.000000  1.000000
-2              0.000000  0.00000  0.250000  0.250000  0.500000
-1              0.000000  0.00000  0.110132  0.123348  0.766520
 0              0.000405  0.00006  0.053153  0.145532  0.800850
 1              0.000000  0.00000  0.067979  0.093023  0.838998
 2              0.000000  0.00000  0.400000  0.200000  0.400000
 3              0.000000  0.00000  0.000000  0.000000  1.000000

ğŸŸ¢ [ì»¬ëŸ¼: ì´ìš©ê¸ˆì•¡_Dí˜ì´_R3M]
âœ… Count:

Segment         A    B       C       D        E
ì´ìš©ê¸ˆì•¡_Dí˜ì´_R3M
0             936  124  123363  337681  1903528
170             0    0       1       0        0
171             0    0       0       1        0
178             0    0       0       0        1
185             0    0       1       0        0
...           ...  ...     ...     ...      ...
1010            0    0       0       1        0
1012            0    0       0       1        0
1028            0    0       0       1        0
1029            0    0       1       0        0
1030            0    0       0       1        0

[724 rows x 5 columns]

âœ… Ratio:

Segment              A         B         C         D         E
ì´ìš©ê¸ˆì•¡_Dí˜ì´_R3M
0             0.000396  0.000052  0.052148  0.142745  0.804659
170           0.000000  0.000000  1.000000  0.000000  0.000000
171           0.000000  0.000000  0.000000  1.000000  0.000000
178           0.000000  0.000000  0.000000  0.000000  1.000000
185           0.000000  0.000000  1.000000  0.000000  0.000000
...                ...       ...       ...       ...       ...
1010          0.000000  0.000000  0.000000  1.000000  0.000000
1012          0.000000  0.000000  0.000000  1.000000  0.000000
1028          0.000000  0.000000  0.000000  1.000000  0.000000
1029          0.000000  0.000000  1.000000  0.000000  0.000000
1030          0.000000  0.000000  0.000000  1.000000  0.000000

[724 rows x 5 columns]

ğŸŸ¢ [ì»¬ëŸ¼: ì´ìš©ê±´ìˆ˜_Bí˜ì´_R3M]
âœ… Count:

Segment         A    B       C       D        E
ì´ìš©ê±´ìˆ˜_Bí˜ì´_R3M
0             919  137  120903  333971  1897357
1              12    2    1832    5092    10540
2              11    1    1361    3258     5220
3              30    4    3494    6921     8935

âœ… Ratio:

Segment              A         B         C         D         E
ì´ìš©ê±´ìˆ˜_Bí˜ì´_R3M
0             0.000391  0.000058  0.051376  0.141917  0.806258
1             0.000687  0.000114  0.104817  0.291338  0.603044
2             0.001117  0.000102  0.138159  0.330728  0.529895
3             0.001548  0.000206  0.180252  0.357047  0.460947

ğŸŸ¢ [ì»¬ëŸ¼: ì´ìš©ê±´ìˆ˜_Dí˜ì´_R3M]
âœ… Count:

Segment         A    B       C       D        E
ì´ìš©ê±´ìˆ˜_Dí˜ì´_R3M
0             942  122  124269  340206  1908006
1              25   18    2863    7546    12306
2               4    4     264     869     1026
3               1    0     194     621      714

âœ… Ratio:

Segment              A         B         C         D         E
ì´ìš©ê±´ìˆ˜_Dí˜ì´_R3M
0             0.000397  0.000051  0.052356  0.143332  0.803863
1             0.001099  0.000791  0.125802  0.331576  0.540733
2             0.001846  0.001846  0.121827  0.401015  0.473466
3             0.000654  0.000000  0.126797  0.405882  0.466667

ğŸŸ¢ [ì»¬ëŸ¼: ì´ìš©ê¸ˆì•¡_Bí˜ì´_B0M]
âœ… Count:

Segment         A    B       C       D        E
ì´ìš©ê¸ˆì•¡_Bí˜ì´_B0M
0             928  137  122395  338103  1905976
472             0    0       0       1        0
481             0    0       1       0        0
484             0    0       0       1        0
490             0    0       1       0        0
...           ...  ...     ...     ...      ...
924             0    0       0       0        1
927             0    0       1       0        0
931             0    0       1       0        0
942             0    0       0       1        0
967             0    0       1       0        0

[367 rows x 5 columns]

âœ… Ratio:

Segment              A         B         C         D         E
ì´ìš©ê¸ˆì•¡_Bí˜ì´_B0M
0             0.000392  0.000058  0.051697  0.142808  0.805045
472           0.000000  0.000000  0.000000  1.000000  0.000000
481           0.000000  0.000000  1.000000  0.000000  0.000000
484           0.000000  0.000000  0.000000  1.000000  0.000000
490           0.000000  0.000000  1.000000  0.000000  0.000000
...                ...       ...       ...       ...       ...
924           0.000000  0.000000  0.000000  0.000000  1.000000
927           0.000000  0.000000  1.000000  0.000000  0.000000
931           0.000000  0.000000  1.000000  0.000000  0.000000
942           0.000000  0.000000  0.000000  1.000000  0.000000
967           0.000000  0.000000  1.000000  0.000000  0.000000

[367 rows x 5 columns]

ğŸŸ¢ [ì»¬ëŸ¼: ì´ìš©ê¸ˆì•¡_Dí˜ì´_B0M]
âœ… Count:

Segment         A    B       C       D        E
ì´ìš©ê¸ˆì•¡_Dí˜ì´_B0M
0             958  135  126570  346168  1918163
170             0    0       1       0        0
171             0    0       0       2        0
178             0    0       0       0        1
185             0    0       1       0        0
...           ...  ...     ...     ...      ...
386             0    0       0       0        1
390             0    0       0       1        0
397             0    0       1       0        0
407             0    0       0       1        0
413             0    0       0       1        0

[194 rows x 5 columns]

âœ… Ratio:

Segment              A         B         C         D        E
ì´ìš©ê¸ˆì•¡_Dí˜ì´_B0M
0             0.000401  0.000056  0.052914  0.144719  0.80191
170           0.000000  0.000000  1.000000  0.000000  0.00000
171           0.000000  0.000000  0.000000  1.000000  0.00000
178           0.000000  0.000000  0.000000  0.000000  1.00000
185           0.000000  0.000000  1.000000  0.000000  0.00000
...                ...       ...       ...       ...      ...
386           0.000000  0.000000  0.000000  0.000000  1.00000
390           0.000000  0.000000  0.000000  1.000000  0.00000
397           0.000000  0.000000  1.000000  0.000000  0.00000
407           0.000000  0.000000  0.000000  1.000000  0.00000
413           0.000000  0.000000  0.000000  1.000000  0.00000

[194 rows x 5 columns]

ğŸŸ¢ [ì»¬ëŸ¼: ì´ìš©ê±´ìˆ˜_Dí˜ì´_B0M]
âœ… Count:

Segment         A    B       C       D        E
ì´ìš©ê±´ìˆ˜_Dí˜ì´_B0M
0             961  135  126669  346435  1918544
1              11    9     921    2807     3508

âœ… Ratio:

Segment              A         B         C         D         E
ì´ìš©ê±´ìˆ˜_Dí˜ì´_B0M
0             0.000402  0.000056  0.052939  0.144786  0.801817
1             0.001516  0.001240  0.126929  0.386852  0.483462

ğŸŸ¢ [ì»¬ëŸ¼: ì´ìš©ê±´ìˆ˜_ì„ ê²°ì œ_B0M]
âœ… Count:

Segment         A    B       C       D        E
ì´ìš©ê±´ìˆ˜_ì„ ê²°ì œ_B0M
0             970  124  123111  337392  1902030
6               0    0       0       2        2
7               1    1     602    2100     6822
8               0    0      24      58       79
13              0    0       2       7       25
14              0    0       4       7       20
19              0    0       1       4       20
20              0    0       2       3        9
26              0    0       5      11       33
27              0    0      61     206      426
28              0    0      10      31       48
29              0    0       0       1        0
36              0    0       4       7       14
37              0    0      80     298      503
38              0    0     325     935     1882
39              0    0      39     104      149
40              0    0       2       7        6
41              0    0       1       0        0
49              0    0       0       1        0
50              0    0       2       0        1
51              0    0      10      33       42
52              0    1     152     415      597
53              1    3    1242    3531     5002
54              0    9     853    1847     2164
55              0    1     125     307      251
56              0    0      22      46       40
57              0    0       6       3        3
58              0    0       0       0        1
78              0    0       0       1        1
79              0    0       2       7        3
80              0    0       4      15       13
81              0    0      18      48       50
82              0    1      70     128      103
83              0    2     150     283      279
84              0    2     276     483      518
85              0    0     201     494      563
86              0    0     108     253      223
87              0    0      48      97       80
88              0    0      12      44       34
89              0    0       8      22       11
90              0    0       5       4        1
91              0    0       1       4        0
92              0    0       1       2        0
156             0    0       0       1        0
157             0    0       1       0        0
160             0    0       0       0        2
165             0    0       0       0        1
169             0    0       0       0        1

âœ… Ratio:

Segment              A         B         C         D         E
ì´ìš©ê±´ìˆ˜_ì„ ê²°ì œ_B0M
0             0.000410  0.000052  0.052086  0.142743  0.804708
6             0.000000  0.000000  0.000000  0.500000  0.500000
7             0.000105  0.000105  0.063195  0.220449  0.716145
8             0.000000  0.000000  0.149068  0.360248  0.490683
13            0.000000  0.000000  0.058824  0.205882  0.735294
14            0.000000  0.000000  0.129032  0.225806  0.645161
19            0.000000  0.000000  0.040000  0.160000  0.800000
20            0.000000  0.000000  0.142857  0.214286  0.642857
26            0.000000  0.000000  0.102041  0.224490  0.673469
27            0.000000  0.000000  0.088023  0.297258  0.614719
28            0.000000  0.000000  0.112360  0.348315  0.539326
29            0.000000  0.000000  0.000000  1.000000  0.000000
36            0.000000  0.000000  0.160000  0.280000  0.560000
37            0.000000  0.000000  0.090806  0.338252  0.570942
38            0.000000  0.000000  0.103437  0.297581  0.598982
39            0.000000  0.000000  0.133562  0.356164  0.510274
40            0.000000  0.000000  0.133333  0.466667  0.400000
41            0.000000  0.000000  1.000000  0.000000  0.000000
49            0.000000  0.000000  0.000000  1.000000  0.000000
50            0.000000  0.000000  0.666667  0.000000  0.333333
51            0.000000  0.000000  0.117647  0.388235  0.494118
52            0.000000  0.000858  0.130472  0.356223  0.512446
53            0.000102  0.000307  0.127007  0.361080  0.511504
54            0.000000  0.001847  0.175046  0.379027  0.444080
55            0.000000  0.001462  0.182749  0.448830  0.366959
56            0.000000  0.000000  0.203704  0.425926  0.370370
57            0.000000  0.000000  0.500000  0.250000  0.250000
58            0.000000  0.000000  0.000000  0.000000  1.000000
78            0.000000  0.000000  0.000000  0.500000  0.500000
79            0.000000  0.000000  0.166667  0.583333  0.250000
80            0.000000  0.000000  0.125000  0.468750  0.406250
81            0.000000  0.000000  0.155172  0.413793  0.431034
82            0.000000  0.003311  0.231788  0.423841  0.341060
83            0.000000  0.002801  0.210084  0.396359  0.390756
84            0.000000  0.001564  0.215794  0.377639  0.405004
85            0.000000  0.000000  0.159777  0.392687  0.447536
86            0.000000  0.000000  0.184932  0.433219  0.381849
87            0.000000  0.000000  0.213333  0.431111  0.355556
88            0.000000  0.000000  0.133333  0.488889  0.377778
89            0.000000  0.000000  0.195122  0.536585  0.268293
90            0.000000  0.000000  0.500000  0.400000  0.100000
91            0.000000  0.000000  0.200000  0.800000  0.000000
92            0.000000  0.000000  0.333333  0.666667  0.000000
156           0.000000  0.000000  0.000000  1.000000  0.000000
157           0.000000  0.000000  1.000000  0.000000  0.000000
160           0.000000  0.000000  0.000000  0.000000  1.000000
165           0.000000  0.000000  0.000000  0.000000  1.000000
169           0.000000  0.000000  0.000000  0.000000  1.000000

ğŸŸ¢ [ì»¬ëŸ¼: ê±´ìˆ˜_í• ë¶€ì „í™˜_R6M]
âœ… Count:

Segment        A    B       C       D        E
ê±´ìˆ˜_í• ë¶€ì „í™˜_R6M
0            961  132  123046  338857  1904646
4              0    2     182     536     1037
5              2    0     349     872     1357
6              6    5    2027    4693     8207
7              0    1     135     211      182
8              0    0     307     922     1911
9              1    1     778    1798     3002
10             2    3     764    1350     1710
11             0    0       2       3        0

âœ… Ratio:

Segment             A         B         C         D         E
ê±´ìˆ˜_í• ë¶€ì „í™˜_R6M
0            0.000406  0.000056  0.051970  0.143120  0.804448
4            0.000000  0.001138  0.103586  0.305065  0.590211
5            0.000775  0.000000  0.135271  0.337984  0.525969
6            0.000402  0.000335  0.135694  0.314165  0.549404
7            0.000000  0.001890  0.255198  0.398866  0.344045
8            0.000000  0.000000  0.097771  0.293631  0.608599
9            0.000179  0.000179  0.139427  0.322222  0.537993
10           0.000522  0.000783  0.199530  0.352572  0.446592
11           0.000000  0.000000  0.400000  0.600000  0.000000

ğŸŸ¢ [ì»¬ëŸ¼: ê±´ìˆ˜_í• ë¶€ì „í™˜_R3M]
âœ… Count:

Segment        A    B       C       D        E
ê±´ìˆ˜_í• ë¶€ì „í™˜_R3M
0            964  134  123393  339810  1906600
3              0    0       0       1        2
4              1    3    1572    4177     7863
5              7    7    2621    5250     7586
6              0    0       4       4        1

âœ… Ratio:

Segment             A         B         C         D         E
ê±´ìˆ˜_í• ë¶€ì „í™˜_R3M
0            0.000407  0.000057  0.052045  0.143325  0.804167
3            0.000000  0.000000  0.000000  0.333333  0.666667
4            0.000073  0.000220  0.115452  0.306771  0.577482
5            0.000452  0.000452  0.169414  0.339345  0.490337
6            0.000000  0.000000  0.444444  0.444444  0.111111

ğŸŸ¢ [ì»¬ëŸ¼: ê¸ˆì•¡_í• ë¶€ì „í™˜_R6M]
âœ… Count:

Segment        A    B       C       D        E
ê¸ˆì•¡_í• ë¶€ì „í™˜_R6M
0            961  132  123039  338847  1904641
2913           0    0       1       0        0
3201           0    0       0       1        0
3255           0    0       1       0        0
3321           0    0       0       1        0
...          ...  ...     ...     ...      ...
13527          0    0       0       1        0
14022          0    0       0       1        0
14159          0    0       1       0        0
14948          0    0       1       0        0
15542          0    0       0       1        0

[6411 rows x 5 columns]

âœ… Ratio:

Segment             A         B         C         D         E
ê¸ˆì•¡_í• ë¶€ì „í™˜_R6M
0            0.000406  0.000056  0.051967  0.143117  0.804454
2913         0.000000  0.000000  1.000000  0.000000  0.000000
3201         0.000000  0.000000  0.000000  1.000000  0.000000
3255         0.000000  0.000000  1.000000  0.000000  0.000000
3321         0.000000  0.000000  0.000000  1.000000  0.000000
...               ...       ...       ...       ...       ...
13527        0.000000  0.000000  0.000000  1.000000  0.000000
14022        0.000000  0.000000  0.000000  1.000000  0.000000
14159        0.000000  0.000000  1.000000  0.000000  0.000000
14948        0.000000  0.000000  1.000000  0.000000  0.000000
15542        0.000000  0.000000  0.000000  1.000000  0.000000

[6411 rows x 5 columns]

ğŸŸ¢ [ì»¬ëŸ¼: ê¸ˆì•¡_í• ë¶€ì „í™˜_R3M]
âœ… Count:

Segment        A    B       C       D        E
ê¸ˆì•¡_í• ë¶€ì „í™˜_R3M
0            964  134  123381  339784  1906561
2913           0    0       1       0        0
2998           0    0       1       0        0
3008           0    0       0       1        0
3129           0    0       0       0        1
...          ...  ...     ...     ...      ...
8353           0    0       0       1        0
8360           0    0       0       1        0
8400           0    0       0       1        0
8550           0    0       0       0        1
8747           0    0       1       0        0

[2473 rows x 5 columns]

âœ… Ratio:

Segment             A         B         C         D         E
ê¸ˆì•¡_í• ë¶€ì „í™˜_R3M
0            0.000407  0.000057  0.052041  0.143319  0.804177
2913         0.000000  0.000000  1.000000  0.000000  0.000000
2998         0.000000  0.000000  1.000000  0.000000  0.000000
3008         0.000000  0.000000  0.000000  1.000000  0.000000
3129         0.000000  0.000000  0.000000  0.000000  1.000000
...               ...       ...       ...       ...       ...
8353         0.000000  0.000000  0.000000  1.000000  0.000000
8360         0.000000  0.000000  0.000000  1.000000  0.000000
8400         0.000000  0.000000  0.000000  1.000000  0.000000
8550         0.000000  0.000000  0.000000  0.000000  1.000000
8747         0.000000  0.000000  1.000000  0.000000  0.000000

[2473 rows x 5 columns]

ğŸŸ¢ [ì»¬ëŸ¼: ì‹ ì²­ê±´ìˆ˜_ATM_CA_B0]
âœ… Count:

Segment           A    B       C       D        E
ì‹ ì²­ê±´ìˆ˜_ATM_CA_B0
0               836  136  118511  334111  1904050
2                 1    0     340    1706     4869
3               131    8    8639   13407    13129
4                 4    0     100      18        4

âœ… Ratio:

Segment                A         B         C         D         E
ì‹ ì²­ê±´ìˆ˜_ATM_CA_B0
0               0.000355  0.000058  0.050267  0.141714  0.807607
2               0.000145  0.000000  0.049161  0.246674  0.704020
3               0.003710  0.000227  0.244634  0.379651  0.371779
4               0.031746  0.000000  0.793651  0.142857  0.031746

ğŸŸ¢ [ì»¬ëŸ¼: ì‹ ì²­ê±´ìˆ˜_ATM_CL_B0]
âœ… Count:

Segment           A    B       C       D        E
ì‹ ì²­ê±´ìˆ˜_ATM_CL_B0
0               972  144  127589  349242  1922052
3                 0    0       1       0        0

âœ… Ratio:

Segment                A        B         C         D         E
ì‹ ì²­ê±´ìˆ˜_ATM_CL_B0
0               0.000405  0.00006  0.053162  0.145518  0.800855
3               0.000000  0.00000  1.000000  0.000000  0.000000

ğŸŸ¢ [ì»¬ëŸ¼: ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_B0M]
âœ… Count:

Segment       A    B       C       D        E
ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_B0M
0           971  144  127433  348629  1919722
2             1    0     141     599     2322
3             0    0      16      12        8
5             0    0       0       2        0

âœ… Ratio:

Segment            A        B         C         D         E
ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_B0M
0           0.000405  0.00006  0.053166  0.145450  0.800919
2           0.000326  0.00000  0.046033  0.195560  0.758080
3           0.000000  0.00000  0.444444  0.333333  0.222222
5           0.000000  0.00000  0.000000  1.000000  0.000000

ğŸŸ¢ [ì»¬ëŸ¼: ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_í•œë„ì´ˆê³¼_B0M]
âœ… Count:

Segment            A    B       C       D        E
ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_í•œë„ì´ˆê³¼_B0M
0                971  144  127449  348641  1919730
2                  1    0     141     601     2322

âœ… Ratio:

Segment                 A        B         C         D         E
ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_í•œë„ì´ˆê³¼_B0M
0                0.000405  0.00006  0.053172  0.145453  0.800910
2                0.000326  0.00000  0.046003  0.196085  0.757586

ğŸŸ¢ [ì»¬ëŸ¼: ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_BL_B0M]
âœ… Count:

Segment          A    B       C       D        E
ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_BL_B0M
0              972  144  127574  349228  1922044
3                0    0      16      14        8

âœ… Ratio:

Segment               A        B         C         D         E
ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_BL_B0M
0              0.000405  0.00006  0.053157  0.145514  0.800864
3              0.000000  0.00000  0.421053  0.368421  0.210526

ğŸŸ¢ [ì»¬ëŸ¼: ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_BL_R3M]
âœ… Count:

Segment          A    B       C       D        E
ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_BL_R3M
0              965  141  126036  346672  1918630
3                0    0     243     377      310
4                7    3    1306    2188     3110
5                0    0       1       2        1
6                0    0       3       3        1
9                0    0       1       0        0

âœ… Ratio:

Segment               A         B         C         D         E
ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_BL_R3M
0              0.000403  0.000059  0.052681  0.144903  0.801954
3              0.000000  0.000000  0.261290  0.405376  0.333333
4              0.001058  0.000454  0.197460  0.330813  0.470215
5              0.000000  0.000000  0.250000  0.500000  0.250000
6              0.000000  0.000000  0.428571  0.428571  0.142857
9              0.000000  0.000000  1.000000  0.000000  0.000000

ğŸŸ¢ [ì»¬ëŸ¼: ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_ì…ë ¥ì˜¤ë¥˜_R3M]
âœ… Count:

Segment            A    B       C       D        E
ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_ì…ë ¥ì˜¤ë¥˜_R3M
0                972  142  127584  349240  1922052
1                  0    2       6       2        0

âœ… Ratio:

Segment                 A         B        C         D         E
ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_ì…ë ¥ì˜¤ë¥˜_R3M
0                0.000405  0.000059  0.05316  0.145517  0.800858
1                0.000000  0.200000  0.60000  0.200000  0.000000

ğŸŸ¢ [ì»¬ëŸ¼: Segment]
âœ… Count:

Segment    A    B       C       D        E
Segment
A        972    0       0       0        0
B          0  144       0       0        0
C          0    0  127590       0        0
D          0    0       0  349242        0
E          0    0       0       0  1922052

âœ… Ratio:

Segment    A    B    C    D    E
Segment
A        1.0  0.0  0.0  0.0  0.0
B        0.0  1.0  0.0  0.0  0.0
C        0.0  0.0  1.0  0.0  0.0
D        0.0  0.0  0.0  1.0  0.0
E        0.0  0.0  0.0  0.0  1.0

In [11]:
import pandas as pd

def evaluate_segment_usefulness(df, columns, segment_col='Segment', rare_thresh=100):
    results = []

    for col in columns:
        value_counts = df[col].value_counts()
        rare_values = value_counts[value_counts < rare_thresh].index

        # Segment count & ratio
        count_table = df.groupby([col, segment_col]).size().unstack(fill_value=0)
        ratio_table = count_table.div(count_table.sum(axis=1), axis=0)

        # Segmentë³„ ìµœëŒ€-ìµœì†Œ ë¹„ìœ¨ ì°¨ì´
        max_gap_per_segment = ratio_table.max() - ratio_table.min()
        total_max_gap = max_gap_per_segment.max()

        # Segment ì ë¦¼ë„ (ê°’ë³„ ìµœê³  ë¹„ìœ¨ì˜ í‰ê· )
        max_ratios = ratio_table.max(axis=1)
        mean_peak_ratio = max_ratios.mean()

        # í¬ê·€ê°’ ë¹„ìœ¨
        rare_ratio = df[col].isin(rare_values).mean()

        # ìœ ì˜ë¯¸ë„ íŒì •
        if total_max_gap >= 0.3 and mean_peak_ratio >= 0.7:
            judgment = 'ë†’ìŒ'
        elif total_max_gap >= 0.1 and mean_peak_ratio >= 0.5:
            judgment = 'ì¤‘ê°„'
        else:
            judgment = 'ë‚®ìŒ'

        results.append({
            'ì»¬ëŸ¼': col,
            'ê°’ ìˆ˜': df[col].nunique(),
            'ìµœëŒ€ë¹„ìœ¨ì°¨(%)': round(total_max_gap * 100, 1),
            'ì ë¦¼ë„í‰ê· (%)': round(mean_peak_ratio * 100, 1),
            'í¬ê·€ê°’ë¹„ì¤‘(%)': round(rare_ratio * 100, 2),
            'ìœ ì˜ë¯¸ì„±': judgment
        })

    result_df = pd.DataFrame(results).sort_values(by='ìœ ì˜ë¯¸ì„±', ascending=False)
    return result_df

In [12]:
cols_to_check = cols_to_drop
result = evaluate_segment_usefulness(selected_df, cols_to_check)
display(result)

                   ì»¬ëŸ¼    ê°’ ìˆ˜  ìµœëŒ€ë¹„ìœ¨ì°¨(%)  ì ë¦¼ë„í‰ê· (%)  í¬ê·€ê°’ë¹„ì¤‘(%) ìœ ì˜ë¯¸ì„±
18      í• ë¶€ê±´ìˆ˜_12M_R12M      8     100.0      68.5      0.00   ì¤‘ê°„
27        RPê±´ìˆ˜_ê°€ìŠ¤_B0M      2      14.8      72.8      0.00   ì¤‘ê°„
44       ì´ìš©ê±´ìˆ˜_Dí˜ì´_B0M      2      31.8      64.3      0.00   ì¤‘ê°„
22  í• ë¶€ê±´ìˆ˜_ë¬´ì´ì_14M_R12M      2      19.9      90.0      0.00   ì¤‘ê°„
43       ì´ìš©ê¸ˆì•¡_Dí˜ì´_B0M    194     100.0      62.1      0.12   ì¤‘ê°„
42       ì´ìš©ê¸ˆì•¡_Bí˜ì´_B0M    367     100.0      57.9      0.25   ì¤‘ê°„
41       ì´ìš©ê±´ìˆ˜_Dí˜ì´_R3M      4      33.7      57.1      0.00   ì¤‘ê°„
40       ì´ìš©ê±´ìˆ˜_Bí˜ì´_R3M      4      34.5      60.0      0.00   ì¤‘ê°„
28        RPê±´ìˆ˜_ì „ê¸°_B0M      2      19.7      70.3      0.00   ì¤‘ê°„
46        ê±´ìˆ˜_í• ë¶€ì „í™˜_R6M      9      80.4      56.2      0.00   ì¤‘ê°„
39       ì´ìš©ê¸ˆì•¡_Dí˜ì´_R3M    724     100.0      63.5      0.44   ì¤‘ê°„
31          RPí›„ê²½ê³¼ì›”_ë Œíƒˆ      7      11.1      76.8      0.00   ì¤‘ê°„
32          RPí›„ê²½ê³¼ì›”_ê°€ìŠ¤      7      21.7      63.6      0.00   ì¤‘ê°„
33          RPí›„ê²½ê³¼ì›”_ì „ê¸°      7      19.7      64.9      0.00   ì¤‘ê°„
34          RPí›„ê²½ê³¼ì›”_ë³´í—˜      7      10.1      72.1      0.00   ì¤‘ê°„
54      ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_BL_B0M      2      59.0      61.1      0.00   ì¤‘ê°„
45       ì´ìš©ê±´ìˆ˜_ì„ ê²°ì œ_B0M     48     100.0      63.3      0.02   ì¤‘ê°„
36      ì¦ê°_RPê±´ìˆ˜_í†µì‹ _ì „ì›”      5      31.9      61.5      0.00   ì¤‘ê°„
9     ì´ìš©ê°œì›”ìˆ˜_ë¶€ë¶„ë¬´ì´ì_R3M      2      13.2      73.5      0.00   ì¤‘ê°„
4      ì´ìš©ê±´ìˆ˜_ë¶€ë¶„ë¬´ì´ì_R6M      2      15.3      72.5      0.00   ì¤‘ê°„
16           _3ìˆœìœ„ì—¬ìœ ì—…ì¢…      7      85.6      57.6      0.00   ì¤‘ê°„
47        ê±´ìˆ˜_í• ë¶€ì „í™˜_R3M      5      69.3      59.7      0.00   ì¤‘ê°„
14          ì—¬ìœ _ìˆ™ë°•ì´ìš©ê¸ˆì•¡    517     100.0      65.1      0.70   ì¤‘ê°„
13          ì—¬ìœ _ê³µì›ì´ìš©ê¸ˆì•¡    134     100.0      64.0      0.07   ì¤‘ê°„
12         ì—¬ìœ _Petì´ìš©ê¸ˆì•¡    360     100.0      59.4      0.18   ì¤‘ê°„
2        ì´ìš©í›„ê²½ê³¼ì›”_ë¶€ë¶„ë¬´ì´ì     13      60.7      62.1      0.00   ì¤‘ê°„
55      ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_BL_R3M      6      94.7      60.1      0.00   ì¤‘ê°„
17      _3ìˆœìœ„ì—¬ìœ ì—…ì¢…_ì´ìš©ê¸ˆì•¡    652     100.0      69.7      0.19   ì¤‘ê°„
49        ê¸ˆì•¡_í• ë¶€ì „í™˜_R3M   2473     100.0      67.6      1.22   ì¤‘ê°„
7      ì´ìš©ê±´ìˆ˜_ë¶€ë¶„ë¬´ì´ì_R3M      2      12.7      73.7      0.00   ì¤‘ê°„
6     ì´ìš©ê°œì›”ìˆ˜_ë¶€ë¶„ë¬´ì´ì_R6M      2      16.1      72.1      0.00   ì¤‘ê°„
50     ì‹ ì²­ê±´ìˆ˜_ATM_CA_B0      4      77.6      67.1      0.00   ì¤‘ê°„
51     ì‹ ì²­ê±´ìˆ˜_ATM_CL_B0      2      94.7      90.0      0.00   ë†’ìŒ
37      ì¦ê°_RPê±´ìˆ˜_ë Œíƒˆ_ì „ì›”      7     100.0      79.4      0.00   ë†’ìŒ
38     ì¦ê°_RPê±´ìˆ˜_í•™ìŠµë¹„_ì „ì›”      7      60.0      75.8      0.00   ë†’ìŒ
48        ê¸ˆì•¡_í• ë¶€ì „í™˜_R6M   6411     100.0      71.2      1.35   ë†’ìŒ
57            Segment      5     100.0     100.0      0.00   ë†’ìŒ
26        RPê±´ìˆ˜_ë Œíƒˆ_B0M      4      91.7      78.3      0.00   ë†’ìŒ
30       RPê±´ìˆ˜_í•™ìŠµë¹„_B0M      4      33.3      83.2      0.00   ë†’ìŒ
1        ì´ìš©ê¸ˆì•¡_ì¹´ë“œë¡ _B0M    101     100.0      99.8      0.00   ë†’ìŒ
25   í• ë¶€ê¸ˆì•¡_ë¶€ë¶„_14M_R12M     79     100.0      99.7      0.00   ë†’ìŒ
24    í• ë¶€ê¸ˆì•¡_ë¶€ë¶„_6M_R12M      2      85.4      90.0      0.00   ë†’ìŒ
23  í• ë¶€ê¸ˆì•¡_ë¬´ì´ì_14M_R12M    735     100.0      96.7      0.08   ë†’ìŒ
21  í• ë¶€ê¸ˆì•¡_ìœ ì´ì_12M_R12M   6170     100.0      71.5      1.97   ë†’ìŒ
20  í• ë¶€ê±´ìˆ˜_ìœ ì´ì_12M_R12M      4      94.7      71.6      0.00   ë†’ìŒ
19      í• ë¶€ê±´ìˆ˜_14M_R12M      4      37.5      78.1      0.00   ë†’ìŒ
15          ì—¬ìœ _í•­ê³µì´ìš©ê¸ˆì•¡   1252     100.0      71.9      0.21   ë†’ìŒ
11         êµí†µ_í†µí–‰ë£Œì´ìš©ê¸ˆì•¡     45     100.0      82.5      0.00   ë†’ìŒ
56    ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_ì…ë ¥ì˜¤ë¥˜_R3M      2      80.1      70.0      0.00   ë†’ìŒ
5        ì´ìš©ê¸ˆì•¡_ì¹´ë“œë¡ _R6M  29862     100.0      92.0      1.85   ë†’ìŒ
3     ì´ìš©ê¸ˆì•¡_ë¶€ë¶„ë¬´ì´ì_R12M   3444     100.0      71.1      1.98   ë†’ìŒ
52         ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_B0M      4      85.5      75.1      0.00   ë†’ìŒ
53    ìŠ¹ì¸ê±°ì ˆê±´ìˆ˜_í•œë„ì´ˆê³¼_B0M      2       5.1      77.9      0.00   ë‚®ìŒ
0        ì´ìš©ê±´ìˆ˜_ì¹´ë“œë¡ _B0M      2       7.7      83.9      0.00   ë‚®ìŒ
35         RPí›„ê²½ê³¼ì›”_í•™ìŠµë¹„      7       8.7      81.6      0.00   ë‚®ìŒ
10      ì´ìš©ê°œì›”ìˆ˜_ì¹´ë“œë¡ _R3M      2       7.3      76.4      0.00   ë‚®ìŒ
8        ì´ìš©ê±´ìˆ˜_ì¹´ë“œë¡ _R3M      2       7.3      76.4      0.00   ë‚®ìŒ
29        RPê±´ìˆ˜_ë³´í—˜_B0M      2      10.0      75.2      0.00   ë‚®ìŒ