In [2]:
# Í∏∞Î≥∏ ÎùºÏù¥Î∏åÎü¨Î¶¨
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

# Í∑∏ÎûòÌîÑ Í∏∞Î≥∏ ÏÑ§Ï†ï
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 13
plt.rcParams['axes.unicode_minus'] = False

# Í≤ΩÍ≥† Îú®ÏßÄ ÏïäÍ≤å
import warnings
warnings.filterwarnings('ignore')

#Ï†ÄÏû•ÎùºÏù¥Î∏åÎü¨Î¶¨
import pickle

# ÌèâÍ∞ÄÌï®Ïàò
# Î∂ÑÎ•òÏö©
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score

# ÌöåÍ∑ÄÏö©
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

# ÌëúÏ§ÄÌôî
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

# LabelEncoder
from sklearn.preprocessing import LabelEncoder

# Îç∞Ïù¥ÌÑ∞Î•º ÌïôÏäµÏö©Í≥º Í≤ÄÏ¶ùÏö©ÏúºÎ°ú ÎÇòÎààÎã§.
from sklearn.model_selection import train_test_split

import os

In [3]:
# Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
df1 = pd.read_csv('EDA/uniqueÏ†úÍ±∞/train_7_ÎßàÏºÄÌåÖÏ†ïÎ≥¥_unique.csv')
df2 = pd.read_csv('EDA/Segment/Segment_Î≥ëÌï©.csv')

In [4]:
# Segment Ïª¨ÎüºÎßå Ï∂îÏ∂úÌï¥ÏÑú Î≥ëÌï©
merged_df = df1.merge(df2[['ID', 'Segment']], on='ID', how='left')
merged_df

,Í∏∞Ï§ÄÎÖÑÏõî,ID,Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_TM_B0M,Ïª®ÌÉùÍ±¥Ïàò_Î¶¨Î≥ºÎπô_TM_B0M,Ïª®ÌÉùÍ±¥Ïàò_Ïù¥Ïö©Ïú†ÎèÑ_TM_B0M,Ïª®ÌÉùÍ±¥Ïàò_Î≥¥Ìóò_TM_B0M,Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_LMS_B0M,Ïª®ÌÉùÍ±¥Ïàò_CA_LMS_B0M,Ïª®ÌÉùÍ±¥Ïàò_Î¶¨Î≥ºÎπô_LMS_B0M,Ïª®ÌÉùÍ±¥Ïàò_Ïù¥Ïö©Ïú†ÎèÑ_LMS_B0M,...,Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_Ï≤≠Íµ¨ÏÑú_R6M,Ïª®ÌÉùÍ±¥Ïàò_CA_Ï≤≠Íµ¨ÏÑú_R6M,Ïª®ÌÉùÍ±¥Ïàò_Ïù¥Ïö©Ïú†ÎèÑ_Ï≤≠Íµ¨ÏÑú_R6M,Ïª®ÌÉùÍ±¥Ïàò_Ïù¥Ïö©Ïú†ÎèÑ_Ïù∏ÌÑ∞ÎÑ∑_R6M,Ïª®ÌÉùÍ±¥Ïàò_Ïù¥Ïö©Ïú†ÎèÑ_ÎãπÏÇ¨Ïï±_R6M,Ïª®ÌÉùÍ±¥Ïàò_Ï±ÑÍ∂å_B0M,Ïª®ÌÉùÍ±¥Ïàò_Ï±ÑÍ∂å_R6M,Ï∫†ÌéòÏù∏Ï†ëÏ¥âÍ±¥Ïàò_R12M,Ï∫†ÌéòÏù∏Ï†ëÏ¥âÏùºÏàò_R12M,Segment
0,201807,TRAIN_000000,0,0,0,0,0,0,0,2,...,0,0,0,2,0,0,0,1Ìöå Ïù¥ÏÉÅ,1Ïùº Ïù¥ÏÉÅ,D
1,201807,TRAIN_000000,0,0,0,0,0,0,0,2,...,0,0,0,2,0,0,0,1Ìöå Ïù¥ÏÉÅ,1Ïùº Ïù¥ÏÉÅ,D
2,201807,TRAIN_000000,0,0,0,0,0,0,0,2,...,0,0,0,2,0,0,0,1Ìöå Ïù¥ÏÉÅ,1Ïùº Ïù¥ÏÉÅ,D
3,201807,TRAIN_000000,0,0,0,0,0,0,0,2,...,0,0,0,2,0,0,0,1Ìöå Ïù¥ÏÉÅ,1Ïùº Ïù¥ÏÉÅ,D
4,201807,TRAIN_000000,0,0,0,0,0,0,0,2,...,0,0,0,2,0,0,0,1Ìöå Ïù¥ÏÉÅ,1Ïùº Ïù¥ÏÉÅ,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14399995,201812,TRAIN_399999,0,0,0,0,0,0,0,0,...,0,0,5,0,0,0,0,1Ìöå Ïù¥ÏÉÅ,1Ïùº Ïù¥ÏÉÅ,E
14399996,201812,TRAIN_399999,0,0,0,0,0,0,0,0,...,0,0,5,0,0,0,0,1Ìöå Ïù¥ÏÉÅ,1Ïùº Ïù¥ÏÉÅ,E
14399997,201812,TRAIN_399999,0,0,0,0,0,0,0,0,...,0,0,5,0,0,0,0,1Ìöå Ïù¥ÏÉÅ,1Ïùº Ïù¥ÏÉÅ,E
14399998,201812,TRAIN_399999,0,0,0,0,0,0,0,0,...,0,0,5,0,0,0,0,1Ìöå Ïù¥ÏÉÅ,1Ïùº Ïù¥ÏÉÅ,E
14399999,201812,TRAIN_399999,0,0,0,0,0,0,0,0,...,0,0,5,0,0,0,0,1Ìöå Ïù¥ÏÉÅ,1Ïùº Ïù¥ÏÉÅ,E

In [7]:
# ÏµúÎπàÍ∞í 98% Ïù¥ÏÉÅ Ï†úÍ±∞Ìïú ÏÉàÎ°úÏö¥ Ïª¨Îüº Î¶¨Ïä§Ìä∏
cols_to_drop = [
    'ID',
    'Ïª®ÌÉùÍ±¥Ïàò_Î¶¨Î≥ºÎπô_TM_B0M',
    'Ïª®ÌÉùÍ±¥Ïàò_Î≥¥Ìóò_TM_B0M',
    'Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_LMS_B0M',
    'Ïª®ÌÉùÍ±¥Ïàò_CA_LMS_B0M',
    'Ïª®ÌÉùÍ±¥Ïàò_Î¶¨Î≥ºÎπô_LMS_B0M',
    'Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_EM_B0M',
    'Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_Ï≤≠Íµ¨ÏÑú_B0M',
    'Ïª®ÌÉùÍ±¥Ïàò_CA_Ï≤≠Íµ¨ÏÑú_B0M',
    'Ïª®ÌÉùÍ±¥Ïàò_Ïù¥Ïö©Ïú†ÎèÑ_ÎãπÏÇ¨Ïï±_B0M',
    'Ïª®ÌÉùÍ±¥Ïàò_CA_TM_R6M',
    'Ïª®ÌÉùÍ±¥Ïàò_Ïã†Ïö©Î∞úÍ∏â_TM_R6M',
    'Ïª®ÌÉùÍ±¥Ïàò_Ìè¨Ïù∏Ìä∏ÏÜåÏßÑ_TM_R6M',
    'Ïª®ÌÉùÍ±¥Ïàò_Î¶¨Î≥ºÎπô_LMS_R6M',
    'Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_EM_R6M',
    'Ïª®ÌÉùÍ±¥Ïàò_Ïù¥Ïö©Ïú†ÎèÑ_ÎãπÏÇ¨Ïï±_R6M',
    'Ïª®ÌÉùÍ±¥Ïàò_Ï±ÑÍ∂å_B0M',
    'Segment'
]

In [8]:
selected_df = merged_df[cols_to_drop].copy()

print("‚úÖ ÏÑ†ÌÉùÌïú Ïª¨ÎüºÎì§Îßå ÎÇ®Í∏¥ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÏÉòÌîå:")
selected_df

‚úÖ ÏÑ†ÌÉùÌïú Ïª¨ÎüºÎì§Îßå ÎÇ®Í∏¥ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÏÉòÌîå:

,ID,Ïª®ÌÉùÍ±¥Ïàò_Î¶¨Î≥ºÎπô_TM_B0M,Ïª®ÌÉùÍ±¥Ïàò_Î≥¥Ìóò_TM_B0M,Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_LMS_B0M,Ïª®ÌÉùÍ±¥Ïàò_CA_LMS_B0M,Ïª®ÌÉùÍ±¥Ïàò_Î¶¨Î≥ºÎπô_LMS_B0M,Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_EM_B0M,Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_Ï≤≠Íµ¨ÏÑú_B0M,Ïª®ÌÉùÍ±¥Ïàò_CA_Ï≤≠Íµ¨ÏÑú_B0M,Ïª®ÌÉùÍ±¥Ïàò_Ïù¥Ïö©Ïú†ÎèÑ_ÎãπÏÇ¨Ïï±_B0M,Ïª®ÌÉùÍ±¥Ïàò_CA_TM_R6M,Ïª®ÌÉùÍ±¥Ïàò_Ïã†Ïö©Î∞úÍ∏â_TM_R6M,Ïª®ÌÉùÍ±¥Ïàò_Ìè¨Ïù∏Ìä∏ÏÜåÏßÑ_TM_R6M,Ïª®ÌÉùÍ±¥Ïàò_Î¶¨Î≥ºÎπô_LMS_R6M,Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_EM_R6M,Ïª®ÌÉùÍ±¥Ïàò_Ïù¥Ïö©Ïú†ÎèÑ_ÎãπÏÇ¨Ïï±_R6M,Ïª®ÌÉùÍ±¥Ïàò_Ï±ÑÍ∂å_B0M,Segment
0,TRAIN_000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,D
1,TRAIN_000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,D
2,TRAIN_000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,D
3,TRAIN_000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,D
4,TRAIN_000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14399995,TRAIN_399999,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,E
14399996,TRAIN_399999,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,E
14399997,TRAIN_399999,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,E
14399998,TRAIN_399999,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,E
14399999,TRAIN_399999,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,E

In [9]:
selected_df['Segment'].value_counts()

Segment
E    11532312
D     2095452
C      765540
A        5832
B         864
Name: count, dtype: int64

In [10]:
print("‚úÖ ÏÑ†ÌÉùÎêú Ïª¨ÎüºÎ™Ö Î™©Î°ù:")
print(selected_df.columns.tolist())

‚úÖ ÏÑ†ÌÉùÎêú Ïª¨ÎüºÎ™Ö Î™©Î°ù:
['ID', 'Ïª®ÌÉùÍ±¥Ïàò_Î¶¨Î≥ºÎπô_TM_B0M', 'Ïª®ÌÉùÍ±¥Ïàò_Î≥¥Ìóò_TM_B0M', 'Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_LMS_B0M', 'Ïª®ÌÉùÍ±¥Ïàò_CA_LMS_B0M', 'Ïª®ÌÉùÍ±¥Ïàò_Î¶¨Î≥ºÎπô_LMS_B0M', 'Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_EM_B0M', 'Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_Ï≤≠Íµ¨ÏÑú_B0M', 'Ïª®ÌÉùÍ±¥Ïàò_CA_Ï≤≠Íµ¨ÏÑú_B0M', 'Ïª®ÌÉùÍ±¥Ïàò_Ïù¥Ïö©Ïú†ÎèÑ_ÎãπÏÇ¨Ïï±_B0M', 'Ïª®ÌÉùÍ±¥Ïàò_CA_TM_R6M', 'Ïª®ÌÉùÍ±¥Ïàò_Ïã†Ïö©Î∞úÍ∏â_TM_R6M', 'Ïª®ÌÉùÍ±¥Ïàò_Ìè¨Ïù∏Ìä∏ÏÜåÏßÑ_TM_R6M', 'Ïª®ÌÉùÍ±¥Ïàò_Î¶¨Î≥ºÎπô_LMS_R6M', 'Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_EM_R6M', 'Ïª®ÌÉùÍ±¥Ïàò_Ïù¥Ïö©Ïú†ÎèÑ_ÎãπÏÇ¨Ïï±_R6M', 'Ïª®ÌÉùÍ±¥Ïàò_Ï±ÑÍ∂å_B0M', 'Segment']

In [11]:
def show_segment_distribution(df, columns, segment_col='Segment'):
    """
    Í∞Å Ïª¨ÎüºÏùò Í≥†Ïú†Í∞íÎ≥ÑÎ°ú Segment Î∂ÑÌè¨ (Ïπ¥Ïö¥Ìä∏ÏôÄ ÎπÑÏú®) Ï∂úÎ†•
    """
    for col in columns:
        print(f"\n\nüü¢ [Ïª¨Îüº: {col}]")
        
        # Í∑∏Î£πÎ≥Ñ Í∞úÏàò
        count_table = df.groupby([col, segment_col]).size().unstack(fill_value=0)
        print("‚úÖ Count:")
        display(count_table)
        
        # Í∑∏Î£πÎ≥Ñ ÎπÑÏú® (row-wise ÎπÑÏú®, Î∞±Î∂ÑÏú®Î°ú Î≥ÄÌôò)
        ratio_table = count_table.div(count_table.sum(axis=0), axis=1) * 100
        print("‚úÖ Ratio (%):")
        display(ratio_table.round(4))  # Î≥¥Í∏∞ Ï¢ãÍ≤å ÏÜåÏàòÏ†ê ÎëòÏß∏ÏûêÎ¶¨ÍπåÏßÄ

In [12]:
show_segment_distribution(selected_df, cols_to_drop)

üü¢ [Ïª¨Îüº: ID]
‚úÖ Count:

Segment       A  B   C   D   E
ID
TRAIN_000000  0  0   0  36   0
TRAIN_000001  0  0   0   0  36
TRAIN_000002  0  0  36   0   0
TRAIN_000003  0  0   0  36   0
TRAIN_000004  0  0   0   0  36
...          .. ..  ..  ..  ..
TRAIN_399995  0  0   0   0  36
TRAIN_399996  0  0   0  36   0
TRAIN_399997  0  0  36   0   0
TRAIN_399998  0  0   0   0  36
TRAIN_399999  0  0   0   0  36

[400000 rows x 5 columns]

‚úÖ Ratio (%):

Segment         A    B       C       D       E
ID
TRAIN_000000  0.0  0.0  0.0000  0.0017  0.0000
TRAIN_000001  0.0  0.0  0.0000  0.0000  0.0003
TRAIN_000002  0.0  0.0  0.0047  0.0000  0.0000
TRAIN_000003  0.0  0.0  0.0000  0.0017  0.0000
TRAIN_000004  0.0  0.0  0.0000  0.0000  0.0003
...           ...  ...     ...     ...     ...
TRAIN_399995  0.0  0.0  0.0000  0.0000  0.0003
TRAIN_399996  0.0  0.0  0.0000  0.0017  0.0000
TRAIN_399997  0.0  0.0  0.0047  0.0000  0.0000
TRAIN_399998  0.0  0.0  0.0000  0.0000  0.0003
TRAIN_399999  0.0  0.0  0.0000  0.0000  0.0003

[400000 rows x 5 columns]

üü¢ [Ïª¨Îüº: Ïª®ÌÉùÍ±¥Ïàò_Î¶¨Î≥ºÎπô_TM_B0M]
‚úÖ Count:

Segment             A    B       C        D         E
Ïª®ÌÉùÍ±¥Ïàò_Î¶¨Î≥ºÎπô_TM_B0M
0                5832  864  765534  2095452  11532246
1                   0    0       6        0        42
2                   0    0       0        0        24

‚úÖ Ratio (%):

Segment              A      B        C      D        E
Ïª®ÌÉùÍ±¥Ïàò_Î¶¨Î≥ºÎπô_TM_B0M
0                100.0  100.0  99.9992  100.0  99.9994
1                  0.0    0.0   0.0008    0.0   0.0004
2                  0.0    0.0   0.0000    0.0   0.0002

üü¢ [Ïª¨Îüº: Ïª®ÌÉùÍ±¥Ïàò_Î≥¥Ìóò_TM_B0M]
‚úÖ Count:

Segment            A    B       C        D         E
Ïª®ÌÉùÍ±¥Ïàò_Î≥¥Ìóò_TM_B0M
0               5754  822  755532  2067846  11380470
1                 78   42   10008    27606    151842

‚úÖ Ratio (%):

Segment               A        B        C        D        E
Ïª®ÌÉùÍ±¥Ïàò_Î≥¥Ìóò_TM_B0M
0               98.6626  95.1389  98.6927  98.6826  98.6833
1                1.3374   4.8611   1.3073   1.3174   1.3167

üü¢ [Ïª¨Îüº: Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_LMS_B0M]
‚úÖ Count:

Segment              A    B       C        D         E
Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_LMS_B0M
0                 5832  864  762744  2079618  11492058
1                    0    0    2796    15834     40254

‚úÖ Ratio (%):

Segment               A      B        C        D        E
Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_LMS_B0M
0                 100.0  100.0  99.6348  99.2444  99.6509
1                   0.0    0.0   0.3652   0.7556   0.3491

üü¢ [Ïª¨Îüº: Ïª®ÌÉùÍ±¥Ïàò_CA_LMS_B0M]
‚úÖ Count:

Segment             A    B       C        D         E
Ïª®ÌÉùÍ±¥Ïàò_CA_LMS_B0M
0                5832  864  765534  2095410  11532228
1                   0    0       0        6        36
2                   0    0       6       36        48

‚úÖ Ratio (%):

Segment              A      B        C        D        E
Ïª®ÌÉùÍ±¥Ïàò_CA_LMS_B0M
0                100.0  100.0  99.9992  99.9980  99.9993
1                  0.0    0.0   0.0000   0.0003   0.0003
2                  0.0    0.0   0.0008   0.0017   0.0004

üü¢ [Ïª¨Îüº: Ïª®ÌÉùÍ±¥Ïàò_Î¶¨Î≥ºÎπô_LMS_B0M]
‚úÖ Count:

Segment              A    B       C        D         E
Ïª®ÌÉùÍ±¥Ïàò_Î¶¨Î≥ºÎπô_LMS_B0M
0                 5832  864  765450  2095404  11532294
1                    0    0      90       48        18

‚úÖ Ratio (%):

Segment               A      B        C        D        E
Ïª®ÌÉùÍ±¥Ïàò_Î¶¨Î≥ºÎπô_LMS_B0M
0                 100.0  100.0  99.9882  99.9977  99.9998
1                   0.0    0.0   0.0118   0.0023   0.0002

üü¢ [Ïª¨Îüº: Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_EM_B0M]
‚úÖ Count:

Segment             A    B       C        D         E
Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_EM_B0M
0                5814  864  765444  2095206  11531826
1                  18    0      96      246       486

‚úÖ Ratio (%):

Segment                A      B        C        D        E
Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_EM_B0M
0                99.6914  100.0  99.9875  99.9883  99.9958
1                 0.3086    0.0   0.0125   0.0117   0.0042

üü¢ [Ïª¨Îüº: Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_Ï≤≠Íµ¨ÏÑú_B0M]
‚úÖ Count:

Segment              A    B       C        D         E
Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_Ï≤≠Íµ¨ÏÑú_B0M
0                 5832  864  765516  2095410  11531988
1                    0    0      24       42       324

‚úÖ Ratio (%):

Segment               A      B        C       D        E
Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_Ï≤≠Íµ¨ÏÑú_B0M
0                 100.0  100.0  99.9969  99.998  99.9972
1                   0.0    0.0   0.0031   0.002   0.0028

üü¢ [Ïª¨Îüº: Ïª®ÌÉùÍ±¥Ïàò_CA_Ï≤≠Íµ¨ÏÑú_B0M]
‚úÖ Count:

Segment             A    B       C        D         E
Ïª®ÌÉùÍ±¥Ïàò_CA_Ï≤≠Íµ¨ÏÑú_B0M
0                5802  864  763320  2087466  11509908
2                  30    0    2220     7986     22404

‚úÖ Ratio (%):

Segment                A      B      C        D        E
Ïª®ÌÉùÍ±¥Ïàò_CA_Ï≤≠Íµ¨ÏÑú_B0M
0                99.4856  100.0  99.71  99.6189  99.8057
2                 0.5144    0.0   0.29   0.3811   0.1943

üü¢ [Ïª¨Îüº: Ïª®ÌÉùÍ±¥Ïàò_Ïù¥Ïö©Ïú†ÎèÑ_ÎãπÏÇ¨Ïï±_B0M]
‚úÖ Count:

Segment               A    B       C        D         E
Ïª®ÌÉùÍ±¥Ïàò_Ïù¥Ïö©Ïú†ÎèÑ_ÎãπÏÇ¨Ïï±_B0M
0                  5832  864  765456  2095332  11532222
1                     0    0      54      114        60
2                     0    0      30        6        30

‚úÖ Ratio (%):

Segment                A      B        C        D        E
Ïª®ÌÉùÍ±¥Ïàò_Ïù¥Ïö©Ïú†ÎèÑ_ÎãπÏÇ¨Ïï±_B0M
0                  100.0  100.0  99.9890  99.9943  99.9992
1                    0.0    0.0   0.0071   0.0054   0.0005
2                    0.0    0.0   0.0039   0.0003   0.0003

üü¢ [Ïª¨Îüº: Ïª®ÌÉùÍ±¥Ïàò_CA_TM_R6M]
‚úÖ Count:

Segment            A    B       C        D         E
Ïª®ÌÉùÍ±¥Ïàò_CA_TM_R6M
0               5820  864  764892  2093754  11526180
1                  0    0      42       30       216
2                 12    0     576     1662      5832
3                  0    0      24        6        78
4                  0    0       6        0         6

‚úÖ Ratio (%):

Segment               A      B        C        D        E
Ïª®ÌÉùÍ±¥Ïàò_CA_TM_R6M
0               99.7942  100.0  99.9154  99.9190  99.9468
1                0.0000    0.0   0.0055   0.0014   0.0019
2                0.2058    0.0   0.0752   0.0793   0.0506
3                0.0000    0.0   0.0031   0.0003   0.0007
4                0.0000    0.0   0.0008   0.0000   0.0001

üü¢ [Ïª¨Îüº: Ïª®ÌÉùÍ±¥Ïàò_Ïã†Ïö©Î∞úÍ∏â_TM_R6M]
‚úÖ Count:

Segment              A    B       C        D         E
Ïª®ÌÉùÍ±¥Ïàò_Ïã†Ïö©Î∞úÍ∏â_TM_R6M
0                 5832  864  765354  2093754  11389578
1                    0    0     186     1698    142722
2                    0    0       0        0        12

‚úÖ Ratio (%):

Segment               A      B        C       D        E
Ïª®ÌÉùÍ±¥Ïàò_Ïã†Ïö©Î∞úÍ∏â_TM_R6M
0                 100.0  100.0  99.9757  99.919  98.7623
1                   0.0    0.0   0.0243   0.081   1.2376
2                   0.0    0.0   0.0000   0.000   0.0001

üü¢ [Ïª¨Îüº: Ïª®ÌÉùÍ±¥Ïàò_Ìè¨Ïù∏Ìä∏ÏÜåÏßÑ_TM_R6M]
‚úÖ Count:

Segment               A    B       C        D         E
Ïª®ÌÉùÍ±¥Ïàò_Ìè¨Ïù∏Ìä∏ÏÜåÏßÑ_TM_R6M
0                  5832  846  756732  2070804  11472072
1                     0   18    8808    24648     60234
2                     0    0       0        0         6

‚úÖ Ratio (%):

Segment                A        B        C        D        E
Ïª®ÌÉùÍ±¥Ïàò_Ìè¨Ïù∏Ìä∏ÏÜåÏßÑ_TM_R6M
0                  100.0  97.9167  98.8494  98.8237  99.4776
1                    0.0   2.0833   1.1506   1.1763   0.5223
2                    0.0   0.0000   0.0000   0.0000   0.0001

üü¢ [Ïª¨Îüº: Ïª®ÌÉùÍ±¥Ïàò_Î¶¨Î≥ºÎπô_LMS_R6M]
‚úÖ Count:

Segment              A    B       C        D         E
Ïª®ÌÉùÍ±¥Ïàò_Î¶¨Î≥ºÎπô_LMS_R6M
0                 5808  864  762378  2084448  11497206
1                   18    0    3078    10224     20904
2                    6    0      84      780     14202

‚úÖ Ratio (%):

Segment                 A      B        C        D        E
Ïª®ÌÉùÍ±¥Ïàò_Î¶¨Î≥ºÎπô_LMS_R6M
0                 99.5885  100.0  99.5870  99.4749  99.6956
1                  0.3086    0.0   0.4021   0.4879   0.1813
2                  0.1029    0.0   0.0110   0.0372   0.1231

üü¢ [Ïª¨Îüº: Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_EM_R6M]
‚úÖ Count:

Segment             A    B       C        D         E
Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_EM_R6M
0                5676  816  753168  2061114  11395872
1                 150   48   12342    34314    136368
2                   6    0      24       18        72
3                   0    0       6        6         0

‚úÖ Ratio (%):

Segment                A        B        C        D        E
Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_EM_R6M
0                97.3251  94.4444  98.3839  98.3613  98.8169
1                 2.5720   5.5556   1.6122   1.6375   1.1825
2                 0.1029   0.0000   0.0031   0.0009   0.0006
3                 0.0000   0.0000   0.0008   0.0003   0.0000

üü¢ [Ïª¨Îüº: Ïª®ÌÉùÍ±¥Ïàò_Ïù¥Ïö©Ïú†ÎèÑ_ÎãπÏÇ¨Ïï±_R6M]
‚úÖ Count:

Segment               A    B       C        D         E
Ïª®ÌÉùÍ±¥Ïàò_Ïù¥Ïö©Ïú†ÎèÑ_ÎãπÏÇ¨Ïï±_R6M
0                  5832  864  764982  2094462  11530404
1                     0    0      42      102        60
2                     0    0      24       12        30
3                     0    0     426      816      1752
4                     0    0      66       60        66

‚úÖ Ratio (%):

Segment                A      B        C        D        E
Ïª®ÌÉùÍ±¥Ïàò_Ïù¥Ïö©Ïú†ÎèÑ_ÎãπÏÇ¨Ïï±_R6M
0                  100.0  100.0  99.9271  99.9528  99.9835
1                    0.0    0.0   0.0055   0.0049   0.0005
2                    0.0    0.0   0.0031   0.0006   0.0003
3                    0.0    0.0   0.0556   0.0389   0.0152
4                    0.0    0.0   0.0086   0.0029   0.0006

üü¢ [Ïª¨Îüº: Ïª®ÌÉùÍ±¥Ïàò_Ï±ÑÍ∂å_B0M]
‚úÖ Count:

Segment         A    B       C        D         E
Ïª®ÌÉùÍ±¥Ïàò_Ï±ÑÍ∂å_B0M
0            5826  864  761064  2081682  11475804
4               0    0     204      756      2064
5               6    0    2502     8310     38910
6               0    0    1596     4044     13950
7               0    0     168      654      1572
8               0    0       6        6        12

‚úÖ Ratio (%):

Segment            A      B        C        D        E
Ïª®ÌÉùÍ±¥Ïàò_Ï±ÑÍ∂å_B0M
0            99.8971  100.0  99.4153  99.3429  99.5100
4             0.0000    0.0   0.0266   0.0361   0.0179
5             0.1029    0.0   0.3268   0.3966   0.3374
6             0.0000    0.0   0.2085   0.1930   0.1210
7             0.0000    0.0   0.0219   0.0312   0.0136
8             0.0000    0.0   0.0008   0.0003   0.0001

üü¢ [Ïª¨Îüº: Segment]
‚úÖ Count:

Segment     A    B       C        D         E
Segment
A        5832    0       0        0         0
B           0  864       0        0         0
C           0    0  765540        0         0
D           0    0       0  2095452         0
E           0    0       0        0  11532312

‚úÖ Ratio (%):

Segment      A      B      C      D      E
Segment
A        100.0    0.0    0.0    0.0    0.0
B          0.0  100.0    0.0    0.0    0.0
C          0.0    0.0  100.0    0.0    0.0
D          0.0    0.0    0.0  100.0    0.0
E          0.0    0.0    0.0    0.0  100.0

In [ ]:
Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_EM_R6M

In [10]:
import pandas as pd

def evaluate_segment_usefulness(df, columns, segment_col='Segment', rare_thresh=100):
    results = []

    for col in columns:
        value_counts = df[col].value_counts()
        rare_values = value_counts[value_counts < rare_thresh].index

        # Segment count & ratio
        count_table = df.groupby([col, segment_col]).size().unstack(fill_value=0)
        ratio_table = count_table.div(count_table.sum(axis=1), axis=0)

        # SegmentÎ≥Ñ ÏµúÎåÄ-ÏµúÏÜå ÎπÑÏú® Ï∞®Ïù¥
        max_gap_per_segment = ratio_table.max() - ratio_table.min()
        total_max_gap = max_gap_per_segment.max()

        # Segment Ïè†Î¶ºÎèÑ (Í∞íÎ≥Ñ ÏµúÍ≥† ÎπÑÏú®Ïùò ÌèâÍ∑†)
        max_ratios = ratio_table.max(axis=1)
        mean_peak_ratio = max_ratios.mean()

        # Ìù¨Í∑ÄÍ∞í ÎπÑÏú®
        rare_ratio = df[col].isin(rare_values).mean()

        # Ïú†ÏùòÎØ∏ÎèÑ ÌåêÏ†ï
        if total_max_gap >= 0.4 and mean_peak_ratio >= 0.75:
            judgment = 'ÎÜíÏùå'
        elif total_max_gap >= 0.2 and mean_peak_ratio >= 0.6:
            judgment = 'Ï§ëÍ∞Ñ'
        else:
            judgment = 'ÎÇÆÏùå'


        results.append({
            'Ïª¨Îüº': col,
            'Í∞í Ïàò': df[col].nunique(),
            'ÏµúÎåÄÎπÑÏú®Ï∞®(%)': round(total_max_gap * 100, 1),
            'Ïè†Î¶ºÎèÑÌèâÍ∑†(%)': round(mean_peak_ratio * 100, 1),
            'Ìù¨Í∑ÄÍ∞íÎπÑÏ§ë(%)': round(rare_ratio * 100, 2),
            'Ïú†ÏùòÎØ∏ÏÑ±': judgment
        })

    result_df = pd.DataFrame(results).sort_values(by='Ïú†ÏùòÎØ∏ÏÑ±', ascending=False)
    return result_df

In [11]:
cols_to_check = cols_to_drop
result = evaluate_segment_usefulness(selected_df, cols_to_check)
display(result)

               Ïª¨Îüº  Í∞í Ïàò  ÏµúÎåÄÎπÑÏú®Ï∞®(%)  Ïè†Î¶ºÎèÑÌèâÍ∑†(%)  Ìù¨Í∑ÄÍ∞íÎπÑÏ§ë(%) Ïú†ÏùòÎØ∏ÏÑ±
0   Ïù¥Ïö©Í∞ÄÎä•Ïπ¥ÎìúÏàò_Ï≤¥ÌÅ¨_Í∞ÄÏ°±    3      22.9      68.0       0.0   Ï§ëÍ∞Ñ
3       Ï†úÌú¥Ïó∞ÌöåÎπÑ_B0M    8     100.0      72.1       0.0   Ï§ëÍ∞Ñ
5  Ï≤≠Íµ¨Í∏àÏï°_Ï†úÌú¥Ïó∞ÌöåÎπÑ_B0M    8     100.0      72.1       0.0   Ï§ëÍ∞Ñ
2       Í∏∞Î≥∏Ïó∞ÌöåÎπÑ_B0M   14      68.0      80.6       0.0   ÎÜíÏùå
4  Ï≤≠Íµ¨Í∏àÏï°_Í∏∞Î≥∏Ïó∞ÌöåÎπÑ_B0M   14      68.0      80.6       0.0   ÎÜíÏùå
6         Segment    5     100.0     100.0       0.0   ÎÜíÏùå
1    Ïó∞ÌöåÎπÑÎ∞úÏÉùÏπ¥ÎìúÏàò_B0M    2       4.3      78.8       0.0   ÎÇÆÏùå

In [15]:
def show_segment_id_counts(df, columns, segment_col='Segment', id_col='ID'):
    """
    Í∞Å Ïª¨ÎüºÏùò Í≥†Ïú†Í∞íÎ≥ÑÎ°ú Segment Î∂ÑÌè¨ (IDÏùò Í≥†Ïú† Í∞úÏàò Í∏∞Ï§Ä) Ï∂úÎ†•
    """
    for col in columns:
        print(f"\n\nüü¢ [Ïª¨Îüº: {col}]")
        
        # ID Í∏∞Ï§Ä Í≥†Ïú† Í∞úÏàò Í≥ÑÏÇ∞ (pivot ÌòïÌÉú)
        count_table = (
            df.groupby([col, segment_col])[id_col]
            .nunique()
            .unstack(fill_value=0)
        )
        
        print("‚úÖ Unique ID Count:")
        display(count_table)
        
        # ÎπÑÏú® (row-wise ÎπÑÏú®)
        ratio_table = count_table.div(count_table.sum(axis=0), axis=1) * 100
        print("‚úÖ Ratio (%):")
        display(ratio_table.round(4))

        print(f"{col} Í∞íÎ≥Ñ ÎπÑÏ§ë:\n{df[col].value_counts(normalize=True)*100}")

In [16]:
show_segment_id_counts(selected_df, cols_to_drop)

üü¢ [Ïª¨Îüº: ID]
‚úÖ Unique ID Count:

Segment       A  B  C  D  E
ID
TRAIN_000000  0  0  0  1  0
TRAIN_000001  0  0  0  0  1
TRAIN_000002  0  0  1  0  0
TRAIN_000003  0  0  0  1  0
TRAIN_000004  0  0  0  0  1
...          .. .. .. .. ..
TRAIN_399995  0  0  0  0  1
TRAIN_399996  0  0  0  1  0
TRAIN_399997  0  0  1  0  0
TRAIN_399998  0  0  0  0  1
TRAIN_399999  0  0  0  0  1

[400000 rows x 5 columns]

‚úÖ Ratio (%):

Segment         A    B       C       D       E
ID
TRAIN_000000  0.0  0.0  0.0000  0.0017  0.0000
TRAIN_000001  0.0  0.0  0.0000  0.0000  0.0003
TRAIN_000002  0.0  0.0  0.0047  0.0000  0.0000
TRAIN_000003  0.0  0.0  0.0000  0.0017  0.0000
TRAIN_000004  0.0  0.0  0.0000  0.0000  0.0003
...           ...  ...     ...     ...     ...
TRAIN_399995  0.0  0.0  0.0000  0.0000  0.0003
TRAIN_399996  0.0  0.0  0.0000  0.0017  0.0000
TRAIN_399997  0.0  0.0  0.0047  0.0000  0.0000
TRAIN_399998  0.0  0.0  0.0000  0.0000  0.0003
TRAIN_399999  0.0  0.0  0.0000  0.0000  0.0003

[400000 rows x 5 columns]

ID Í∞íÎ≥Ñ ÎπÑÏ§ë:
ID
TRAIN_399983    0.00025
TRAIN_399982    0.00025
TRAIN_399981    0.00025
TRAIN_399980    0.00025
TRAIN_399979    0.00025
                 ...
TRAIN_000004    0.00025
TRAIN_000003    0.00025
TRAIN_000002    0.00025
TRAIN_000001    0.00025
TRAIN_000000    0.00025
Name: proportion, Length: 400000, dtype: float64


üü¢ [Ïª¨Îüº: Ïª®ÌÉùÍ±¥Ïàò_Î¶¨Î≥ºÎπô_TM_B0M]
‚úÖ Unique ID Count:

Segment            A   B      C      D       E
Ïª®ÌÉùÍ±¥Ïàò_Î¶¨Î≥ºÎπô_TM_B0M
0                162  24  21265  58207  320342
1                  0   0      1      0       7
2                  0   0      0      0       4

‚úÖ Ratio (%):

Segment              A      B        C      D        E
Ïª®ÌÉùÍ±¥Ïàò_Î¶¨Î≥ºÎπô_TM_B0M
0                100.0  100.0  99.9953  100.0  99.9966
1                  0.0    0.0   0.0047    0.0   0.0022
2                  0.0    0.0   0.0000    0.0   0.0012

Ïª®ÌÉùÍ±¥Ïàò_Î¶¨Î≥ºÎπô_TM_B0M Í∞íÎ≥Ñ ÎπÑÏ§ë:
Ïª®ÌÉùÍ±¥Ïàò_Î¶¨Î≥ºÎπô_TM_B0M
0    99.999500
1     0.000333
2     0.000167
Name: proportion, dtype: float64


üü¢ [Ïª¨Îüº: Ïª®ÌÉùÍ±¥Ïàò_Î≥¥Ìóò_TM_B0M]
‚úÖ Unique ID Count:

Segment           A   B      C      D       E
Ïª®ÌÉùÍ±¥Ïàò_Î≥¥Ìóò_TM_B0M
0               162  24  21265  58207  320341
1                10   5   1250   3489   20243

‚úÖ Ratio (%):

Segment              A        B        C        D        E
Ïª®ÌÉùÍ±¥Ïàò_Î≥¥Ìóò_TM_B0M
0               94.186  82.7586  94.4481  94.3449  94.0564
1                5.814  17.2414   5.5519   5.6551   5.9436

Ïª®ÌÉùÍ±¥Ïàò_Î≥¥Ìóò_TM_B0M Í∞íÎ≥Ñ ÎπÑÏ§ë:
Ïª®ÌÉùÍ±¥Ïàò_Î≥¥Ìóò_TM_B0M
0    98.6835
1     1.3165
Name: proportion, dtype: float64


üü¢ [Ïª¨Îüº: Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_LMS_B0M]
‚úÖ Unique ID Count:

Segment             A   B      C      D       E
Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_LMS_B0M
0                 162  24  21256  58115  320187
1                   0   0    205   1037    3060

‚úÖ Ratio (%):

Segment               A      B        C        D        E
Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_LMS_B0M
0                 100.0  100.0  99.0448  98.2469  99.0534
1                   0.0    0.0   0.9552   1.7531   0.9466

Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_LMS_B0M Í∞íÎ≥Ñ ÎπÑÏ§ë:
Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_LMS_B0M
0    99.591083
1     0.408917
Name: proportion, dtype: float64


üü¢ [Ïª¨Îüº: Ïª®ÌÉùÍ±¥Ïàò_CA_LMS_B0M]
‚úÖ Unique ID Count:

Segment            A   B      C      D       E
Ïª®ÌÉùÍ±¥Ïàò_CA_LMS_B0M
0                162  24  21265  58207  320342
1                  0   0      0      1       6
2                  0   0      1      5       7

‚úÖ Ratio (%):

Segment              A      B        C        D        E
Ïª®ÌÉùÍ±¥Ïàò_CA_LMS_B0M
0                100.0  100.0  99.9953  99.9897  99.9959
1                  0.0    0.0   0.0000   0.0017   0.0019
2                  0.0    0.0   0.0047   0.0086   0.0022

Ïª®ÌÉùÍ±¥Ïàò_CA_LMS_B0M Í∞íÎ≥Ñ ÎπÑÏ§ë:
Ïª®ÌÉùÍ±¥Ïàò_CA_LMS_B0M
0    99.999083
2     0.000625
1     0.000292
Name: proportion, dtype: float64


üü¢ [Ïª¨Îüº: Ïª®ÌÉùÍ±¥Ïàò_Î¶¨Î≥ºÎπô_LMS_B0M]
‚úÖ Unique ID Count:

Segment             A   B      C      D       E
Ïª®ÌÉùÍ±¥Ïàò_Î¶¨Î≥ºÎπô_LMS_B0M
0                 162  24  21265  58207  320342
1                   0   0     13      8       3

‚úÖ Ratio (%):

Segment               A      B        C        D        E
Ïª®ÌÉùÍ±¥Ïàò_Î¶¨Î≥ºÎπô_LMS_B0M
0                 100.0  100.0  99.9389  99.9863  99.9991
1                   0.0    0.0   0.0611   0.0137   0.0009

Ïª®ÌÉùÍ±¥Ïàò_Î¶¨Î≥ºÎπô_LMS_B0M Í∞íÎ≥Ñ ÎπÑÏ§ë:
Ïª®ÌÉùÍ±¥Ïàò_Î¶¨Î≥ºÎπô_LMS_B0M
0    99.998917
1     0.001083
Name: proportion, dtype: float64


üü¢ [Ïª¨Îüº: Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_EM_B0M]
‚úÖ Unique ID Count:

Segment            A   B      C      D       E
Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_EM_B0M
0                162  24  21265  58207  320342
1                  2   0     15     38      74

‚úÖ Ratio (%):

Segment                A      B        C        D        E
Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_EM_B0M
0                98.7805  100.0  99.9295  99.9348  99.9769
1                 1.2195    0.0   0.0705   0.0652   0.0231

Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_EM_B0M Í∞íÎ≥Ñ ÎπÑÏ§ë:
Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_EM_B0M
0    99.994125
1     0.005875
Name: proportion, dtype: float64


üü¢ [Ïª¨Îüº: Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_Ï≤≠Íµ¨ÏÑú_B0M]
‚úÖ Unique ID Count:

Segment             A   B      C      D       E
Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_Ï≤≠Íµ¨ÏÑú_B0M
0                 162  24  21265  58207  320342
1                   0   0      3      6      49

‚úÖ Ratio (%):

Segment               A      B        C        D        E
Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_Ï≤≠Íµ¨ÏÑú_B0M
0                 100.0  100.0  99.9859  99.9897  99.9847
1                   0.0    0.0   0.0141   0.0103   0.0153

Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_Ï≤≠Íµ¨ÏÑú_B0M Í∞íÎ≥Ñ ÎπÑÏ§ë:
Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_Ï≤≠Íµ¨ÏÑú_B0M
0    99.997292
1     0.002708
Name: proportion, dtype: float64


üü¢ [Ïª¨Îüº: Ïª®ÌÉùÍ±¥Ïàò_CA_Ï≤≠Íµ¨ÏÑú_B0M]
‚úÖ Unique ID Count:

Segment            A   B      C      D       E
Ïª®ÌÉùÍ±¥Ïàò_CA_Ï≤≠Íµ¨ÏÑú_B0M
0                162  24  21259  58194  320287
2                  2   0    213    735    2084

‚úÖ Ratio (%):

Segment                A      B       C        D        E
Ïª®ÌÉùÍ±¥Ïàò_CA_Ï≤≠Íµ¨ÏÑú_B0M
0                98.7805  100.0  99.008  98.7527  99.3535
2                 1.2195    0.0   0.992   1.2473   0.6465

Ïª®ÌÉùÍ±¥Ïàò_CA_Ï≤≠Íµ¨ÏÑú_B0M Í∞íÎ≥Ñ ÎπÑÏ§ë:
Ïª®ÌÉùÍ±¥Ïàò_CA_Ï≤≠Íµ¨ÏÑú_B0M
0    99.773333
2     0.226667
Name: proportion, dtype: float64


üü¢ [Ïª¨Îüº: Ïª®ÌÉùÍ±¥Ïàò_Ïù¥Ïö©Ïú†ÎèÑ_ÎãπÏÇ¨Ïï±_B0M]
‚úÖ Unique ID Count:

Segment              A   B      C      D       E
Ïª®ÌÉùÍ±¥Ïàò_Ïù¥Ïö©Ïú†ÎèÑ_ÎãπÏÇ¨Ïï±_B0M
0                  162  24  21265  58207  320342
1                    0   0      8     18      10
2                    0   0      4      1       5

‚úÖ Ratio (%):

Segment                A      B        C        D        E
Ïª®ÌÉùÍ±¥Ïàò_Ïù¥Ïö©Ïú†ÎèÑ_ÎãπÏÇ¨Ïï±_B0M
0                  100.0  100.0  99.9436  99.9674  99.9953
1                    0.0    0.0   0.0376   0.0309   0.0031
2                    0.0    0.0   0.0188   0.0017   0.0016

Ïª®ÌÉùÍ±¥Ïàò_Ïù¥Ïö©Ïú†ÎèÑ_ÎãπÏÇ¨Ïï±_B0M Í∞íÎ≥Ñ ÎπÑÏ§ë:
Ïª®ÌÉùÍ±¥Ïàò_Ïù¥Ïö©Ïú†ÎèÑ_ÎãπÏÇ¨Ïï±_B0M
0    99.997958
1     0.001583
2     0.000458
Name: proportion, dtype: float64


üü¢ [Ïª¨Îüº: Ïª®ÌÉùÍ±¥Ïàò_CA_TM_R6M]
‚úÖ Unique ID Count:

Segment           A   B      C      D       E
Ïª®ÌÉùÍ±¥Ïàò_CA_TM_R6M
0               162  24  21265  58207  320342
1                 0   0      7      5      36
2                 2   0     55    181     600
3                 0   0      4      1      13
4                 0   0      1      0       1

‚úÖ Ratio (%):

Segment               A      B        C        D        E
Ïª®ÌÉùÍ±¥Ïàò_CA_TM_R6M
0               98.7805  100.0  99.6859  99.6798  99.7975
1                0.0000    0.0   0.0328   0.0086   0.0112
2                1.2195    0.0   0.2578   0.3100   0.1869
3                0.0000    0.0   0.0188   0.0017   0.0040
4                0.0000    0.0   0.0047   0.0000   0.0003

Ïª®ÌÉùÍ±¥Ïàò_CA_TM_R6M Í∞íÎ≥Ñ ÎπÑÏ§ë:
Ïª®ÌÉùÍ±¥Ïàò_CA_TM_R6M
0    99.941042
2     0.056125
1     0.002000
3     0.000750
4     0.000083
Name: proportion, dtype: float64


üü¢ [Ïª¨Îüº: Ïª®ÌÉùÍ±¥Ïàò_Ïã†Ïö©Î∞úÍ∏â_TM_R6M]
‚úÖ Unique ID Count:

Segment             A   B      C      D       E
Ïª®ÌÉùÍ±¥Ïàò_Ïã†Ïö©Î∞úÍ∏â_TM_R6M
0                 162  24  21265  58207  320342
1                   0   0     16    129    9132
2                   0   0      0      0       2

‚úÖ Ratio (%):

Segment               A      B        C        D        E
Ïª®ÌÉùÍ±¥Ïàò_Ïã†Ïö©Î∞úÍ∏â_TM_R6M
0                 100.0  100.0  99.9248  99.7789  97.2277
1                   0.0    0.0   0.0752   0.2211   2.7717
2                   0.0    0.0   0.0000   0.0000   0.0006

Ïª®ÌÉùÍ±¥Ïàò_Ïã†Ïö©Î∞úÍ∏â_TM_R6M Í∞íÎ≥Ñ ÎπÑÏ§ë:
Ïª®ÌÉùÍ±¥Ïàò_Ïã†Ïö©Î∞úÍ∏â_TM_R6M
0    98.995708
1     1.004208
2     0.000083
Name: proportion, dtype: float64


üü¢ [Ïª¨Îüº: Ïª®ÌÉùÍ±¥Ïàò_Ìè¨Ïù∏Ìä∏ÏÜåÏßÑ_TM_R6M]
‚úÖ Unique ID Count:

Segment              A   B      C      D       E
Ïª®ÌÉùÍ±¥Ïàò_Ìè¨Ïù∏Ìä∏ÏÜåÏßÑ_TM_R6M
0                  162  24  21265  58207  320342
1                    0   1    500   1418    3868
2                    0   0      0      0       1

‚úÖ Ratio (%):

Segment                A     B        C        D        E
Ïª®ÌÉùÍ±¥Ïàò_Ìè¨Ïù∏Ìä∏ÏÜåÏßÑ_TM_R6M
0                  100.0  96.0  97.7027  97.6218  98.8066
1                    0.0   4.0   2.2973   2.3782   1.1931
2                    0.0   0.0   0.0000   0.0000   0.0003

Ïª®ÌÉùÍ±¥Ïàò_Ìè¨Ïù∏Ìä∏ÏÜåÏßÑ_TM_R6M Í∞íÎ≥Ñ ÎπÑÏ§ë:
Ïª®ÌÉùÍ±¥Ïàò_Ìè¨Ïù∏Ìä∏ÏÜåÏßÑ_TM_R6M
0    99.349208
1     0.650750
2     0.000042
Name: proportion, dtype: float64


üü¢ [Ïª¨Îüº: Ïª®ÌÉùÍ±¥Ïàò_Î¶¨Î≥ºÎπô_LMS_R6M]
‚úÖ Unique ID Count:

Segment             A   B      C      D       E
Ïª®ÌÉùÍ±¥Ïàò_Î¶¨Î≥ºÎπô_LMS_R6M
0                 162  24  21265  58207  320342
1                   1   0    260    815    1772
2                   1   0     14     87    1366

‚úÖ Ratio (%):

Segment                 A      B        C        D        E
Ïª®ÌÉùÍ±¥Ïàò_Î¶¨Î≥ºÎπô_LMS_R6M
0                 98.7805  100.0  98.7279  98.4740  99.0299
1                  0.6098    0.0   1.2071   1.3788   0.5478
2                  0.6098    0.0   0.0650   0.1472   0.4223

Ïª®ÌÉùÍ±¥Ïàò_Î¶¨Î≥ºÎπô_LMS_R6M Í∞íÎ≥Ñ ÎπÑÏ§ë:
Ïª®ÌÉùÍ±¥Ïàò_Î¶¨Î≥ºÎπô_LMS_R6M
0    99.657667
1     0.237667
2     0.104667
Name: proportion, dtype: float64


üü¢ [Ïª¨Îüº: Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_EM_R6M]
‚úÖ Unique ID Count:

Segment            A   B      C      D       E
Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_EM_R6M
0                161  24  21257  58190  320312
1                 12   4    959   2735   11382
2                  1   0      4      3      12
3                  0   0      1      1       0

‚úÖ Ratio (%):

Segment                A        B        C        D        E
Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_EM_R6M
0                92.5287  85.7143  95.6618  95.5046  96.5650
1                 6.8966  14.2857   4.3157   4.4888   3.4314
2                 0.5747   0.0000   0.0180   0.0049   0.0036
3                 0.0000   0.0000   0.0045   0.0016   0.0000

Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_EM_R6M Í∞íÎ≥Ñ ÎπÑÏ§ë:
Ïª®ÌÉùÍ±¥Ïàò_Ïπ¥ÎìúÎ°†_EM_R6M
0    98.726708
1     1.272375
2     0.000833
3     0.000083
Name: proportion, dtype: float64


üü¢ [Ïª¨Îüº: Ïª®ÌÉùÍ±¥Ïàò_Ïù¥Ïö©Ïú†ÎèÑ_ÎãπÏÇ¨Ïï±_R6M]
‚úÖ Unique ID Count:

Segment              A   B      C      D       E
Ïª®ÌÉùÍ±¥Ïàò_Ïù¥Ïö©Ïú†ÎèÑ_ÎãπÏÇ¨Ïï±_R6M
0                  162  24  21265  58207  320342
1                    0   0      7     17      10
2                    0   0      4      2       5
3                    0   0     70    135     290
4                    0   0     10     10      11

‚úÖ Ratio (%):

Segment                A      B        C        D        E
Ïª®ÌÉùÍ±¥Ïàò_Ïù¥Ïö©Ïú†ÎèÑ_ÎãπÏÇ¨Ïï±_R6M
0                  100.0  100.0  99.5739  99.7190  99.9015
1                    0.0    0.0   0.0328   0.0291   0.0031
2                    0.0    0.0   0.0187   0.0034   0.0016
3                    0.0    0.0   0.3278   0.2313   0.0904
4                    0.0    0.0   0.0468   0.0171   0.0034

Ïª®ÌÉùÍ±¥Ïàò_Ïù¥Ïö©Ïú†ÎèÑ_ÎãπÏÇ¨Ïï±_R6M Í∞íÎ≥Ñ ÎπÑÏ§ë:
Ïª®ÌÉùÍ±¥Ïàò_Ïù¥Ïö©Ïú†ÎèÑ_ÎãπÏÇ¨Ïï±_R6M
0    99.976000
3     0.020792
1     0.001417
4     0.001333
2     0.000458
Name: proportion, dtype: float64


üü¢ [Ïª¨Îüº: Ïª®ÌÉùÍ±¥Ïàò_Ï±ÑÍ∂å_B0M]
‚úÖ Unique ID Count:

Segment        A   B      C      D       E
Ïª®ÌÉùÍ±¥Ïàò_Ï±ÑÍ∂å_B0M
0            162  24  21218  58080  319807
4              0   0     25     90     257
5              1   0    169    585    2583
6              0   0    113    354    1226
7              0   0     23     90     210
8              0   0      1      1       2

‚úÖ Ratio (%):

Segment            A      B        C        D        E
Ïª®ÌÉùÍ±¥Ïàò_Ï±ÑÍ∂å_B0M
0            99.3865  100.0  98.4640  98.1081  98.6800
4             0.0000    0.0   0.1160   0.1520   0.0793
5             0.6135    0.0   0.7843   0.9882   0.7970
6             0.0000    0.0   0.5244   0.5980   0.3783
7             0.0000    0.0   0.1067   0.1520   0.0648
8             0.0000    0.0   0.0046   0.0017   0.0006

Ïª®ÌÉùÍ±¥Ïàò_Ï±ÑÍ∂å_B0M Í∞íÎ≥Ñ ÎπÑÏ§ë:
Ïª®ÌÉùÍ±¥Ïàò_Ï±ÑÍ∂å_B0M
0    99.480833
5     0.345333
6     0.136042
4     0.021000
7     0.016625
8     0.000167
Name: proportion, dtype: float64


üü¢ [Ïª¨Îüº: Segment]
‚úÖ Unique ID Count:

Segment    A   B      C      D       E
Segment
A        162   0      0      0       0
B          0  24      0      0       0
C          0   0  21265      0       0
D          0   0      0  58207       0
E          0   0      0      0  320342

‚úÖ Ratio (%):

Segment      A      B      C      D      E
Segment
A        100.0    0.0    0.0    0.0    0.0
B          0.0  100.0    0.0    0.0    0.0
C          0.0    0.0  100.0    0.0    0.0
D          0.0    0.0    0.0  100.0    0.0
E          0.0    0.0    0.0    0.0  100.0

Segment Í∞íÎ≥Ñ ÎπÑÏ§ë:
Segment
E    80.08550
D    14.55175
C     5.31625
A     0.04050
B     0.00600
Name: proportion, dtype: float64