In [4]:
# ê¸°ë³¸ ë¼ì´ë¸ŒëŸ¬ë¦¬
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

# ê·¸ë˜í”„ ê¸°ë³¸ ì„¤ì •
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 13
plt.rcParams['axes.unicode_minus'] = False

# ê²½ê³  ëœ¨ì§€ ì•Šê²Œ
import warnings
warnings.filterwarnings('ignore')

#ì €ì¥ë¼ì´ë¸ŒëŸ¬ë¦¬
import pickle

# í‰ê°€í•¨ìˆ˜
# ë¶„ë¥˜ìš©
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score

# íšŒê·€ìš©
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

# í‘œì¤€í™”
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

# LabelEncoder
from sklearn.preprocessing import LabelEncoder

# ë°ì´í„°ë¥¼ í•™ìŠµìš©ê³¼ ê²€ì¦ìš©ìœ¼ë¡œ ë‚˜ëˆˆë‹¤.
from sklearn.model_selection import train_test_split

import os

In [8]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
df1 = pd.read_csv('EDA/uniqueì œê±°/train_2_ì‹ ìš©ì •ë³´_unique1ì œê±°_40.csv')
df2 = pd.read_csv('EDA/Segment/Segment_ë³‘í•©.csv')

In [11]:
# Segment ì»¬ëŸ¼ë§Œ ì¶”ì¶œí•´ì„œ ë³‘í•©
merged_df = df1.merge(df2[['ID', 'Segment']], on='ID', how='left')
merged_df

,ê¸°ì¤€ë…„ì›”,ID,ìµœì´ˆí•œë„ê¸ˆì•¡,ì¹´ë“œì´ìš©í•œë„ê¸ˆì•¡,CAí•œë„ê¸ˆì•¡,ì¼ì‹œìƒí™˜ë¡ í•œë„ê¸ˆì•¡,ì›”ìƒí™˜ë¡ í•œë„ê¸ˆì•¡,CAì´ììœ¨_í• ì¸ì „,CLì´ììœ¨_í• ì¸ì „,RVì¼ì‹œë¶ˆì´ììœ¨_í• ì¸ì „,...,íŠ¹ë³„í•œë„ë³´ìœ ì—¬ë¶€_R3M,ì—°ì²´ê°ì•¡ì—¬ë¶€_R3M,í•œë„ì‹¬ì‚¬ìš”ì²­ê±´ìˆ˜,í•œë„ìš”ì²­ê±°ì ˆê±´ìˆ˜,í•œë„ì‹¬ì‚¬ìš”ì²­í›„ê²½ê³¼ì›”,í•œë„ì‹¬ì‚¬ê±°ì ˆí›„ê²½ê³¼ì›”,ì‹œì¥ë‹¨ê¸°ì—°ì²´ì—¬ë¶€_R6M,ì‹œì¥ë‹¨ê¸°ì—°ì²´ì—¬ë¶€_R3M,rvìµœì´ˆì‹œì‘í›„ê²½ê³¼ì¼,Segment
0,201807,TRAIN_000000,0,19354,7270,0,0,22.995207,18.254978,17.264967,...,0,0,0íšŒ,0,3,3,0,0,99999999,D
1,201807,TRAIN_000000,0,19354,7270,0,0,22.995207,18.254978,17.264967,...,0,0,0íšŒ,0,3,3,0,0,99999999,D
2,201807,TRAIN_000000,0,19354,7270,0,0,22.995207,18.254978,17.264967,...,0,0,0íšŒ,0,3,3,0,0,99999999,D
3,201807,TRAIN_000000,0,19354,7270,0,0,22.995207,18.254978,17.264967,...,0,0,0íšŒ,0,3,3,0,0,99999999,D
4,201807,TRAIN_000000,0,19354,7270,0,0,22.995207,18.254978,17.264967,...,0,0,0íšŒ,0,3,3,0,0,99999999,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14399995,201812,TRAIN_399999,0,86094,25133,0,0,14.841102,15.287120,11.406823,...,0,0,0íšŒ,0,3,3,0,0,99999999,E
14399996,201812,TRAIN_399999,0,86094,25133,0,0,14.841102,15.287120,11.406823,...,0,0,0íšŒ,0,3,3,0,0,99999999,E
14399997,201812,TRAIN_399999,0,86094,25133,0,0,14.841102,15.287120,11.406823,...,0,0,0íšŒ,0,3,3,0,0,99999999,E
14399998,201812,TRAIN_399999,0,86094,25133,0,0,14.841102,15.287120,11.406823,...,0,0,0íšŒ,0,3,3,0,0,99999999,E
14399999,201812,TRAIN_399999,0,86094,25133,0,0,14.841102,15.287120,11.406823,...,0,0,0íšŒ,0,3,3,0,0,99999999,E

In [12]:
# ìµœë¹ˆê°’ 98% ì´ìƒ ì œê±°í•œ ì»¬ëŸ¼ í™•ì¸
cols_to_drop = [
    'ìë°œí•œë„ê°ì•¡íšŸìˆ˜_R12M',
    'ìë°œí•œë„ê°ì•¡ê¸ˆì•¡_R12M',
    'ìë°œí•œë„ê°ì•¡í›„ê²½ê³¼ì›”',
    'íŠ¹ë³„í•œë„ë³´ìœ ì—¬ë¶€_R3M',
    'ì—°ì²´ê°ì•¡ì—¬ë¶€_R3M',
    'í•œë„ì‹¬ì‚¬ìš”ì²­ê±´ìˆ˜',
    'í•œë„ìš”ì²­ê±°ì ˆê±´ìˆ˜',
    'í•œë„ì‹¬ì‚¬ìš”ì²­í›„ê²½ê³¼ì›”',
    'ì‹œì¥ë‹¨ê¸°ì—°ì²´ì—¬ë¶€_R6M',
    'ì‹œì¥ë‹¨ê¸°ì—°ì²´ì—¬ë¶€_R3M',
    'Segment'
               ]

In [13]:
selected_df = merged_df[cols_to_drop].copy()

print("âœ… ì„ íƒí•œ ì»¬ëŸ¼ë“¤ë§Œ ë‚¨ê¸´ ë°ì´í„°í”„ë ˆì„ ìƒ˜í”Œ:")
selected_df

âœ… ì„ íƒí•œ ì»¬ëŸ¼ë“¤ë§Œ ë‚¨ê¸´ ë°ì´í„°í”„ë ˆì„ ìƒ˜í”Œ:

,ìë°œí•œë„ê°ì•¡íšŸìˆ˜_R12M,ìë°œí•œë„ê°ì•¡ê¸ˆì•¡_R12M,ìë°œí•œë„ê°ì•¡í›„ê²½ê³¼ì›”,íŠ¹ë³„í•œë„ë³´ìœ ì—¬ë¶€_R3M,ì—°ì²´ê°ì•¡ì—¬ë¶€_R3M,í•œë„ì‹¬ì‚¬ìš”ì²­ê±´ìˆ˜,í•œë„ìš”ì²­ê±°ì ˆê±´ìˆ˜,í•œë„ì‹¬ì‚¬ìš”ì²­í›„ê²½ê³¼ì›”,ì‹œì¥ë‹¨ê¸°ì—°ì²´ì—¬ë¶€_R6M,ì‹œì¥ë‹¨ê¸°ì—°ì²´ì—¬ë¶€_R3M,Segment
0,0íšŒ,0,12,0,0,0íšŒ,0,3,0,0,D
1,0íšŒ,0,12,0,0,0íšŒ,0,3,0,0,D
2,0íšŒ,0,12,0,0,0íšŒ,0,3,0,0,D
3,0íšŒ,0,12,0,0,0íšŒ,0,3,0,0,D
4,0íšŒ,0,12,0,0,0íšŒ,0,3,0,0,D
...,...,...,...,...,...,...,...,...,...,...,...
14399995,0íšŒ,0,12,0,0,0íšŒ,0,3,0,0,E
14399996,0íšŒ,0,12,0,0,0íšŒ,0,3,0,0,E
14399997,0íšŒ,0,12,0,0,0íšŒ,0,3,0,0,E
14399998,0íšŒ,0,12,0,0,0íšŒ,0,3,0,0,E
14399999,0íšŒ,0,12,0,0,0íšŒ,0,3,0,0,E

In [14]:
selected_df['Segment'].value_counts()

Segment
E    11532312
D     2095452
C      765540
A        5832
B         864
Name: count, dtype: int64

In [15]:
print("âœ… ì„ íƒëœ ì»¬ëŸ¼ëª… ëª©ë¡:")
print(selected_df.columns.tolist())

âœ… ì„ íƒëœ ì»¬ëŸ¼ëª… ëª©ë¡:
['ìë°œí•œë„ê°ì•¡íšŸìˆ˜_R12M', 'ìë°œí•œë„ê°ì•¡ê¸ˆì•¡_R12M', 'ìë°œí•œë„ê°ì•¡í›„ê²½ê³¼ì›”', 'íŠ¹ë³„í•œë„ë³´ìœ ì—¬ë¶€_R3M', 'ì—°ì²´ê°ì•¡ì—¬ë¶€_R3M', 'í•œë„ì‹¬ì‚¬ìš”ì²­ê±´ìˆ˜', 'í•œë„ìš”ì²­ê±°ì ˆê±´ìˆ˜', 'í•œë„ì‹¬ì‚¬ìš”ì²­í›„ê²½ê³¼ì›”', 'ì‹œì¥ë‹¨ê¸°ì—°ì²´ì—¬ë¶€_R6M', 'ì‹œì¥ë‹¨ê¸°ì—°ì²´ì—¬ë¶€_R3M', 'Segment']

In [16]:
def show_segment_distribution(df, columns, segment_col='Segment'):
    """
    ê° ì»¬ëŸ¼ì˜ ê³ ìœ ê°’ë³„ë¡œ Segment ë¶„í¬ (ì¹´ìš´íŠ¸ì™€ ë¹„ìœ¨) ì¶œë ¥
    """
    for col in columns:
        print(f"\n\nğŸŸ¢ [ì»¬ëŸ¼: {col}]")
        
        # ê·¸ë£¹ë³„ ê°œìˆ˜
        count_table = df.groupby([col, segment_col]).size().unstack(fill_value=0)
        print("âœ… Count:")
        display(count_table)
        
        # ê·¸ë£¹ë³„ ë¹„ìœ¨ (row-wise ë¹„ìœ¨, ë°±ë¶„ìœ¨ë¡œ ë³€í™˜)
        ratio_table = count_table.div(count_table.sum(axis=0), axis=1) * 100
        print("âœ… Ratio (%):")
        display(ratio_table.round(4))  # ë³´ê¸° ì¢‹ê²Œ ì†Œìˆ˜ì  ë‘˜ì§¸ìë¦¬ê¹Œì§€

In [17]:
show_segment_distribution(selected_df, cols_to_drop)

ğŸŸ¢ [ì»¬ëŸ¼: ìë°œí•œë„ê°ì•¡íšŸìˆ˜_R12M]
âœ… Count:

Segment           A    B       C        D         E
ìë°œí•œë„ê°ì•¡íšŸìˆ˜_R12M
0íšŒ             5832  864  764340  2093094  11522538
1íšŒ                0    0    1188     2346      9762
2íšŒ                0    0      12       12        12

âœ… Ratio (%):

Segment            A      B        C        D        E
ìë°œí•œë„ê°ì•¡íšŸìˆ˜_R12M
0íšŒ             100.0  100.0  99.8432  99.8875  99.9152
1íšŒ               0.0    0.0   0.1552   0.1120   0.0846
2íšŒ               0.0    0.0   0.0016   0.0006   0.0001

ğŸŸ¢ [ì»¬ëŸ¼: ìë°œí•œë„ê°ì•¡ê¸ˆì•¡_R12M]
âœ… Count:

Segment           A    B       C        D         E
ìë°œí•œë„ê°ì•¡ê¸ˆì•¡_R12M
0              5832  864  764208  2092692  11521302
1                 0    0    1260     2646     10500
2                 0    0      72      114       510

âœ… Ratio (%):

Segment            A      B        C        D        E
ìë°œí•œë„ê°ì•¡ê¸ˆì•¡_R12M
0              100.0  100.0  99.8260  99.8683  99.9045
1                0.0    0.0   0.1646   0.1263   0.0910
2                0.0    0.0   0.0094   0.0054   0.0044

ğŸŸ¢ [ì»¬ëŸ¼: ìë°œí•œë„ê°ì•¡í›„ê²½ê³¼ì›”]
âœ… Count:

Segment        A    B       C        D         E
ìë°œí•œë„ê°ì•¡í›„ê²½ê³¼ì›”
0              0    0     108      372      1224
1              0    0      48       96       396
2              0    0       6       42       138
3              0    0       0       18        48
4              0    0       0        0        12
11             0    0       6        0        12
12          5832  864  765372  2094924  11530482

âœ… Ratio (%):

Segment         A      B        C        D        E
ìë°œí•œë„ê°ì•¡í›„ê²½ê³¼ì›”
0             0.0    0.0   0.0141   0.0178   0.0106
1             0.0    0.0   0.0063   0.0046   0.0034
2             0.0    0.0   0.0008   0.0020   0.0012
3             0.0    0.0   0.0000   0.0009   0.0004
4             0.0    0.0   0.0000   0.0000   0.0001
11            0.0    0.0   0.0008   0.0000   0.0001
12          100.0  100.0  99.9781  99.9748  99.9841

ğŸŸ¢ [ì»¬ëŸ¼: íŠ¹ë³„í•œë„ë³´ìœ ì—¬ë¶€_R3M]
âœ… Count:

Segment          A    B       C        D         E
íŠ¹ë³„í•œë„ë³´ìœ ì—¬ë¶€_R3M
0             5832  864  765540  2095434  11531592
1                0    0       0       18       720

âœ… Ratio (%):

Segment           A      B      C        D        E
íŠ¹ë³„í•œë„ë³´ìœ ì—¬ë¶€_R3M
0             100.0  100.0  100.0  99.9991  99.9938
1               0.0    0.0    0.0   0.0009   0.0062

ğŸŸ¢ [ì»¬ëŸ¼: ì—°ì²´ê°ì•¡ì—¬ë¶€_R3M]
âœ… Count:

Segment        A    B       C        D         E
ì—°ì²´ê°ì•¡ì—¬ë¶€_R3M
0           5832  864  759792  2072622  11460906
1              0    0    5748    22830     71406

âœ… Ratio (%):

Segment         A      B        C        D        E
ì—°ì²´ê°ì•¡ì—¬ë¶€_R3M
0           100.0  100.0  99.2492  98.9105  99.3808
1             0.0    0.0   0.7508   1.0895   0.6192

ğŸŸ¢ [ì»¬ëŸ¼: í•œë„ì‹¬ì‚¬ìš”ì²­ê±´ìˆ˜]
âœ… Count:

Segment      A    B       C        D         E
í•œë„ì‹¬ì‚¬ìš”ì²­ê±´ìˆ˜
0íšŒ        5832  864  765474  2095362  11531946
1íšŒì´ìƒ         0    0      66       90       366

âœ… Ratio (%):

Segment       A      B        C        D        E
í•œë„ì‹¬ì‚¬ìš”ì²­ê±´ìˆ˜
0íšŒ        100.0  100.0  99.9914  99.9957  99.9968
1íšŒì´ìƒ        0.0    0.0   0.0086   0.0043   0.0032

ğŸŸ¢ [ì»¬ëŸ¼: í•œë„ìš”ì²­ê±°ì ˆê±´ìˆ˜]
âœ… Count:

Segment      A    B       C        D         E
í•œë„ìš”ì²­ê±°ì ˆê±´ìˆ˜
0         5832  864  765486  2095398  11532054
1            0    0      54       54       258

âœ… Ratio (%):

Segment       A      B        C        D        E
í•œë„ìš”ì²­ê±°ì ˆê±´ìˆ˜
0         100.0  100.0  99.9929  99.9974  99.9978
1           0.0    0.0   0.0071   0.0026   0.0022

ğŸŸ¢ [ì»¬ëŸ¼: í•œë„ì‹¬ì‚¬ìš”ì²­í›„ê²½ê³¼ì›”]
âœ… Count:

Segment        A    B       C        D         E
í•œë„ì‹¬ì‚¬ìš”ì²­í›„ê²½ê³¼ì›”
0              0    0       0        0         6
1              0    0      36       48       198
2              0    0       6       24       114
3           5832  864  765498  2095380  11531994

âœ… Ratio (%):

Segment         A      B        C        D        E
í•œë„ì‹¬ì‚¬ìš”ì²­í›„ê²½ê³¼ì›”
0             0.0    0.0   0.0000   0.0000   0.0001
1             0.0    0.0   0.0047   0.0023   0.0017
2             0.0    0.0   0.0008   0.0011   0.0010
3           100.0  100.0  99.9945  99.9966  99.9972

ğŸŸ¢ [ì»¬ëŸ¼: ì‹œì¥ë‹¨ê¸°ì—°ì²´ì—¬ë¶€_R6M]
âœ… Count:

Segment          A    B       C        D         E
ì‹œì¥ë‹¨ê¸°ì—°ì²´ì—¬ë¶€_R6M
0             5832  864  765540  2095422  11532036
1                0    0       0       30       276

âœ… Ratio (%):

Segment           A      B      C        D        E
ì‹œì¥ë‹¨ê¸°ì—°ì²´ì—¬ë¶€_R6M
0             100.0  100.0  100.0  99.9986  99.9976
1               0.0    0.0    0.0   0.0014   0.0024

ğŸŸ¢ [ì»¬ëŸ¼: ì‹œì¥ë‹¨ê¸°ì—°ì²´ì—¬ë¶€_R3M]
âœ… Count:

Segment          A    B       C        D         E
ì‹œì¥ë‹¨ê¸°ì—°ì²´ì—¬ë¶€_R3M
0             5832  864  765540  2095446  11532198
1                0    0       0        6       114

âœ… Ratio (%):

Segment           A      B      C        D       E
ì‹œì¥ë‹¨ê¸°ì—°ì²´ì—¬ë¶€_R3M
0             100.0  100.0  100.0  99.9997  99.999
1               0.0    0.0    0.0   0.0003   0.001

ğŸŸ¢ [ì»¬ëŸ¼: Segment]
âœ… Count:

Segment     A    B       C        D         E
Segment
A        5832    0       0        0         0
B           0  864       0        0         0
C           0    0  765540        0         0
D           0    0       0  2095452         0
E           0    0       0        0  11532312

âœ… Ratio (%):

Segment      A      B      C      D      E
Segment
A        100.0    0.0    0.0    0.0    0.0
B          0.0  100.0    0.0    0.0    0.0
C          0.0    0.0  100.0    0.0    0.0
D          0.0    0.0    0.0  100.0    0.0
E          0.0    0.0    0.0    0.0  100.0

In [10]:
import pandas as pd

def evaluate_segment_usefulness(df, columns, segment_col='Segment', rare_thresh=100):
    results = []

    for col in columns:
        value_counts = df[col].value_counts()
        rare_values = value_counts[value_counts < rare_thresh].index

        # Segment count & ratio
        count_table = df.groupby([col, segment_col]).size().unstack(fill_value=0)
        ratio_table = count_table.div(count_table.sum(axis=1), axis=0)

        # Segmentë³„ ìµœëŒ€-ìµœì†Œ ë¹„ìœ¨ ì°¨ì´
        max_gap_per_segment = ratio_table.max() - ratio_table.min()
        total_max_gap = max_gap_per_segment.max()

        # Segment ì ë¦¼ë„ (ê°’ë³„ ìµœê³  ë¹„ìœ¨ì˜ í‰ê· )
        max_ratios = ratio_table.max(axis=1)
        mean_peak_ratio = max_ratios.mean()

        # í¬ê·€ê°’ ë¹„ìœ¨
        rare_ratio = df[col].isin(rare_values).mean()

        # ìœ ì˜ë¯¸ë„ íŒì •
        if total_max_gap >= 0.4 and mean_peak_ratio >= 0.75:
            judgment = 'ë†’ìŒ'
        elif total_max_gap >= 0.2 and mean_peak_ratio >= 0.6:
            judgment = 'ì¤‘ê°„'
        else:
            judgment = 'ë‚®ìŒ'


        results.append({
            'ì»¬ëŸ¼': col,
            'ê°’ ìˆ˜': df[col].nunique(),
            'ìµœëŒ€ë¹„ìœ¨ì°¨(%)': round(total_max_gap * 100, 1),
            'ì ë¦¼ë„í‰ê· (%)': round(mean_peak_ratio * 100, 1),
            'í¬ê·€ê°’ë¹„ì¤‘(%)': round(rare_ratio * 100, 2),
            'ìœ ì˜ë¯¸ì„±': judgment
        })

    result_df = pd.DataFrame(results).sort_values(by='ìœ ì˜ë¯¸ì„±', ascending=False)
    return result_df

In [11]:
cols_to_check = cols_to_drop
result = evaluate_segment_usefulness(selected_df, cols_to_check)
display(result)

               ì»¬ëŸ¼  ê°’ ìˆ˜  ìµœëŒ€ë¹„ìœ¨ì°¨(%)  ì ë¦¼ë„í‰ê· (%)  í¬ê·€ê°’ë¹„ì¤‘(%) ìœ ì˜ë¯¸ì„±
0   ì´ìš©ê°€ëŠ¥ì¹´ë“œìˆ˜_ì²´í¬_ê°€ì¡±    3      22.9      68.0       0.0   ì¤‘ê°„
3       ì œíœ´ì—°íšŒë¹„_B0M    8     100.0      72.1       0.0   ì¤‘ê°„
5  ì²­êµ¬ê¸ˆì•¡_ì œíœ´ì—°íšŒë¹„_B0M    8     100.0      72.1       0.0   ì¤‘ê°„
2       ê¸°ë³¸ì—°íšŒë¹„_B0M   14      68.0      80.6       0.0   ë†’ìŒ
4  ì²­êµ¬ê¸ˆì•¡_ê¸°ë³¸ì—°íšŒë¹„_B0M   14      68.0      80.6       0.0   ë†’ìŒ
6         Segment    5     100.0     100.0       0.0   ë†’ìŒ
1    ì—°íšŒë¹„ë°œìƒì¹´ë“œìˆ˜_B0M    2       4.3      78.8       0.0   ë‚®ìŒ