In [7]:
import pandas as pd
import gc
import numpy as np

In [12]:
base_path = 'open\\test\\2.신용정보\\'

months = ["07", "08", "09", "10", "11", "12"]
monthly_list = []

for month_str in months:
    file_path = f"{base_path}2018{month_str}_test_신용정보.parquet"
    var_name = f"df{month_str}"  # ← 여기 이름을 var_name으로 맞춤

    try:
        df = pd.read_parquet(file_path, engine = "pyarrow")
        globals()[var_name] = df
        monthly_list.append(df)
        print(f"✅ {var_name} 생성 완료 (파일: {file_path})")
    except FileNotFoundError:
        print(f"⚠️ 파일 없음: {file_path}")

✅ df07 생성 완료 (파일: open\test\2.신용정보\201807_test_신용정보.parquet)
✅ df08 생성 완료 (파일: open\test\2.신용정보\201808_test_신용정보.parquet)
✅ df09 생성 완료 (파일: open\test\2.신용정보\201809_test_신용정보.parquet)
✅ df10 생성 완료 (파일: open\test\2.신용정보\201810_test_신용정보.parquet)
✅ df11 생성 완료 (파일: open\test\2.신용정보\201811_test_신용정보.parquet)
✅ df12 생성 완료 (파일: open\test\2.신용정보\201812_test_신용정보.parquet)

In [13]:
merged_df = pd.concat(monthly_list, ignore_index=True)
merged_df

,기준년월,ID,최초한도금액,카드이용한도금액,CA한도금액,일시상환론한도금액,월상환론한도금액,CA이자율_할인전,CL이자율_할인전,RV일시불이자율_할인전,...,연체감액여부_R3M,한도심사요청건수,한도요청거절건수,한도심사요청후경과월,한도심사거절후경과월,시장단기연체여부_R6M,시장단기연체여부_R3M,시장연체상환여부_R6M,시장연체상환여부_R3M,rv최초시작후경과일
0,201807,TEST_00000,0,50902,18131,0,0,14.641712,11.894873,10.346302,...,0,0회,0,3,3,0,0,0,0,99999999
1,201807,TEST_00001,0,50080,16819,0,0,18.992879,17.600092,14.021300,...,0,0회,0,3,3,0,0,0,0,99999999
2,201807,TEST_00002,0,100045,30505,0,19499,14.823453,14.817385,10.679822,...,0,0회,0,3,3,0,0,0,0,99999999
3,201807,TEST_00003,0,18508,6402,0,156102,15.121715,15.284812,11.674446,...,0,0회,0,3,3,0,0,0,0,99999999
4,201807,TEST_00004,10000,4033,0,42195,52784,14.220050,10.897462,10.777585,...,0,0회,0,3,3,0,0,0,0,99999999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,201812,TEST_99995,0,0,0,0,0,14.642972,11.898260,10.674317,...,0,0회,0,3,3,0,0,0,0,99999999
599996,201812,TEST_99996,0,49025,17876,48022,152797,14.221370,14.901302,10.324015,...,0,0회,0,3,3,0,0,0,0,99999999
599997,201812,TEST_99997,0,29996,13332,89997,156313,15.207480,11.902432,11.495748,...,0,0회,0,3,3,0,0,0,0,99999999
599998,201812,TEST_99998,0,42610,17362,90003,204480,15.268772,15.299862,11.264263,...,0,0회,0,3,3,0,0,0,0,99999999
599999,201812,TEST_99999,0,86444,30242,90002,180635,14.722716,11.899745,11.089403,...,0,0회,0,3,3,0,0,0,0,99999999

In [14]:
merged_df.to_csv('test_2_신용정보_병합.csv', index=False, encoding='utf-8-sig')

In [15]:
# 열어서 확인하는 용도
df2 = pd.read_csv('test_2_신용정보_병합.csv')
df2

,기준년월,ID,최초한도금액,카드이용한도금액,CA한도금액,일시상환론한도금액,월상환론한도금액,CA이자율_할인전,CL이자율_할인전,RV일시불이자율_할인전,...,연체감액여부_R3M,한도심사요청건수,한도요청거절건수,한도심사요청후경과월,한도심사거절후경과월,시장단기연체여부_R6M,시장단기연체여부_R3M,시장연체상환여부_R6M,시장연체상환여부_R3M,rv최초시작후경과일
0,201807,TEST_00000,0,50902,18131,0,0,14.641712,11.894873,10.346302,...,0,0회,0,3,3,0,0,0,0,99999999
1,201807,TEST_00001,0,50080,16819,0,0,18.992879,17.600092,14.021300,...,0,0회,0,3,3,0,0,0,0,99999999
2,201807,TEST_00002,0,100045,30505,0,19499,14.823453,14.817385,10.679822,...,0,0회,0,3,3,0,0,0,0,99999999
3,201807,TEST_00003,0,18508,6402,0,156102,15.121715,15.284812,11.674446,...,0,0회,0,3,3,0,0,0,0,99999999
4,201807,TEST_00004,10000,4033,0,42195,52784,14.220050,10.897462,10.777585,...,0,0회,0,3,3,0,0,0,0,99999999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,201812,TEST_99995,0,0,0,0,0,14.642972,11.898260,10.674317,...,0,0회,0,3,3,0,0,0,0,99999999
599996,201812,TEST_99996,0,49025,17876,48022,152797,14.221370,14.901302,10.324015,...,0,0회,0,3,3,0,0,0,0,99999999
599997,201812,TEST_99997,0,29996,13332,89997,156313,15.207480,11.902432,11.495748,...,0,0회,0,3,3,0,0,0,0,99999999
599998,201812,TEST_99998,0,42610,17362,90003,204480,15.268772,15.299862,11.264263,...,0,0회,0,3,3,0,0,0,0,99999999
599999,201812,TEST_99999,0,86444,30242,90002,180635,14.722716,11.899745,11.089403,...,0,0회,0,3,3,0,0,0,0,99999999