In [2]:
import pandas as pd
import gc
import numpy as np

In [8]:
base_path = 'open/train/1.회원정보/'

months = ["07", "08", "09", "10", "11", "12"]
monthly_list = []

for month_str in months:
    file_path = f"{base_path}2018{month_str}_train_회원정보.parquet"
    var_name = f"df{month_str}"  # ← 여기 이름을 var_name으로 맞춤

    try:
        df = pd.read_parquet(file_path, engine = "pyarrow")
        # df = pd.read_csv(file_path)
        globals()[var_name] = df
        monthly_list.append(df)
        print(f"✅ {var_name} 생성 완료 (파일: {file_path})")
    except FileNotFoundError:
        print(f"⚠️ 파일 없음: {file_path}")

✅ df07 생성 완료 (파일: open/train/1.회원정보/201807_train_회원정보.parquet)
✅ df08 생성 완료 (파일: open/train/1.회원정보/201808_train_회원정보.parquet)
✅ df09 생성 완료 (파일: open/train/1.회원정보/201809_train_회원정보.parquet)
✅ df10 생성 완료 (파일: open/train/1.회원정보/201810_train_회원정보.parquet)
✅ df11 생성 완료 (파일: open/train/1.회원정보/201811_train_회원정보.parquet)
✅ df12 생성 완료 (파일: open/train/1.회원정보/201812_train_회원정보.parquet)

In [9]:
merged_df = pd.concat(monthly_list, ignore_index=True)
merged_df

,기준년월,ID,남녀구분코드,연령,Segment,회원여부_이용가능,회원여부_이용가능_CA,회원여부_이용가능_카드론,소지여부_신용,소지카드수_유효_신용,...,할인금액_제휴연회비_B0M,청구금액_기본연회비_B0M,청구금액_제휴연회비_B0M,상품관련면제카드수_B0M,임직원면제카드수_B0M,우수회원면제카드수_B0M,기타면제카드수_B0M,카드신청건수,Life_Stage,최종카드발급경과월
0,201807,TRAIN_000000,2,40대,D,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(2),22
1,201807,TRAIN_000001,1,30대,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(1),18
2,201807,TRAIN_000002,1,30대,C,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀출산기,20
3,201807,TRAIN_000003,2,40대,D,1,1,0,1,2,...,0,0,0,0개,0개,0개,0개,1,자녀성장(2),17
4,201807,TRAIN_000004,2,40대,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,1,자녀성장(1),15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201812,TRAIN_399995,2,70대이상,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,노년생활,39
2399996,201812,TRAIN_399996,2,50대,D,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(2),24
2399997,201812,TRAIN_399997,1,30대,C,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀출산기,18
2399998,201812,TRAIN_399998,1,40대,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(1),27
2399999,201812,TRAIN_399999,2,40대,E,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(1),18

In [12]:
seg = merged_df[['ID', 'Segment']]
seg

                   ID Segment
0        TRAIN_000000       D
1        TRAIN_000001       E
2        TRAIN_000002       C
3        TRAIN_000003       D
4        TRAIN_000004       E
...               ...     ...
2399995  TRAIN_399995       E
2399996  TRAIN_399996       D
2399997  TRAIN_399997       C
2399998  TRAIN_399998       E
2399999  TRAIN_399999       E

[2400000 rows x 2 columns]

In [13]:
seg.to_csv('결측치 처리/Segment/Segment_병합.csv', index=False, encoding='utf-8-sig')

In [15]:
# 열어서 확인하는 용도
df2 = pd.read_csv('test_2_신용정보_병합.csv')
df2

,기준년월,ID,최초한도금액,카드이용한도금액,CA한도금액,일시상환론한도금액,월상환론한도금액,CA이자율_할인전,CL이자율_할인전,RV일시불이자율_할인전,...,연체감액여부_R3M,한도심사요청건수,한도요청거절건수,한도심사요청후경과월,한도심사거절후경과월,시장단기연체여부_R6M,시장단기연체여부_R3M,시장연체상환여부_R6M,시장연체상환여부_R3M,rv최초시작후경과일
0,201807,TEST_00000,0,50902,18131,0,0,14.641712,11.894873,10.346302,...,0,0회,0,3,3,0,0,0,0,99999999
1,201807,TEST_00001,0,50080,16819,0,0,18.992879,17.600092,14.021300,...,0,0회,0,3,3,0,0,0,0,99999999
2,201807,TEST_00002,0,100045,30505,0,19499,14.823453,14.817385,10.679822,...,0,0회,0,3,3,0,0,0,0,99999999
3,201807,TEST_00003,0,18508,6402,0,156102,15.121715,15.284812,11.674446,...,0,0회,0,3,3,0,0,0,0,99999999
4,201807,TEST_00004,10000,4033,0,42195,52784,14.220050,10.897462,10.777585,...,0,0회,0,3,3,0,0,0,0,99999999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,201812,TEST_99995,0,0,0,0,0,14.642972,11.898260,10.674317,...,0,0회,0,3,3,0,0,0,0,99999999
599996,201812,TEST_99996,0,49025,17876,48022,152797,14.221370,14.901302,10.324015,...,0,0회,0,3,3,0,0,0,0,99999999
599997,201812,TEST_99997,0,29996,13332,89997,156313,15.207480,11.902432,11.495748,...,0,0회,0,3,3,0,0,0,0,99999999
599998,201812,TEST_99998,0,42610,17362,90003,204480,15.268772,15.299862,11.264263,...,0,0회,0,3,3,0,0,0,0,99999999
599999,201812,TEST_99999,0,86444,30242,90002,180635,14.722716,11.899745,11.089403,...,0,0회,0,3,3,0,0,0,0,99999999