In [15]:
import pandas as pd
import gc
import sys
import numpy as np

In [2]:
# 데이터프레임을 넣고 column별 특성 및 결측값, 고유값들을 확인하는 함수를 작성해본다.
# 필수는 아니지만 전체적인 흐름을 파악하기 쉬워진다.

def resumetable(df, n):
    print(f'데이터셋 크기: {df.shape}')                                # 데이터프레임의 전체 크기(행, 열) 출력

    summary = pd.DataFrame(df.dtypes, columns=['데이터 타입'])         # 각 피처의 데이터 타입을 가져와 데이터프레임으로 생성
    summary = summary.reset_index()                                    # 인덱스를 초기화하여 컬럼으로 변환
    summary = summary.rename(columns={'index':'피처'})                 # 'index' 컬럼명을 '피처'로 변경

    summary['결측값 개수'] = df.isnull().sum().values                 # 각 피처의 결측값(null) 개수 계산
    summary['고유값 개수'] = df.nunique().values                      # 각 피처의 고유값 개수 계산
    
    for i in range(n):
        summary[f"{i+1}번째 값"] = df.iloc[i].values
    
    return summary                                                     # 요약 테이블 반환

In [12]:
df1 = pd.read_csv('결측치 처리/병합/test_2_신용정보_병합.csv')

In [4]:
with pd.option_context('display.max_rows', None):
    display(resumetable(df1, 5))

데이터셋 크기: (600000, 42)

,피처,데이터 타입,결측값 개수,고유값 개수,1번째 값,2번째 값,3번째 값,4번째 값,5번째 값
0,기준년월,int64,0,6,201807,201807,201807,201807,201807
1,ID,object,0,100000,TEST_00000,TEST_00001,TEST_00002,TEST_00003,TEST_00004
2,최초한도금액,int64,0,5095,0,0,0,0,10000
3,카드이용한도금액,int64,0,58576,50902,50080,100045,18508,4033
4,CA한도금액,int64,0,58835,18131,16819,30505,6402,0
5,일시상환론한도금액,int64,0,5485,0,0,0,0,42195
6,월상환론한도금액,int64,0,53311,0,0,19499,156102,52784
7,CA이자율_할인전,float64,0,507958,14.641712,18.992879,14.823453,15.121715,14.22005
8,CL이자율_할인전,float64,0,571158,11.894873,17.600092,14.817385,15.284812,10.897462
9,RV일시불이자율_할인전,float64,0,505779,10.346302,14.0213,10.679822,11.674446,10.777585
10,RV현금서비스이자율_할인전,float64,0,583584,13.321243,18.941409,13.650847,14.625283,13.092707
11,RV신청일자,int64,0,1718,99991231,99991231,99991231,99991231,99991231
12,RV약정청구율,float64,0,12686,0.0,0.0,0.0,0.0,0.0
13,RV최소결제비율,float64,0,6,9.99998,14.99997,9.99998,14.99997,9.99998
14,자발한도감액횟수_R12M,object,0,3,0회,0회,0회,0회,0회
15,자발한도감액금액_R12M,int64,0,3,0,0,0,0,0
16,자발한도감액후경과월,int64,0,6,12,12,12,12,12
17,강제한도감액횟수_R12M,int64,0,5,0,0,1,0,0
18,강제한도감액금액_R12M,int64,0,7,0,0,1,0,0
19,강제한도감액후경과월,int64,0,13,12,12,9,12,12
20,한도증액횟수_R12M,object,0,2,0회,0회,1회이상,0회,0회
21,한도증액금액_R12M,int64,0,4,0,0,1,0,0
22,한도증액후경과월,int64,0,13,12,12,3,12,12
23,상향가능한도금액,int64,0,19,7,0,0,3,2
24,상향가능CA한도금액,int64,0,5,2,0,0,1,0
25,카드론동의여부,object,0,2,N,Y,Y,Y,Y
26,월상환론상향가능한도금액,int64,0,13,18,0,0,0,0
27,RV전환가능여부,object,0,2,Z,N,Z,Z,Z
28,일시불ONLY전환가능여부,int64,0,2,1,0,1,1,1
29,카드이용한도금액_B1M,int64,0,62256,49999,50000,100053,21035,4291
30,카드이용한도금액_B2M,int64,0,65008,50006,50003,100056,19693,3924
31,특별한도보유여부_R3M,int64,0,2,0,0,0,0,0
32,연체감액여부_R3M,int64,0,2,0,0,0,0,0
33,한도심사요청건수,object,0,2,0회,0회,0회,0회,0회
34,한도요청거절건수,int64,0,2,0,0,0,0,0
35,한도심사요청후경과월,int64,0,3,3,3,3,3,3
36,한도심사거절후경과월,int64,0,3,3,3,3,3,3
37,시장단기연체여부_R6M,int64,0,2,0,0,0,0,0
38,시장단기연체여부_R3M,int64,0,2,0,0,0,0,0
39,시장연체상환여부_R6M,int64,0,2,0,0,0,0,0
40,시장연체상환여부_R3M,int64,0,1,0,0,0,0,0
41,rv최초시작후경과일,int64,0,1251,99999999,99999999,99999999,99999999,99999999

In [6]:
df1 = df1.drop(columns = ['시장연체상환여부_R3M', '시장연체상환여부_R6M'])

In [7]:
resumetable(df1,3)

데이터셋 크기: (600000, 40)

,피처,데이터 타입,결측값 개수,고유값 개수,1번째 값,2번째 값,3번째 값
0,기준년월,int64,0,6,201807,201807,201807
1,ID,object,0,100000,TEST_00000,TEST_00001,TEST_00002
2,최초한도금액,int64,0,5095,0,0,0
3,카드이용한도금액,int64,0,58576,50902,50080,100045
4,CA한도금액,int64,0,58835,18131,16819,30505
5,일시상환론한도금액,int64,0,5485,0,0,0
6,월상환론한도금액,int64,0,53311,0,0,19499
7,CA이자율_할인전,float64,0,507958,14.641712,18.992879,14.823453
8,CL이자율_할인전,float64,0,571158,11.894873,17.600092,14.817385
9,RV일시불이자율_할인전,float64,0,505779,10.346302,14.0213,10.679822
10,RV현금서비스이자율_할인전,float64,0,583584,13.321243,18.941409,13.650847
11,RV신청일자,int64,0,1718,99991231,99991231,99991231
12,RV약정청구율,float64,0,12686,0.0,0.0,0.0
13,RV최소결제비율,float64,0,6,9.99998,14.99997,9.99998
14,자발한도감액횟수_R12M,object,0,3,0회,0회,0회
15,자발한도감액금액_R12M,int64,0,3,0,0,0
16,자발한도감액후경과월,int64,0,6,12,12,12
17,강제한도감액횟수_R12M,int64,0,5,0,0,1
18,강제한도감액금액_R12M,int64,0,7,0,0,1
19,강제한도감액후경과월,int64,0,13,12,12,9
20,한도증액횟수_R12M,object,0,2,0회,0회,1회이상
21,한도증액금액_R12M,int64,0,4,0,0,1
22,한도증액후경과월,int64,0,13,12,12,3
23,상향가능한도금액,int64,0,19,7,0,0
24,상향가능CA한도금액,int64,0,5,2,0,0
25,카드론동의여부,object,0,2,N,Y,Y
26,월상환론상향가능한도금액,int64,0,13,18,0,0
27,RV전환가능여부,object,0,2,Z,N,Z
28,일시불ONLY전환가능여부,int64,0,2,1,0,1
29,카드이용한도금액_B1M,int64,0,62256,49999,50000,100053
30,카드이용한도금액_B2M,int64,0,65008,50006,50003,100056
31,특별한도보유여부_R3M,int64,0,2,0,0,0
32,연체감액여부_R3M,int64,0,2,0,0,0
33,한도심사요청건수,object,0,2,0회,0회,0회
34,한도요청거절건수,int64,0,2,0,0,0
35,한도심사요청후경과월,int64,0,3,3,3,3
36,한도심사거절후경과월,int64,0,3,3,3,3
37,시장단기연체여부_R6M,int64,0,2,0,0,0
38,시장단기연체여부_R3M,int64,0,2,0,0,0
39,rv최초시작후경과일,int64,0,1251,99999999,99999999,99999999

In [ ]:
10 / 0

In [8]:
df1.to_csv('결측치 처리/unique제거/test_2_신용정보_unique1제거_40.csv', index=False, encoding='utf-8-sig')

In [20]:
del df1
del resumetable

NameError: name 'df1' is not defined

In [22]:
gc.collect()

0