In [1]:
import pandas as pd
import gc
import numpy as np

In [2]:
# 데이터프레임을 넣고 column별 특성 및 결측값, 고유값들을 확인하는 함수를 작성해본다.
# 필수는 아니지만 전체적인 흐름을 파악하기 쉬워진다.

def resumetable(df, n):
    print(f'데이터셋 크기: {df.shape}')                                # 데이터프레임의 전체 크기(행, 열) 출력

    summary = pd.DataFrame(df.dtypes, columns=['데이터 타입'])         # 각 피처의 데이터 타입을 가져와 데이터프레임으로 생성
    summary = summary.reset_index()                                    # 인덱스를 초기화하여 컬럼으로 변환
    summary = summary.rename(columns={'index':'피처'})                 # 'index' 컬럼명을 '피처'로 변경

    summary['결측값 개수'] = df.isnull().sum().values                 # 각 피처의 결측값(null) 개수 계산
    summary['고유값 개수'] = df.nunique().values                      # 각 피처의 고유값 개수 계산
    
    for i in range(n):
        summary[f"{i+1}번째 값"] = df.iloc[i].values
    
    return summary                                                     # 요약 테이블 반환

# 데이터프레임을 넣고 column별 특성 및 결측값, 고유값들을 확인하는 함수를 작성해본다.
# 필수는 아니지만 전체적인 흐름을 파악하기 쉬워진다.

def resumetable(df, n):
    print(f'데이터셋 크기: {df.shape}')                                # 데이터프레임의 전체 크기(행, 열) 출력

    summary = pd.DataFrame(df.dtypes, columns=['데이터 타입'])         # 각 피처의 데이터 타입을 가져와 데이터프레임으로 생성
    summary = summary.reset_index()                                    # 인덱스를 초기화하여 컬럼으로 변환
    summary = summary.rename(columns={'index':'피처'})                 # 'index' 컬럼명을 '피처'로 변경
    summary['결측값 개수'] = df.isnull().sum().values                 # 각 피처의 결측값(null) 개수 계산
    summary['고유값 개수'] = df.nunique().values                      # 각 피처의 고유값 개수 계산
    
    return summary                                                     # 요약 테이블 반환

In [3]:
# # parquet 파일 데이터를 읽어온다.
# df1 = pd.read_parquet('open/train/1.회원정보/201812_train_회원정보.parquet')

In [3]:
df1 = pd.read_csv('test_1_회원정보_병합.csv')

In [4]:
with pd.option_context('display.max_rows', None):
    display(resumetable(df1, 5))

데이터셋 크기: (600000, 77)

,피처,데이터 타입,결측값 개수,고유값 개수,1번째 값,2번째 값,3번째 값,4번째 값,5번째 값
0,기준년월,int64,0,6,201807,201807,201807,201807,201807
1,ID,object,0,100000,TEST_00000,TEST_00001,TEST_00002,TEST_00003,TEST_00004
2,남녀구분코드,int64,0,2,1,1,1,2,2
3,연령,object,0,6,40대,60대,40대,40대,40대
4,회원여부_이용가능,int64,0,2,1,1,1,1,1
5,회원여부_이용가능_CA,int64,0,2,1,1,1,1,0
6,회원여부_이용가능_카드론,int64,0,2,0,0,1,1,1
7,소지여부_신용,int64,0,2,1,1,1,1,1
8,소지카드수_유효_신용,int64,0,5,2,1,2,1,1
9,소지카드수_이용가능_신용,int64,0,4,2,1,2,1,1
10,입회일자_신용,int64,0,320,20140501,20160201,20180301,20120701,20031201
11,입회경과개월수_신용,int64,0,328,51,30,5,73,176
12,회원여부_연체,int64,0,2,0,0,0,0,0
13,이용거절여부_카드론,int64,0,2,1,0,0,0,0
14,동의여부_한도증액안내,int64,0,2,0,0,0,0,0
15,수신거부여부_TM,int64,0,2,1,0,0,0,1
16,수신거부여부_DM,int64,0,2,1,0,0,0,1
17,수신거부여부_메일,int64,0,2,1,0,0,0,1
18,수신거부여부_SMS,int64,0,2,1,0,0,1,0
19,가입통신회사코드,object,97083,3,K사,S사,S사,K사,S사
20,탈회횟수_누적,int64,0,3,1,2,2,0,0
21,최종탈회후경과월,int64,0,67,100,20,101,0,0
22,탈회횟수_발급6개월이내,int64,0,2,0,0,0,0,0
23,탈회횟수_발급1년이내,int64,0,2,0,0,0,0,0
24,거주시도명,object,0,17,경기,인천,경기,인천,경기
25,직장시도명,object,62233,17,경기,인천,경기,인천,경기
26,마케팅동의여부,int64,0,2,0,1,1,1,1
27,유효카드수_신용체크,int64,0,9,2,2,2,1,3
28,유효카드수_신용,int64,0,6,2,1,2,1,2
29,유효카드수_신용_가족,int64,0,3,1,0,0,0,0
30,유효카드수_체크,int64,0,4,0,1,0,0,1
31,유효카드수_체크_가족,int64,0,2,0,0,0,0,0
32,이용가능카드수_신용체크,int64,0,9,2,2,2,1,3
33,이용가능카드수_신용,int64,0,6,2,1,2,1,2
34,이용가능카드수_신용_가족,int64,0,3,1,0,0,0,0
35,이용가능카드수_체크,int64,0,4,0,1,0,0,1
36,이용가능카드수_체크_가족,int64,0,2,0,0,0,0,0
37,이용카드수_신용체크,int64,0,7,2,2,2,1,3
38,이용카드수_신용,int64,0,6,2,1,2,1,2
39,이용카드수_신용_가족,int64,0,3,1,0,0,0,0
40,이용카드수_체크,int64,0,3,0,1,0,0,1
41,이용카드수_체크_가족,int64,0,1,0,0,0,0,0
42,이용금액_R3M_신용체크,int64,0,89329,21458,18681,40758,5255,16148
43,이용금액_R3M_신용,int64,0,84996,21458,10759,40758,5255,14290
44,이용금액_R3M_신용_가족,int64,0,7598,7879,0,0,0,0
45,이용금액_R3M_체크,int64,0,27305,0,7921,0,0,1857
46,이용금액_R3M_체크_가족,int64,0,1,0,0,0,0,0
47,_1순위카드이용금액,int64,0,61936,13852,11065,27071,4827,8011
48,_1순위카드이용건수,int64,0,227,51,40,154,105,52
49,_1순위신용체크구분,object,7231,2,신용,신용,신용,신용,신용
50,_2순위카드이용금액,int64,0,37941,6021,0,10704,0,6387
51,_2순위카드이용건수,int64,0,205,33,0,69,0,39
52,_2순위신용체크구분,object,239888,2,신용,체크,신용,NaN,신용
53,최종유효년월_신용_이용가능,float64,53149,73,201905.0,202108.0,202303.0,202302.0,202307.0
54,최종유효년월_신용_이용,float64,134817,70,201908.0,202108.0,202301.0,202212.0,202306.0
55,최종카드발급일자,float64,10854,1885,20141009.0,20161229.0,20180223.0,20171220.0,20180616.0
56,보유여부_해외겸용_본인,int64,0,2,1,1,0,1,1
57,이용가능여부_해외겸용_본인,int64,0,2,1,1,0,1,1
58,이용여부_3M_해외겸용_본인,int64,0,2,1,1,0,1,1
59,보유여부_해외겸용_신용_본인,int64,0,2,1,1,0,1,0
60,이용가능여부_해외겸용_신용_본인,int64,0,2,1,1,0,1,0
61,이용여부_3M_해외겸용_신용_본인,int64,0,2,1,1,0,1,0
62,연회비발생카드수_B0M,object,0,2,0개,0개,0개,0개,0개
63,연회비할인카드수_B0M,int64,0,1,0,0,0,0,0
64,기본연회비_B0M,int64,0,12,0,0,0,0,0
65,제휴연회비_B0M,int64,0,5,0,0,0,0,0
66,할인금액_기본연회비_B0M,int64,0,1,0,0,0,0,0
67,할인금액_제휴연회비_B0M,int64,0,1,0,0,0,0,0
68,청구금액_기본연회비_B0M,int64,0,12,0,0,0,0,0
69,청구금액_제휴연회비_B0M,int64,0,5,0,0,0,0,0
70,상품관련면제카드수_B0M,object,0,1,0개,0개,0개,0개,0개
71,임직원면제카드수_B0M,object,0,1,0개,0개,0개,0개,0개
72,우수회원면제카드수_B0M,object,0,1,0개,0개,0개,0개,0개
73,기타면제카드수_B0M,object,0,1,0개,0개,0개,0개,0개
74,카드신청건수,int64,0,2,0,0,0,0,0
75,Life_Stage,object,0,7,자녀성장(1),자녀독립기,자녀성장(1),자녀성장(1),자녀성장(1)
76,최종카드발급경과월,int64,0,66,45,19,5,7,1

### 가입통신회사코드

In [5]:
df1['가입통신회사코드'].value_counts()

가입통신회사코드
S사    247153
K사    142936
L사    112828
Name: count, dtype: int64

In [6]:
df1['가입통신회사코드'] = df1['가입통신회사코드'].fillna('S사')

### 직장시도명

In [10]:
df1['직장시도명'].value_counts(dropna = False)

직장시도명
경기     149122
서울     144290
NaN     62233
인천      36173
부산      33477
대전      30201
충북      25862
경남      23039
경북      21206
대구      18986
울산      16182
전남      13182
광주       8709
충남       6966
전북       5160
강원       3773
세종        778
제주        661
Name: count, dtype: int64

In [14]:
df1['직장시도명'] = df1['직장시도명'].fillna('기타')

In [9]:
# df1.dropna(subset=['직장시도명'], inplace=True)

### n순위신용체크구분

In [12]:
# 결측치 포함해서 카운트
print(df1['_1순위신용체크구분'].value_counts(dropna=False))
print(df1['_2순위신용체크구분'].value_counts(dropna=False))

_1순위신용체크구분
신용     572976
체크      19793
NaN      7231
Name: count, dtype: int64
_2순위신용체크구분
NaN    239888
신용     217100
체크     143012
Name: count, dtype: int64

In [11]:
df1['_1순위신용체크구분'] = df1['_1순위신용체크구분'].replace({None: np.nan})

In [12]:
df1['_2순위신용체크구분'] = df1['_2순위신용체크구분'].replace({None: np.nan})

### Segment 분류 후 저장

In [13]:
# 메모리에서 삭제하는 방법. 이 변수를 더 쓸 수 없음.
# del df1
# gc.collect()

In [14]:
# df1['Segment'].value_counts()

Segment
E    281986
D     55520
C     20628
A       159
B        24
Name: count, dtype: int64

In [15]:
# Segment = df1[['ID', 'Segment']].copy()
# df1 = df1.drop('Segment', axis=1)

In [15]:
with pd.option_context('display.max_rows', None):
    display(resumetable(df1, 5))

데이터셋 크기: (600000, 77)

,피처,데이터 타입,결측값 개수,고유값 개수,1번째 값,2번째 값,3번째 값,4번째 값,5번째 값
0,기준년월,int64,0,6,201807,201807,201807,201807,201807
1,ID,object,0,100000,TEST_00000,TEST_00001,TEST_00002,TEST_00003,TEST_00004
2,남녀구분코드,int64,0,2,1,1,1,2,2
3,연령,object,0,6,40대,60대,40대,40대,40대
4,회원여부_이용가능,int64,0,2,1,1,1,1,1
5,회원여부_이용가능_CA,int64,0,2,1,1,1,1,0
6,회원여부_이용가능_카드론,int64,0,2,0,0,1,1,1
7,소지여부_신용,int64,0,2,1,1,1,1,1
8,소지카드수_유효_신용,int64,0,5,2,1,2,1,1
9,소지카드수_이용가능_신용,int64,0,4,2,1,2,1,1
10,입회일자_신용,int64,0,320,20140501,20160201,20180301,20120701,20031201
11,입회경과개월수_신용,int64,0,328,51,30,5,73,176
12,회원여부_연체,int64,0,2,0,0,0,0,0
13,이용거절여부_카드론,int64,0,2,1,0,0,0,0
14,동의여부_한도증액안내,int64,0,2,0,0,0,0,0
15,수신거부여부_TM,int64,0,2,1,0,0,0,1
16,수신거부여부_DM,int64,0,2,1,0,0,0,1
17,수신거부여부_메일,int64,0,2,1,0,0,0,1
18,수신거부여부_SMS,int64,0,2,1,0,0,1,0
19,가입통신회사코드,object,0,3,K사,S사,S사,K사,S사
20,탈회횟수_누적,int64,0,3,1,2,2,0,0
21,최종탈회후경과월,int64,0,67,100,20,101,0,0
22,탈회횟수_발급6개월이내,int64,0,2,0,0,0,0,0
23,탈회횟수_발급1년이내,int64,0,2,0,0,0,0,0
24,거주시도명,object,0,17,경기,인천,경기,인천,경기
25,직장시도명,object,0,18,경기,인천,경기,인천,경기
26,마케팅동의여부,int64,0,2,0,1,1,1,1
27,유효카드수_신용체크,int64,0,9,2,2,2,1,3
28,유효카드수_신용,int64,0,6,2,1,2,1,2
29,유효카드수_신용_가족,int64,0,3,1,0,0,0,0
30,유효카드수_체크,int64,0,4,0,1,0,0,1
31,유효카드수_체크_가족,int64,0,2,0,0,0,0,0
32,이용가능카드수_신용체크,int64,0,9,2,2,2,1,3
33,이용가능카드수_신용,int64,0,6,2,1,2,1,2
34,이용가능카드수_신용_가족,int64,0,3,1,0,0,0,0
35,이용가능카드수_체크,int64,0,4,0,1,0,0,1
36,이용가능카드수_체크_가족,int64,0,2,0,0,0,0,0
37,이용카드수_신용체크,int64,0,7,2,2,2,1,3
38,이용카드수_신용,int64,0,6,2,1,2,1,2
39,이용카드수_신용_가족,int64,0,3,1,0,0,0,0
40,이용카드수_체크,int64,0,3,0,1,0,0,1
41,이용카드수_체크_가족,int64,0,1,0,0,0,0,0
42,이용금액_R3M_신용체크,int64,0,89329,21458,18681,40758,5255,16148
43,이용금액_R3M_신용,int64,0,84996,21458,10759,40758,5255,14290
44,이용금액_R3M_신용_가족,int64,0,7598,7879,0,0,0,0
45,이용금액_R3M_체크,int64,0,27305,0,7921,0,0,1857
46,이용금액_R3M_체크_가족,int64,0,1,0,0,0,0,0
47,_1순위카드이용금액,int64,0,61936,13852,11065,27071,4827,8011
48,_1순위카드이용건수,int64,0,227,51,40,154,105,52
49,_1순위신용체크구분,object,7231,2,신용,신용,신용,신용,신용
50,_2순위카드이용금액,int64,0,37941,6021,0,10704,0,6387
51,_2순위카드이용건수,int64,0,205,33,0,69,0,39
52,_2순위신용체크구분,object,239888,2,신용,체크,신용,NaN,신용
53,최종유효년월_신용_이용가능,float64,53149,73,201905.0,202108.0,202303.0,202302.0,202307.0
54,최종유효년월_신용_이용,float64,134817,70,201908.0,202108.0,202301.0,202212.0,202306.0
55,최종카드발급일자,float64,10854,1885,20141009.0,20161229.0,20180223.0,20171220.0,20180616.0
56,보유여부_해외겸용_본인,int64,0,2,1,1,0,1,1
57,이용가능여부_해외겸용_본인,int64,0,2,1,1,0,1,1
58,이용여부_3M_해외겸용_본인,int64,0,2,1,1,0,1,1
59,보유여부_해외겸용_신용_본인,int64,0,2,1,1,0,1,0
60,이용가능여부_해외겸용_신용_본인,int64,0,2,1,1,0,1,0
61,이용여부_3M_해외겸용_신용_본인,int64,0,2,1,1,0,1,0
62,연회비발생카드수_B0M,object,0,2,0개,0개,0개,0개,0개
63,연회비할인카드수_B0M,int64,0,1,0,0,0,0,0
64,기본연회비_B0M,int64,0,12,0,0,0,0,0
65,제휴연회비_B0M,int64,0,5,0,0,0,0,0
66,할인금액_기본연회비_B0M,int64,0,1,0,0,0,0,0
67,할인금액_제휴연회비_B0M,int64,0,1,0,0,0,0,0
68,청구금액_기본연회비_B0M,int64,0,12,0,0,0,0,0
69,청구금액_제휴연회비_B0M,int64,0,5,0,0,0,0,0
70,상품관련면제카드수_B0M,object,0,1,0개,0개,0개,0개,0개
71,임직원면제카드수_B0M,object,0,1,0개,0개,0개,0개,0개
72,우수회원면제카드수_B0M,object,0,1,0개,0개,0개,0개,0개
73,기타면제카드수_B0M,object,0,1,0개,0개,0개,0개,0개
74,카드신청건수,int64,0,2,0,0,0,0,0
75,Life_Stage,object,0,7,자녀성장(1),자녀독립기,자녀성장(1),자녀성장(1),자녀성장(1)
76,최종카드발급경과월,int64,0,66,45,19,5,7,1

In [16]:
df1.to_csv('결측치 처리/test_1_회원정보_병합.csv', index=False, encoding='utf-8-sig')

In [18]:
# with pd.option_context('display.max_rows', None):
#     display(resumetable(df2,3))

In [20]:
df2 = pd.read_csv('결측치 처리/병합/test_2_회원정보_병합.csv')
resumetable(df2,3)

데이터셋 크기: (600000, 77)

               피처  데이터 타입  결측값 개수  고유값 개수       1번째 값       2번째 값       3번째 값
0            기준년월   int64       0       6      201807      201807      201807
1              ID  object       0  100000  TEST_00000  TEST_00001  TEST_00002
2          남녀구분코드   int64       0       2           1           1           1
3              연령  object       0       6         40대         60대         40대
4       회원여부_이용가능   int64       0       2           1           1           1
..            ...     ...     ...     ...         ...         ...         ...
72  우수회원면제카드수_B0M  object       0       1          0개          0개          0개
73    기타면제카드수_B0M  object       0       1          0개          0개          0개
74         카드신청건수   int64       0       2           0           0           0
75     Life_Stage  object       0       7     자녀성장(1)       자녀독립기     자녀성장(1)
76      최종카드발급경과월   int64       0      66          45          19           5

[77 rows x 7 columns]

In [20]:
# Segment.to_csv('결측치 처리/201812_Segment.csv', index=False, encoding='utf-8-sig')