In [1]:
# 기본
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import gc

# 그래프 설정
sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 13
plt.rcParams['axes.unicode_minus'] = False

In [2]:
# 데이터프레임을 넣고 column별 특성 및 결측값, 고유값들을 확인하는 함수를 작성해본다.
# 필수는 아니지만 전체적인 흐름을 파악하기 쉬워진다.

def resumetable(df, n):
    print(f'데이터셋 크기: {df.shape}')                                # 데이터프레임의 전체 크기(행, 열) 출력

    summary = pd.DataFrame(df.dtypes, columns=['데이터 타입'])         # 각 피처의 데이터 타입을 가져와 데이터프레임으로 생성
    summary = summary.reset_index()                                    # 인덱스를 초기화하여 컬럼으로 변환
    summary = summary.rename(columns={'index':'피처'})                 # 'index' 컬럼명을 '피처'로 변경

    summary['결측값 개수'] = df.isnull().sum().values                 # 각 피처의 결측값(null) 개수 계산
    summary['고유값 개수'] = df.nunique().values                      # 각 피처의 고유값 개수 계산
    
    for i in range(n):
        summary[f"{i+1}번째 값"] = df.iloc[i].values
    
    return summary                                                     # 요약 테이블 반환

In [3]:
df1 = pd.read_csv('EDA/98이상제거/train_1_회원정보_98이상제거_60.csv')

In [4]:
with pd.option_context('display.max_rows', None):
    display(resumetable(df1, 5))

데이터셋 크기: (2400000, 60)

,피처,데이터 타입,결측값 개수,고유값 개수,1번째 값,2번째 값,3번째 값,4번째 값,5번째 값
0,기준년월,int64,0,6,201807,201807,201807,201807,201807
1,ID,object,0,400000,TRAIN_000000,TRAIN_000001,TRAIN_000002,TRAIN_000003,TRAIN_000004
2,남녀구분코드,int64,0,2,2,1,1,2,2
3,연령,object,0,6,40대,30대,30대,40대,40대
4,회원여부_이용가능,int64,0,2,1,1,1,1,1
5,회원여부_이용가능_CA,int64,0,2,1,1,1,1,1
6,회원여부_이용가능_카드론,int64,0,2,0,1,0,0,1
7,소지카드수_유효_신용,int64,0,5,1,1,1,2,1
8,소지카드수_이용가능_신용,int64,0,4,1,1,1,2,1
9,입회일자_신용,int64,0,325,20130101,20170801,20080401,20160501,20180601
10,입회경과개월수_신용,int64,0,335,67,12,124,27,2
11,이용거절여부_카드론,int64,0,2,0,0,0,0,0
12,동의여부_한도증액안내,int64,0,2,1,0,1,1,0
13,수신거부여부_TM,int64,0,2,0,0,0,0,0
14,수신거부여부_DM,int64,0,2,0,0,0,0,0
15,수신거부여부_메일,int64,0,2,0,0,0,0,0
16,수신거부여부_SMS,int64,0,2,0,0,0,0,0
17,가입통신회사코드,object,0,3,L사,K사,S사,L사,K사
18,탈회횟수_누적,int64,0,3,1,1,1,1,1
19,최종탈회후경과월,int64,0,71,61,98,60,100,101
20,탈회횟수_발급6개월이내,int64,0,2,0,0,0,0,0
21,탈회횟수_발급1년이내,int64,0,2,0,0,0,0,0
22,거주시도명,object,0,17,서울,경기,서울,부산,광주
23,직장시도명,object,0,18,서울,경기,서울,부산,광주
24,마케팅동의여부,int64,0,2,1,1,1,1,1
25,유효카드수_신용체크,int64,0,9,2,1,2,3,2
26,유효카드수_신용,int64,0,6,1,1,1,2,1
27,유효카드수_신용_가족,int64,0,3,0,0,0,0,0
28,유효카드수_체크,int64,0,4,1,0,1,1,1
29,유효카드수_체크_가족,int64,0,3,0,0,0,0,0
30,이용가능카드수_신용체크,int64,0,9,2,1,2,3,2
31,이용가능카드수_신용,int64,0,6,1,1,1,2,1
32,이용가능카드수_신용_가족,int64,0,3,0,0,0,0,0
33,이용가능카드수_체크,int64,0,4,1,0,1,1,1
34,이용카드수_신용체크,int64,0,7,1,1,1,1,1
35,이용카드수_신용,int64,0,6,1,1,1,1,0
36,이용카드수_신용_가족,int64,0,3,0,0,0,0,0
37,이용카드수_체크,int64,0,3,0,0,0,0,1
38,이용금액_R3M_신용체크,int64,0,124193,196,13475,23988,3904,1190
39,이용금액_R3M_신용,int64,0,120246,196,13475,23988,3904,0
40,이용금액_R3M_신용_가족,int64,0,12226,0,0,0,0,0
41,이용금액_R3M_체크,int64,0,54673,0,0,0,0,1190
42,_1순위카드이용금액,int64,0,81963,3681,13323,24493,5933,0
43,_1순위카드이용건수,int64,0,227,26,46,28,1,-2
44,_1순위신용체크구분,object,27950,2,신용,신용,신용,신용,신용
45,_2순위카드이용금액,int64,0,53948,0,0,0,0,0
46,_2순위카드이용건수,int64,0,209,0,0,0,0,0
47,_2순위신용체크구분,object,958115,2,체크,NaN,체크,체크,체크
48,최종유효년월_신용_이용가능,float64,210447,74,202110.0,202112.0,202111.0,202201.0,202201.0
49,최종유효년월_신용_이용,float64,534231,72,202112.0,202204.0,202201.0,202111.0,NaN
50,최종카드발급일자,float64,41965,1939,20160912.0,20170122.0,20161113.0,20170205.0,20170409.0
51,보유여부_해외겸용_본인,int64,0,2,0,0,1,1,1
52,이용가능여부_해외겸용_본인,int64,0,2,0,0,1,1,1
53,이용여부_3M_해외겸용_본인,int64,0,2,0,0,0,1,1
54,보유여부_해외겸용_신용_본인,int64,0,2,0,0,0,1,0
55,이용가능여부_해외겸용_신용_본인,int64,0,2,0,0,0,1,0
56,이용여부_3M_해외겸용_신용_본인,int64,0,2,0,0,0,1,0
57,카드신청건수,int64,0,2,0,0,0,1,1
58,Life_Stage,object,0,7,자녀성장(2),자녀성장(1),자녀출산기,자녀성장(2),자녀성장(1)
59,최종카드발급경과월,int64,0,68,22,18,20,17,15

### 연령 : '20대'에서 각 나이대 중앙값인 25(int)로 변경.

In [5]:
df1['연령'].value_counts()

연령
40대      733146
30대      592146
50대      546342
60대      246990
20대      191880
70대이상     89496
Name: count, dtype: int64

In [6]:
age_to_numeric = {
    '20대': 25,
    '30대': 35,
    '40대': 45,
    '50대': 55,
    '60대': 65,
    '70대이상': 75
}

df1['연령_num'] = df1['연령'].map(age_to_numeric)

In [7]:
df1.drop(columns = '연령', inplace=True)

### _n순위신용체크구분 : 결측값 기타로 대체

In [8]:
df1['_1순위신용체크구분'] = df1['_1순위신용체크구분'].fillna('기타')
df1['_2순위신용체크구분'] = df1['_2순위신용체크구분'].fillna('기타')

### 연회비발생카드수_B0M

In [9]:
df1['연회비발생카드수_B0M'].value_counts()

KeyError: '연회비발생카드수_B0M'

In [ ]:
df1['연회비발생카드여부_B0M'] = df1['연회비발생카드수_B0M'].apply(lambda x: 0 if x == '0개' else 1)

In [ ]:
df1['연회비발생카드여부_B0M'].value_counts()

In [ ]:
df1.drop(columns = '연회비발생카드수_B0M', inplace=True)

### 최종유효년월_신용_이용가능, 최종유효년월_신용_이용, 최종카드발급일자
- 다른 컬럼과 비교한 결과 공통점이나 패턴을 찾을 수 없었고, 중요한 컬럼이 아니라고 판단하여 컬럼 제거

In [10]:
df1.drop(columns=['최종유효년월_신용_이용가능', '최종유효년월_신용_이용', '최종카드발급일자'], inplace=True)

### 확인 후 저장

In [11]:
with pd.option_context('display.max_rows', None):
    display(resumetable(df1, 5))

데이터셋 크기: (2400000, 57)

,피처,데이터 타입,결측값 개수,고유값 개수,1번째 값,2번째 값,3번째 값,4번째 값,5번째 값
0,기준년월,int64,0,6,201807,201807,201807,201807,201807
1,ID,object,0,400000,TRAIN_000000,TRAIN_000001,TRAIN_000002,TRAIN_000003,TRAIN_000004
2,남녀구분코드,int64,0,2,2,1,1,2,2
3,회원여부_이용가능,int64,0,2,1,1,1,1,1
4,회원여부_이용가능_CA,int64,0,2,1,1,1,1,1
5,회원여부_이용가능_카드론,int64,0,2,0,1,0,0,1
6,소지카드수_유효_신용,int64,0,5,1,1,1,2,1
7,소지카드수_이용가능_신용,int64,0,4,1,1,1,2,1
8,입회일자_신용,int64,0,325,20130101,20170801,20080401,20160501,20180601
9,입회경과개월수_신용,int64,0,335,67,12,124,27,2
10,이용거절여부_카드론,int64,0,2,0,0,0,0,0
11,동의여부_한도증액안내,int64,0,2,1,0,1,1,0
12,수신거부여부_TM,int64,0,2,0,0,0,0,0
13,수신거부여부_DM,int64,0,2,0,0,0,0,0
14,수신거부여부_메일,int64,0,2,0,0,0,0,0
15,수신거부여부_SMS,int64,0,2,0,0,0,0,0
16,가입통신회사코드,object,0,3,L사,K사,S사,L사,K사
17,탈회횟수_누적,int64,0,3,1,1,1,1,1
18,최종탈회후경과월,int64,0,71,61,98,60,100,101
19,탈회횟수_발급6개월이내,int64,0,2,0,0,0,0,0
20,탈회횟수_발급1년이내,int64,0,2,0,0,0,0,0
21,거주시도명,object,0,17,서울,경기,서울,부산,광주
22,직장시도명,object,0,18,서울,경기,서울,부산,광주
23,마케팅동의여부,int64,0,2,1,1,1,1,1
24,유효카드수_신용체크,int64,0,9,2,1,2,3,2
25,유효카드수_신용,int64,0,6,1,1,1,2,1
26,유효카드수_신용_가족,int64,0,3,0,0,0,0,0
27,유효카드수_체크,int64,0,4,1,0,1,1,1
28,유효카드수_체크_가족,int64,0,3,0,0,0,0,0
29,이용가능카드수_신용체크,int64,0,9,2,1,2,3,2
30,이용가능카드수_신용,int64,0,6,1,1,1,2,1
31,이용가능카드수_신용_가족,int64,0,3,0,0,0,0,0
32,이용가능카드수_체크,int64,0,4,1,0,1,1,1
33,이용카드수_신용체크,int64,0,7,1,1,1,1,1
34,이용카드수_신용,int64,0,6,1,1,1,1,0
35,이용카드수_신용_가족,int64,0,3,0,0,0,0,0
36,이용카드수_체크,int64,0,3,0,0,0,0,1
37,이용금액_R3M_신용체크,int64,0,124193,196,13475,23988,3904,1190
38,이용금액_R3M_신용,int64,0,120246,196,13475,23988,3904,0
39,이용금액_R3M_신용_가족,int64,0,12226,0,0,0,0,0
40,이용금액_R3M_체크,int64,0,54673,0,0,0,0,1190
41,_1순위카드이용금액,int64,0,81963,3681,13323,24493,5933,0
42,_1순위카드이용건수,int64,0,227,26,46,28,1,-2
43,_1순위신용체크구분,object,0,3,신용,신용,신용,신용,신용
44,_2순위카드이용금액,int64,0,53948,0,0,0,0,0
45,_2순위카드이용건수,int64,0,209,0,0,0,0,0
46,_2순위신용체크구분,object,0,3,체크,기타,체크,체크,체크
47,보유여부_해외겸용_본인,int64,0,2,0,0,1,1,1
48,이용가능여부_해외겸용_본인,int64,0,2,0,0,1,1,1
49,이용여부_3M_해외겸용_본인,int64,0,2,0,0,0,1,1
50,보유여부_해외겸용_신용_본인,int64,0,2,0,0,0,1,0
51,이용가능여부_해외겸용_신용_본인,int64,0,2,0,0,0,1,0
52,이용여부_3M_해외겸용_신용_본인,int64,0,2,0,0,0,1,0
53,카드신청건수,int64,0,2,0,0,0,1,1
54,Life_Stage,object,0,7,자녀성장(2),자녀성장(1),자녀출산기,자녀성장(2),자녀성장(1)
55,최종카드발급경과월,int64,0,68,22,18,20,17,15
56,연령_num,int64,0,6,45,35,35,45,45

In [12]:
df1.to_csv('EDA/모델링/train_1_모델링용_98이상제거.csv', index=False, encoding='utf-8-sig')