In [1]:
# 기본 라이브러리
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False

# 경고 뜨지 않게
import warnings
warnings.filterwarnings('ignore')

#저장라이브러리
import pickle

# 평가함수
# 분류용
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score

# 회귀용
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

# 표준화
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

# LabelEncoder
from sklearn.preprocessing import LabelEncoder

# 데이터를 학습용과 검증용으로 나눈다.
from sklearn.model_selection import train_test_split

import os

In [2]:
# 데이터 불러오기
df1 = pd.read_csv('to_csv_all/to_csv/train/train_병합/train_3_매출정보.csv')

In [15]:
# 결측치 없는 고유값(0) 1인 불필요 데이터 삭제
cols_to_drop = ['이용건수_부분무이자_B0M', 
                '이용금액_부분무이자_B0M', 
                '이용건수_부분무이자_B0M',
                '여유_여행이용금액',
                '납부_렌탈료이용금액',
                '납부_유선방송이용금액',
                '납부_렌탈료이용금액',
                '납부_건강연금이용금액',
                '할부건수_부분_3M_R12M',
                '할부건수_부분_6M_R12M',
                '할부건수_부분_14M_R12M',
                'RP건수_유선방송_B0M',
                'RP건수_건강_B0M',
                'RP후경과월_유선방송',
                'RP후경과월_건강',
                '증감_RP건수_유선방송_전월',
                '증감_RP건수_건강_전월',
                '이용개월수_당사페이_R6M',
                '이용금액_당사페이_R6M',
                '이용금액_당사기타_R6M',
                '이용건수_당사페이_R6M',
                '이용건수_당사기타_R6M',
                '이용금액_당사페이_B0M',
                '이용금액_당사기타_B0M',
                '이용건수_당사페이_B0M',
                '이용건수_당사기타_B0M',
                '승인거절건수_입력오류_B0M',]
                
df2 = df1.drop(cols_to_drop, axis=1)

In [13]:
df2

,기준년월,ID,최종이용일자_기본,최종이용일자_신판,최종이용일자_CA,최종이용일자_카드론,최종이용일자_체크,최종이용일자_일시불,최종이용일자_할부,이용건수_신용_B0M,...,승인거절건수_B0M,승인거절건수_한도초과_B0M,승인거절건수_BL_B0M,승인거절건수_기타_B0M,승인거절건수_R3M,승인거절건수_한도초과_R3M,승인거절건수_BL_R3M,승인거절건수_입력오류_R3M,승인거절건수_기타_R3M,이용금액대
0,201807,TRAIN_000000,20180719,20180713,20180719,미이용,20180203,20180709,20180713,11,...,0,0,0,0,3,3,0,0,0,01.100만원+
1,201807,TRAIN_000001,20180719,20180719,20170728,20170327,미이용,20180719,20171231,13,...,0,0,0,0,3,3,0,0,0,03.30만원+
2,201807,TRAIN_000002,20180706,20180706,20180706,20151119,20141230,20180706,20180627,12,...,0,0,0,0,0,0,0,0,0,01.100만원+
3,201807,TRAIN_000003,20180721,20180715,20180721,미이용,20141111,20180704,20180715,6,...,0,0,0,0,3,3,0,0,0,01.100만원+
4,201807,TRAIN_000004,20180124,20180124,미이용,미이용,20180512,20180124,미이용,-2,...,0,0,0,0,0,0,0,0,0,09.미사용
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201812,TRAIN_399995,20181220,20181220,미이용,미이용,20181212,20181220,20160501,2,...,0,0,0,0,0,0,0,0,0,09.미사용
2399996,201812,TRAIN_399996,20181202,20181202,미이용,20170112,미이용,20181202,20180112,10,...,0,0,0,0,0,0,0,0,0,01.100만원+
2399997,201812,TRAIN_399997,20181230,20181230,미이용,미이용,20131124,20181230,20180919,10,...,0,0,0,0,0,0,0,0,0,02.50만원+
2399998,201812,TRAIN_399998,20161224,20161224,미이용,미이용,미이용,20161224,20150122,-2,...,0,0,0,0,0,0,0,0,0,09.미사용
2399999,201812,TRAIN_399999,20180831,20180831,미이용,미이용,미이용,20180831,20180713,-1,...,0,0,0,0,0,0,0,0,0,04.10만원+

In [17]:
df2.to_csv('train_3_매출정보(컬럼삭제).csv', index=False, encoding='utf-8-sig')